Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

docker-build-first_docker:
  before_script:
  - cd $DOCKERFILE_CONTEXT
  variables:
    DOCKER_BUILDKIT: '1'
    GITLAB_CI_ARCH: amd64
    DOCKERFILE_NAME: Dockerfile
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_BUILD_ARGS: ''
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
  script:
  ...

docker-build_docker:
  variables:
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-amd64
      GITLAB_CI_ARCH: amd64
    - DOCKER_IMAGE_TAGS: latest-arm64
      GITLAB_CI_ARCH: arm64
  needs:
  ...

docker-build_gl-artifacts:
  variables:
    DOCKERFILE_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gl-artifacts
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-amd64
      GITLAB_CI_ARCH: amd64
    - DOCKER_IMAGE_TAGS: latest-arm64
      GITLAB_CI_ARCH: arm64
  needs:
  ...

docker-build_node:
  variables:
    DOCKERFILE_CONTEXT: ./node
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-node
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: ${NODE_VERSION}-${GITLAB_CI_ARCH}
      DOCKER_IMAGE_BUILD_ARGS: NODE_VERSION=${NODE_VERSION}
      NODE_VERSION:
      - 16
      - 16-alpine
  ...

docker-build_gh-release-tracker:
  variables:
    DOCKERFILE_CONTEXT: ./gh-release-tracker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gh-release-tracker
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-amd64
      GITLAB_CI_ARCH: amd64
    - DOCKER_IMAGE_TAGS: latest-arm64
      GITLAB_CI_ARCH: arm64
  needs:
  ...

docker-build_markdown-toc:
  variables:
    DOCKERFILE_CONTEXT: ./markdown-toc
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-markdown-toc
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-amd64
      GITLAB_CI_ARCH: amd64
    - DOCKER_IMAGE_TAGS: latest-arm64
      GITLAB_CI_ARCH: arm64
  needs:
  ...

docker-build_update-docker-hub-readme:
  variables:
    DOCKERFILE_CONTEXT: ./update-docker-hub-readme
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-update-docker-hub-readme
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-amd64
      GITLAB_CI_ARCH: amd64
    - DOCKER_IMAGE_TAGS: latest-arm64
      GITLAB_CI_ARCH: arm64
  ...

docker-build_semantic-release:
  variables:
    DOCKERFILE_CONTEXT: ./semantic-release
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-semantic-release
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-amd64
      GITLAB_CI_ARCH: amd64
    - DOCKER_IMAGE_TAGS: latest-arm64
      GITLAB_CI_ARCH: arm64
  needs:
  ...

fix: use downgraded client
  docker/Dockerfile
Due: docker-build-first_docker, docker-build_docker

fix: update dockerfile
  docker/Dockerfile
Due: docker-build-first_docker, docker-build_docker

fix: add ability to apply templates to tags
  common/utils/apply_template.go
  docker/build/tasks_build.go
  docker/build/tasks_buildx.go
  docker/build/utils.go
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix: add debugging log
  docker/login/tasks.go
Due: docker-build-first_docker, docker-build_docker

revert: back to old method
  docker/login/tasks.go
  docker/setup/tasks.go
Due: docker-build-first_docker, docker-build_docker

fix(deps): update module github.com/joho/godotenv to v1.5.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.31.10
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/ekalinin/github-markdown-toc.go to v1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/docker/docker to v23.0.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module golang.org/x/oauth2 to v0.5.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.31.11
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/google/go-github/v49 to v50
  gh-release-tracker/pipe/context.go
  gh-release-tracker/pipe/tasks.go
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/urfave/cli/v2 to v2.24.4
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.31.12
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.31.13
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/google/go-github/v50 to v50.1.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.31.14
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix: update go version
  .gitlab-ci.yml
  go/Dockerfile-alpine
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix: ability to change go command runner in the template
  templates/v2/go-run.gitlab-ci.yml
Due: none

ci: update template to be overridable for golang
  templates/v2/go-run.gitlab-ci.yml
Due: none

fix(deps): update module github.com/urfave/cli/v2 to v2.25.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module golang.org/x/oauth2 to v0.6.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.31.15
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix: update pipes version
  Taskfile.yml
  go.mod
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

chore: update go version
  Taskfile.pipe.yml
  templates/go.gitlab-ci.yml
Due: none

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.2
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.3
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/google/go-github/v50 to v50.2.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.4
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.5
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/urfave/cli/v2 to v2.25.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.6
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/docker/docker to v23.0.2+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/docker/docker to v23.0.3+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

feat(node): add package manager pnpm and proper caching
  node/Dockerfile
  node/install/flags.go
  node/install/pipe.go
  node/install/tasks.go
  node/setup/constants.go
  node/setup/flags.go
  node/setup/pipe.go
  templates/v2/go-install.gitlab-ci.yml
  templates/v2/node-install.gitlab-ci.yml
Due: docker-build_node, docker-build_semantic-release

perf(templates): share cache between branches
  templates/v2/go-install.gitlab-ci.yml
  templates/v2/node-install.gitlab-ci.yml
Due: none

feat(templates): add github status
  templates/v2/github-status.gitlab-ci.yml
Due: none

fix(templates): issues with templating
  templates/v2/github-status.gitlab-ci.yml
Due: none

fix(templates): add missing image
  templates/v2/github-status.gitlab-ci.yml
Due: none

Path conditions:
  docker-build-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_semantic-release: any of: common/**/*, select-env/**/*, node/**/*, semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml
