Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

bootstrap:
  stage: bootstrap
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.bootstrap.yml

go:
  stage: pipes
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./go
        container-image-name: cenk1cenk2/pipe-go2
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
          CONTAINER_IMAGE_BUILD_ARGS: 'GO_VERSION: ''{{ env "GO_VERSION" }}'''
  ...

buildah:
  stage: pipes
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./buildah
        container-image-name: cenk1cenk2/pipe-buildah
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-template:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./_template
        container-image-name: cenk1cenk2/pipe-template
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-buildah:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./buildah
        container-image-name: cenk1cenk2/pipe-buildah
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-docker:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./docker
        container-image-name: cenk1cenk2/pipe-docker
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-go:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./go
        container-image-name: cenk1cenk2/pipe-go
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-helm:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./helm
        container-image-name: cenk1cenk2/pipe-helm
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-markdown-toc:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./markdown-toc
        container-image-name: cenk1cenk2/pipe-markdown-toc
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-node:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./node
        container-image-name: cenk1cenk2/pipe-node
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

chore(deps): lock file maintenance [skip ci]
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

chore(deps): update dependency jdx/mise to v2026.9.16
  mise/Dockerfile
Due: none

fix(deps): update node all minor dependency updates
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

fix(deps): update module gitlab.com/gitlab-org/api/client-go/v3 to v3.15.0
  internal/go.mod
  internal/go.sum
  pulumi/go.mod
  pulumi/go.sum
  terraform/go.mod
  terraform/go.sum
Due: pipe-pulumi, pipe-terraform

chore(deps): put jdx/mise into the automerge cycle
  renovate.json
Due: none

chore(deps): update dependency jdx/mise to v2026.9.17
  mise/Dockerfile
Due: none

fix(deps): update dependency @anolilab/multi-semantic-release to ^4.4.19
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

fix(report): render multiline values and diff colors in plan reports
  internal/markdown/lexer.go
  internal/markdown/markdown.go
  internal/markdown/markdown_test.go
  internal/report/terraform/assets/report.md.gotmpl
  internal/report/terraform/diff.go
  internal/report/terraform/report.go
  internal/report/terraform/report_test.go
  pulumi/preview/diff.go
  pulumi/preview/report_test.go
Due: pipe-pulumi

fix(report): expand unknown and json encoded values in plan reports
  internal/report/terraform/diff.go
  internal/report/terraform/report_test.go
  terraform/plan/diff.go
  terraform/plan/report_test.go
Due: pipe-terraform

chore(deps): update dependency jdx/mise to v2026.9.18
  mise/Dockerfile
Due: none

fix(environment): stop logging variable values and read a restricted environment in specs
  internal/environment/flags.go
  internal/environment/select.go
  internal/environment/select_test.go
  internal/environment/tasks.go
  internal/environment/tasks_test.go
Due: none

fix(pulumi): diff preview reports against the stack state
  internal/report/terraform/diff.go
  internal/report/terraform/report_test.go
  pulumi/preview/diff.go
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  pulumi/preview/state.go
  pulumi/preview/tasks.go
Due: pipe-pulumi

fix(report): write merge request report diffs as unified diffs
  internal/report/terraform/diff.go
  internal/report/terraform/report.go
  internal/report/terraform/report_test.go
  internal/report/terraform/tasks.go
  pulumi/preview/report_test.go
  terraform/plan/report_test.go
Due: pipe-pulumi, pipe-terraform

fix(deps): update go all minor dependency updates
  kustomize/go.mod
  kustomize/go.sum
  pulumi/go.mod
  pulumi/go.sum
Due: pipe-pulumi

fix(deps): update dependency @anolilab/multi-semantic-release to ^4.4.21
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

fix(deps): update dependency @cenk1cenk2/semantic-release-config to ^6.0.2
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

chore(deps): update dependency hk to v2.5.0 [skip ci]
  hk.pkl
Due: none

chore(deps): update dependency jdx/mise to v2026.10.3
  mise/Dockerfile
Due: none

fix(deps): update go all minor dependency updates
  _template/go.mod
  _template/go.sum
  buildah/go.mod
  buildah/go.sum
  github/go.mod
  github/go.sum
  go/go.mod
  go/go.sum
  helm/go.mod
  helm/go.sum
  internal/go.mod
  internal/go.sum
  kustomize/go.mod
  kustomize/go.sum
  mise/go.mod
  mise/go.sum
  node/go.mod
  node/go.sum
  pulumi/go.mod
  pulumi/go.sum
  select-env/go.mod
  select-env/go.sum
  semantic-release/go.mod
  semantic-release/go.sum
  terraform/go.mod
  terraform/go.sum
  tests/go.mod
  tests/go.sum
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(mise): replace the binary by rename to survive etxtbsy
  mise/install/tasks.go
  mise/install/tasks_test.go
Due: none

feat(helm): run helm-unittest suites with the test command (K-2140)
  helm/Dockerfile
  helm/README.md
  helm/main.go
  helm/test/flags.go
  helm/test/pipe.go
  helm/test/suite_test.go
  helm/test/tasks.go
  helm/test/tasks_test.go
Due: pipe-helm, update-docker-hub-readme

fix(deps): update go all minor dependency updates
  internal/go.mod
  internal/go.sum
  pulumi/go.mod
  pulumi/go.sum
  terraform/go.mod
  terraform/go.sum
Due: pipe-pulumi, pipe-terraform

fix(deps): update dependency @cenk1cenk2/semantic-release-config to ^6.0.4
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

fix(deps): update go all minor dependency updates
  internal/go.mod
  internal/go.sum
  kustomize/go.mod
  kustomize/go.sum
  pulumi/go.mod
  pulumi/go.sum
  terraform/go.mod
  terraform/go.sum
Due: pipe-pulumi, pipe-terraform

chore(deps): update registry.k8s.io/kustomize/kustomize docker tag to v5.8.3
  kustomize/Dockerfile
Due: none

chore(deps): update dependency jdx/mise to v2026.10.5
  mise/Dockerfile
Due: none

feat(report): label every resource operation in plan reports
  internal/markdown/lexer.go
  internal/markdown/markdown.go
  internal/markdown/markdown_test.go
  internal/report/terraform/assets/report.md.gotmpl
  internal/report/terraform/diff.go
  internal/report/terraform/report.go
  internal/report/terraform/report_test.go
  internal/report/terraform/summary.go
  kustomize/go.mod
  kustomize/go.sum
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  terraform/plan/report.go
  terraform/plan/report_test.go
Due: pipe-pulumi, pipe-terraform

chore(deps): update dependency jdx/mise to v2026.10.6
  mise/Dockerfile
Due: none

chore(deps): update dependency jdx/mise to v2026.10.7
  mise/Dockerfile
Due: none

feat(report): group updates without property changes apart
  github/client/client_test.go
  github/status/tasks_test.go
  internal/report/terraform/assets/report.md.gotmpl
  internal/report/terraform/diff.go
  internal/report/terraform/property_test.go
  internal/report/terraform/report.go
  internal/report/terraform/report_test.go
  internal/report/terraform/summary.go
  pulumi/preview/diff.go
  pulumi/preview/report_test.go
  pulumi/preview/testdata/plan-unwrapped.md
  pulumi/preview/testdata/plan-versioned.md
  terraform/plan/diff.go
  terraform/plan/report_test.go
  terraform/plan/testdata/report.md
  update-docker-hub-readme/hub/hub_test.go
Due: pipe-pulumi, pipe-terraform, pipe-update-docker-hub-readme

feat(internal): add merge requests adapter (K-2244)
  internal/gitlab/merge_request.go
  internal/gitlab/merge_request_test.go
  internal/gitlab/merge_requests.go
Due: none

feat(pulumi): add generate subcommand (K-2246)
  pulumi/README.md
  pulumi/generate/flags.go
  pulumi/generate/pipe.go
  pulumi/generate/suite_test.go
  pulumi/generate/tasks.go
  pulumi/generate/tasks_test.go
  pulumi/main.go
Due: pipe-pulumi, update-docker-hub-readme

feat(internal): add git helpers for write-back (K-2245)
  internal/git/repository.go
  internal/git/repository_test.go
  internal/git/sync.go
  internal/git/sync_test.go
  internal/paths/destination.go
  internal/paths/destination_test.go
  internal/paths/suite_test.go
Due: none

feat(git): add git pipe with sync command (K-2243)
  .gitlab-ci.yml
  README.md
  Taskfile.yml
  git/Dockerfile
  git/README.md
  git/go.mod
  git/go.sum
  git/main.go
  git/sync/flags.go
  git/sync/pipe.go
  git/sync/report.go
  git/sync/report_test.go
  git/sync/suite_test.go
  git/sync/tasks.go
  git/sync/tasks_test.go
  go.work
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

feat(git): add assignees and reviewers to sync merge requests (K-2261)
  git/README.md
  git/sync/flags.go
  git/sync/pipe.go
  git/sync/tasks.go
  git/sync/tasks_test.go
  internal/gitlab/merge_request.go
  internal/gitlab/merge_request_test.go
  internal/gitlab/merge_requests.go
Due: update-docker-hub-readme

fix(git): tolerate absent destination pathspecs in stage (K-2262)
  internal/git/repository.go
  internal/git/repository_test.go
Due: none

Path conditions:
  bootstrap: (any of: .gitlab-ci.next.yml, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.bootstrap.yml, go/**/*, buildah/**/*) or (any of: go/**, buildah/**, .bootstrap.gitlab-ci.yml)
  go: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, go/
  buildah: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, buildah/
  pipe-template: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, _template/**/*
  pipe-buildah: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, buildah/**/*
  pipe-docker: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, docker/**/*
  pipe-go: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, go/**/*
  pipe-helm: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, helm/**/*
  pipe-markdown-toc: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, markdown-toc/**/*
  pipe-node: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, node/**/*, select-env/**/*
  pipe-pulumi: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, pulumi/**/*
  pipe-select-env: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, select-env/**/*
  pipe-semantic-release: (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**/*, select-env/**/*, node/**/*) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**, select-env/**/*, node/**/*)
  pipe-terraform: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, terraform/**/*
  pipe-update-docker-hub-readme: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, update-docker-hub-readme/**/*
  update-docker-hub-readme: any of: **/README.md
