Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

docker-build-first_go:
  variables:
    DOCKER_BUILDKIT: '1'
    GITLAB_CI_ARCH: amd64
    DOCKERFILE_NAME: Dockerfile
    DOCKERFILE_CONTEXT: ./go
    DOCKER_IMAGE_BUILD_ARGS: ''
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-go
  before_script:
  - cd $DOCKERFILE_CONTEXT
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  ...

docker-manifest-first_go:
  variables:
    DOCKER_BUILDKIT: '1'
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  - docker manifest create ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAGS} ${DOCKER_IMAGE_AMEND_TAGS}
  - docker manifest push --purge $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAGS
  tags:
  - docker
  ...

docker-build-first_docker:
  variables:
    DOCKER_BUILDKIT: '1'
    GITLAB_CI_ARCH: amd64
    DOCKERFILE_NAME: Dockerfile
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_BUILD_ARGS: ''
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
  before_script:
  - cd $DOCKERFILE_CONTEXT
  script:
  ...

docker-manifest-first_docker:
  variables:
    DOCKER_BUILDKIT: '1'
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
    DOCKER_IMAGE_TAGS: latest
    DOCKER_IMAGE_AMEND_TAGS: -a cenk1cenk2/pipe-docker:latest-amd64 -a cenk1cenk2/pipe-docker:latest-arm64
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  ...

docker-build_docker:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-${GITLAB_CI_ARCH}
      GITLAB_CI_ARCH:
      - amd64
      - arm64
  dependencies:
  - 'build: [docker]'

docker-build_gl-artifacts:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gl-artifacts
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-${GITLAB_CI_ARCH}
      GITLAB_CI_ARCH:
      - amd64
      - arm64
  dependencies:
  - 'build: [gl-artifacts]'

docker-build_go:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./go
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-go
    DOCKER_IMAGE_BUILD_ARGS: GO_VERSION=${GO_VERSION}
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: ${GO_VERSION}-${GITLAB_CI_ARCH}
      DOCKER_MANIFEST_TARGET: ${GO_VERSION}
  ...

docker-build_node:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./node
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-node
    DOCKER_MANIFEST_TARGET: ${NODE_VERSION}
    DOCKER_IMAGE_BUILD_ARGS: NODE_VERSION=${NODE_VERSION}
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: ${NODE_VERSION}-${GITLAB_CI_ARCH}
      NODE_VERSION:
      - 16
  ...

docker-build_gh-release-tracker:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./gh-release-tracker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gh-release-tracker
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-${GITLAB_CI_ARCH}
      GITLAB_CI_ARCH:
      - amd64
      - arm64
  dependencies:
  ...

fix: update handling of the fllags
  docker/build/flags.go
  docker/build/pipe.go
  docker/manifest/flags.go
  docker/manifest/pipe.go
  node/login/flags.go
  node/login/pipe.go
  select-env/setup/flags.go
  select-env/setup/pipe.go
  terraform/login/flags.go
  terraform/login/pipe.go
  update-docker-hub-readme/pipe/flags.go
  update-docker-hub-readme/pipe/pipe.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_node, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

feat: update methodology a bit
  _template/main.go
  docker/main.go
  go.mod
  go.sum
  markdown-toc/main.go
  node/main.go
  select-env/main.go
  semantic-release/main.go
  terraform/main.go
  update-docker-hub-readme/main.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.2.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

feat: add buildah pipe
  Taskfile.yml
  _template/README.md
  _template/pipe/constants.go
  _template/pipe/interfaces.go
  buildah/Dockerfile
  buildah/README.md
  buildah/build/flags.go
  buildah/build/pipe.go
  buildah/build/tasks.go
  buildah/build/tasks_tags.go
  buildah/build/utils.go
  buildah/login/flags.go
  buildah/login/pipe.go
  buildah/login/tasks.go
  buildah/main.go
  buildah/manifest/flags.go
  buildah/manifest/pipe.go
  buildah/manifest/tasks.go
  buildah/setup/flags.go
  buildah/setup/pipe.go
  buildah/setup/tasks.go
  buildah/version.go
  docker/README.md
  go.mod
  go.sum
  markdown-toc/README.md
  node/README.md
  select-env/README.md
  semantic-release/README.md
  terraform/README.md
  update-docker-hub-readme/README.md
  update-docker-hub-readme/pipe/flags.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.2.2
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

feat: add the bones for a go pipe
  .migrate.gitlab-ci.yml
  Taskfile.yml
  buildah/build/pipe.go
  buildah/manifest/pipe.go
  go.mod
  go.sum
  go/Dockerfile
  go/build/flags.go
  go/build/pipe.go
  go/build/tasks.go
  go/install/flags.go
  go/install/pipe.go
  go/install/tasks.go
  go/lint/flags.go
  go/lint/pipe.go
  go/lint/tasks.go
  go/main.go
  go/setup/flags.go
  go/setup/pipe.go
  go/setup/tasks.go
  go/version.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

docs: update documentation
  _template/README.md
  buildah/README.md
  docker/README.md
  go.mod
  go.sum
  go/README.md
  markdown-toc/README.md
  node/README.md
  select-env/README.md
  semantic-release/README.md
  terraform/README.md
  update-docker-hub-readme/README.md
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: add caching
  go/build/tasks.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build_go

fix(deps): update module gopkg.in/yaml.v2 to v3
  go.mod
  go/build/flags.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update pipes and the pipeline confoiguration
  .bootstrap.gitlab-ci.yml
  .gitlab-ci.yml
  .migrate.gitlab-ci.yml
  buildah/build/flags.go
  go/build/flags.go
  go/build/pipe.go
  go/build/tasks.go
  go/install/flags.go
  go/install/pipe.go
  go/install/tasks.go
  go/lint/flags.go
  go/lint/pipe.go
  go/lint/tasks.go
  go/main.go
  go/setup/flags.go
  go/setup/pipe.go
  go/tool/flags.go
  go/tool/pipe.go
  go/tool/tasks.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

WIP: [skip ci]
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update
  .bootstrap.gitlab-ci.yml
Due: none

fix: update stages
  .bootstrap.gitlab-ci.yml
Due: none

ci: update tags
  .bootstrap.gitlab-ci.yml
Due: none

ci: update pipeline with needs
  .bootstrap.gitlab-ci.yml
Due: none

ci: remove stage
  .bootstrap.gitlab-ci.yml
Due: none

ci: update pipeline
  .bootstrap.gitlab-ci.yml
Due: none

ci: update formatting
  .bootstrap.gitlab-ci.yml
  buildah/build/flags.go
Due: none

ci: update ci configuration
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.next.yml
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update ci configuration
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update failing things
  buildah/login/flags.go
  go/build/tasks.go
  go/install/tasks.go
  go/tool/tasks.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build_go

ci: update ci
  .gitlab-ci.next.yml
Due: none

ci: always run this for now
  .gitlab-ci.next.yml
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update doubling variables
  .gitlab-ci.bootstrap.yml
  go/install/tasks.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build_go

ci: update flags
  .gitlab-ci.next.yml
  buildah/build/flags.go
Due: none

ci: update paths
  .gitlab-ci.next.yml
Due: none

ci: trigger on pipelione changes
  .gitlab-ci.next.yml
Due: none

fix: wrap up new pipes to work
  .gitlab-ci.bootstrap.yml
  buildah/build/flags.go
  buildah/build/pipe.go
  buildah/build/tasks.go
  go.mod
  go.sum
  go/build/flags.go
  go/build/pipe.go
  go/build/tasks.go
  go/install/tasks.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update piepline
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.pipe.yml
Due: none

ci: update pipeline
  .gitlab-ci.next.yml
  .gitlab-ci.pipe.yml
Due: none

ci: update pipeline
  .gitlab-ci.next.yml
  buildah/Dockerfile
  go/Dockerfile
Due: docker-build-first_go, docker-manifest-first_go, docker-build_go

ci: update ci
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.pipe.yml
  go/Dockerfile
Due: docker-build-first_go, docker-manifest-first_go, docker-build_go

fix: update argument handline
  .gitlab-ci.pipe.yml
  go/main.go
  go/tool/flags.go
  go/tool/pipe.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build_go

fix: update
  .gitlab-ci.next.yml
  buildah/README.md
  go/README.md
Due: docker-build-first_go, docker-manifest-first_go, docker-build_go

ci: migrate pipeline
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.next.yml
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
  buildah/Dockerfile
  go/build/tasks.go
  semantic-release/Dockerfile
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update pipelines
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
  docker/Dockerfile
  terraform/Dockerfile
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Edit .gitlab-ci.pipe.yml
  .gitlab-ci.pipe.yml
Due: none

fix: drop go pipe
  .gitlab-ci.yml
  go.mod
  go/Dockerfile
  go/Dockerfile-alpine
  go/build/flags.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: change name of target
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update ci
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Path conditions:
  docker-build-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-manifest-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-build-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-manifest-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_go: any of: go/**/*, .gitlab-ci.yml
  docker-build_node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_semantic-release: any of: common/**/*, select-env/**/*, node/**/*, semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
