Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

Path conditions:
  publish-first-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-first-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node: any of: node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gh-release-tracker: any of: gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-markdown-toc: any of: markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-update-docker-hub-readme: any of: update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-semantic-release: any of: semantic-release/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml

fix: revalidate to set defautls
  docker/pipe/flags.go
  node/login/flags.go
  select-env/setup/flags.go
Due: publish-first-docker, publish-docker, publish-node, publish-semantic-release

fix: update validate as struct pointer
  docker/pipe/flags.go
  node/login/flags.go
  select-env/setup/flags.go
Due: publish-first-docker, publish-docker, publish-node, publish-semantic-release

fix: update processing flags first
  docker/pipe/flags.go
  docker/pipe/pipe.go
  go.mod
  go.sum
  node/login/flags.go
  node/login/pipe.go
  select-env/setup/flags.go
  select-env/setup/pipe.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update environment selection
  select-env/setup/tasks.go
Due: none

fix: update deps
  go.mod
  select-env/setup/flags.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

chore: tidy
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

chore: update deps
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update conditionls and flags
  common/flags/git.go
  node/Dockerfile
  select-env/setup/flags.go
Due: publish-node, publish-semantic-release

fix(deps): update module github.com/bmatcuk/doublestar/v4 to v4.3.2
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.15.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

chore: update deps
  common/flags/git.go
  go.mod
  go.sum
  select-env/setup/flags.go
  select-env/setup/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: error with initating the flags
  docker/pipe/tasks.go
  node/build/flags.go
  node/main.go
  select-env/setup/tasks.go
Due: publish-first-docker, publish-docker, publish-node, publish-semantic-release

fix: passing in env for run command
  node/install/tasks.go
Due: publish-node, publish-semantic-release

fix(deps): update module github.com/bmatcuk/doublestar/v4 to v4.4.0
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/urfave/cli/v2 to v2.23.5
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update all fast ring minor dependencies
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.16.2
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module golang.org/x/oauth2 to v0.2.0
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.16.3
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat: add environment variable enable flag for wherever it is used
  common/flags/category.go
  common/flags/select_env.go
  docker/README.md
  go.mod
  go.sum
  node/README.md
  node/build/context.go
  node/build/flags.go
  node/build/pipe.go
  node/login/context.go
  node/login/pipe.go
  node/main.go
  node/run/flags.go
  node/run/pipe.go
  select-env/README.md
  select-env/pipe/context.go
  select-env/pipe/flags.go
  select-env/pipe/interfaces.go
  select-env/pipe/pipe.go
  select-env/setup/flags.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update readme generation
  _template/README.md
  docker/README.md
  gh-release-tracker/README.md
  gl-artifacts/README.md
  go.mod
  go.sum
  markdown-toc/README.md
  node/README.md
  node/main.go
  s3-upload/README.md
  select-env/README.md
  semantic-release/README.md
  templates/node-nx.gitlab-ci.yml
  update-docker-hub-readme/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

docs: update document generation and documentation
  _template/README.md
  docker/README.md
  gh-release-tracker/README.md
  gl-artifacts/README.md
  go.mod
  go.sum
  markdown-toc/README.md
  node/README.md
  s3-upload/README.md
  select-env/README.md
  semantic-release/README.md
  update-docker-hub-readme/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat: update disabling subcomponents
  _template/pipe/pipe.go
  docker/README.md
  docker/pipe/pipe.go
  gh-release-tracker/pipe/pipe.go
  gl-artifacts/pipe/pipe.go
  go.mod
  go.sum
  markdown-toc/pipe/pipe.go
  node/README.md
  node/build/pipe.go
  node/install/pipe.go
  node/login/pipe.go
  node/main.go
  node/run/pipe.go
  node/setup/pipe.go
  s3-upload/pipe/pipe.go
  select-env/README.md
  select-env/pipe/pipe.go
  select-env/setup/pipe.go
  semantic-release/pipe/pipe.go
  update-docker-hub-readme/pipe/pipe.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

chore: bump
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

chore: bump
  _template/version.go
  docker/version.go
  gh-release-tracker/version.go
  gl-artifacts/pipe/pipe.go
  gl-artifacts/version.go
  go.mod
  go.sum
  markdown-toc/version.go
  node/setup/tasks.go
  node/version.go
  s3-upload/version.go
  semantic-release/version.go
  update-docker-hub-readme/version.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

chore: update templates [skip ci]
  templates/node-install.gitlab-ci.yml
  templates/node-nx.gitlab-ci.yml
Due: none

ci: extend the ci template
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update variables
  gl-artifacts/pipe/flags.go
Due: publish-first-gl-artifacts, publish-gl-artifacts

fix: update logical error on commands
  node/run/pipe.go
Due: publish-node, publish-semantic-release

fix: update pipe visually
  node/run/tasks.go
Due: publish-node, publish-semantic-release

fix: update initiation of environment
  _template/README.md
  docker/README.md
  gh-release-tracker/README.md
  gl-artifacts/README.md
  go.mod
  go.sum
  markdown-toc/README.md
  node/README.md
  node/run/context.go
  node/run/flags.go
  node/run/pipe.go
  node/run/tasks.go
  s3-upload/README.md
  select-env/README.md
  select-env/setup/flags.go
  semantic-release/README.md
  update-docker-hub-readme/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: simplify flags
  Makefile
  _template/pipe/flags.go
  _template/pipe/pipe.go
  docker/pipe/flags.go
  docker/pipe/pipe.go
  docker/pipe/tasks.go
  docker/pipe/tasks_build.go
  docker/pipe/tasks_buildx.go
  docker/pipe/tasks_tags.go
  gh-release-tracker/pipe/pipe.go
  gl-artifacts/pipe/pipe.go
  go.mod
  go.sum
  markdown-toc/pipe/flags.go
  markdown-toc/pipe/pipe.go
  markdown-toc/pipe/tasks.go
  node/README.md
  node/build/pipe.go
  node/install/pipe.go
  node/install/tasks.go
  node/login/flags.go
  node/login/pipe.go
  node/login/tasks.go
  node/run/flags.go
  node/run/pipe.go
  node/setup/pipe.go
  s3-upload/pipe/pipe.go
  select-env/pipe/pipe.go
  select-env/setup/pipe.go
  semantic-release/README.md
  semantic-release/pipe/flags.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
  update-docker-hub-readme/pipe/flags.go
  update-docker-hub-readme/pipe/pipe.go
  update-docker-hub-readme/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: drop log level
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.19.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.19.2
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/google/go-github/v48 to v48.1.0
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release
