Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

publish-first-docker:
  stage: publish-first
  before_script:
  - cd $DOCKER_CONTEXT
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  variables:
    DOCKER_CONTEXT: ./docker
  ...

publish-first-gl-artifacts:
  stage: publish-first
  before_script:
  - cd $DOCKER_CONTEXT
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  variables:
  ...

publish-docker:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: gitlab-pipes-docker
    IMAGE_TAGS: latest
  ...

publish-node:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./node
    DOCKER_IMAGE_NAME: gitlab-pipes-node
    PARENT_DOWNLOAD_ARTIFACTS: 'build: [./node, pipe]'
  parallel:
    matrix:
  ...

publish-gl-artifacts:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: gitlab-pipes-gl-artifacts
    IMAGE_TAGS: latest
  ...

publish-gh-release-tracker:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./gh-release-tracker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gh-release-tracker
    IMAGE_TAGS: latest
  ...

publish-markdown-toc:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./markdown-toc
    IMAGE_NAME: cenk1cenk2/pipe-markdown-toc
    IMAGE_TAGS: latest
  ...

publish-update-docker-hub-readme:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./update-docker-hub-readme
    IMAGE_NAME: cenk1cenk2/pipe-update-docker-hub-readme
    IMAGE_TAGS: latest
  ...

publish-semantic-release:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./semantic-release
    IMAGE_NAME: cenk1cenk2/pipe-semantic-release
    IMAGE_TAGS: latest
  ...

fix: set ignore error to starting multiarch image
  docker/pipe/tasks_buildx.go
Due: publish-first-docker, publish-docker

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v3 to v3.20.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/bmatcuk/doublestar/v4 to v4.2.0
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/urfave/cli/v2 to v2.11.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update golang.org/x/oauth2 digest to 128564f
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update dependencies and templates
  go.mod
  go.sum
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
  templates/node-build.gitlab-ci.yml
  templates/node-install.gitlab-ci.yml
  templates/node-lint.gitlab-ci.yml
  templates/node-test.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

Update node-test.gitlab-ci.yml
  templates/node-test.gitlab-ci.yml
Due: none

Update go-test.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
Due: none

Update node-lint.gitlab-ci.yml
  templates/node-lint.gitlab-ci.yml
Due: none

chore(deps): update module go to 1.19
  go.mod
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update commands
  node/install/tasks.go
  templates/node-test.gitlab-ci.yml
Due: publish-node

fix: update log level for unarchive artifacts
  gl-artifacts/pipe/tasks.go
Due: publish-first-gl-artifacts, publish-gl-artifacts

fix: update with linting rules
  .gitlab-ci.yml
  .golangci.yml
  Makefile
  docker/pipe/tasks_buildx.go
  docker/pipe/tasks_tags.go
  docker/pipe/utils.go
  gh-release-tracker/pipe/tasks.go
  gl-artifacts/pipe/tasks.go
  markdown-toc/pipe/tasks.go
  node/build/tasks.go
  node/login/tasks.go
  node/run/pipe.go
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-lint.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
  update-docker-hub-readme/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: linting rules
  .golangci.yml
  docker/pipe/tasks_tags.go
  gl-artifacts/pipe/tasks.go
  gl-artifacts/pipe/utils.go
  templates/go-lint.gitlab-ci.yml
  update-docker-hub-readme/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-update-docker-hub-readme

fix: install to usr bin
  templates/go-lint.gitlab-ci.yml
Due: none

fix: update install
  templates/go-lint.gitlab-ci.yml
Due: none

fix: update lint settings
  .golangci.yml
Due: none

fix: bump deps
  Makefile
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update go version
  Makefile
  go.mod
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v3 to v3.21.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat: add select env pipe
  .gitlab-ci.yml
  select-env/Dockerfile
  select-env/Makefile
  select-env/README.md
  select-env/main.go
  select-env/pipe/constants.go
  select-env/pipe/context.go
  select-env/pipe/flags.go
  select-env/pipe/interfaces.go
  select-env/pipe/pipe.go
  select-env/pipe/tasks.go
  select-env/version.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/urfave/cli/v2 to v2.11.2
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/google/go-github/v45 to v46
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update deps
  go.mod
  go.sum
  templates/update-docker-hub-readme.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update golang.org/x/oauth2 digest to f213421
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/docker/docker to v20.10.18
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update plugins and add tasks
  .tasks.json
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: define tasks properly
  .tasks.json
Due: none

fix: update deps
  go.mod
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat: fix lint problems add propsed s3-upload pipe
  .gitlab-ci.yml
  .golangci.yml
  .tasks.json
  s3-upload/Dockerfile
  s3-upload/Makefile
  s3-upload/README.md
  s3-upload/main.go
  s3-upload/pipe/constants.go
  s3-upload/pipe/context.go
  s3-upload/pipe/flags.go
  s3-upload/pipe/interfaces.go
  s3-upload/pipe/pipe.go
  s3-upload/pipe/tasks.go
  s3-upload/version.go
  update-docker-hub-readme/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

update documentation and related stuff
  .tasks.json
  _template/Makefile
  _template/README.md
  docker/Makefile
  docker/README.md
  gh-release-tracker/Makefile
  gh-release-tracker/README.md
  gl-artifacts/Makefile
  gl-artifacts/README.md
  go.mod
  go.sum
  markdown-toc/Makefile
  markdown-toc/README.md
  node/Makefile
  node/README.md
  node/main.go
  s3-upload/Makefile
  s3-upload/README.md
  select-env/Makefile
  select-env/README.md
  semantic-release/Makefile
  semantic-release/README.md
  update-docker-hub-readme/Makefile
  update-docker-hub-readme/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

update documentation
  README.md
  _template/README.md
  docker/README.md
  gh-release-tracker/README.md
  gl-artifacts/README.md
  go.mod
  go.sum
  markdown-toc/README.md
  node/README.md
  s3-upload/README.md
  select-env/README.md
  semantic-release/README.md
  update-docker-hub-readme/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: documentation issues
  _template/README.md
  docker/README.md
  gh-release-tracker/README.md
  gl-artifacts/README.md
  go.mod
  go.sum
  markdown-toc/README.md
  node/README.md
  s3-upload/README.md
  select-env/README.md
  semantic-release/README.md
  update-docker-hub-readme/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update documentation
  docker/README.md
  docker/pipe/flags.go
  node/README.md
  node/build/flags.go
  node/login/flags.go
  semantic-release/README.md
Due: publish-first-docker, publish-docker, publish-node, publish-semantic-release

fix: update documentation
  _template/README.md
  _template/main.go
  _template/pipe/flags.go
  docker/README.md
  docker/main.go
  docker/pipe/flags.go
  gh-release-tracker/README.md
  gh-release-tracker/main.go
  gh-release-tracker/pipe/flags.go
  gl-artifacts/README.md
  gl-artifacts/main.go
  gl-artifacts/pipe/flags.go
  go.mod
  go.sum
  markdown-toc/README.md
  markdown-toc/main.go
  markdown-toc/pipe/flags.go
  node/README.md
  node/build/flags.go
  node/install/flags.go
  node/login/flags.go
  node/main.go
  node/run/flags.go
  node/setup/flags.go
  s3-upload/README.md
  s3-upload/main.go
  s3-upload/pipe/flags.go
  select-env/README.md
  select-env/main.go
  select-env/pipe/flags.go
  semantic-release/README.md
  semantic-release/main.go
  semantic-release/pipe/flags.go
  update-docker-hub-readme/README.md
  update-docker-hub-readme/main.go
  update-docker-hub-readme/pipe/flags.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

docs: update documentation
  _template/README.md
  docker/README.md
  gh-release-tracker/README.md
  gl-artifacts/README.md
  go.mod
  go.sum
  markdown-toc/README.md
  node/README.md
  s3-upload/README.md
  select-env/README.md
  semantic-release/README.md
  update-docker-hub-readme/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/urfave/cli/v2 to v2.17.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v3 to v3.28.0
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v3 to v4
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

Path conditions:
  publish-first-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-first-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node: any of: node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gh-release-tracker: any of: gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-markdown-toc: any of: markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-update-docker-hub-readme: any of: update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-semantic-release: any of: semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
