Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Path conditions:
  docker-build-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-manifest-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-build-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-manifest-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_go: any of: go/**/*, .gitlab-ci.yml
  docker-build_node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_semantic-release: any of: common/**/*, select-env/**/*, node/**/*, semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml

fix: add state to install operation
  terraform/main.go
Due: none

ci: increase timeout
  Taskfile.yml
Due: none

fix: set not stricst as defautl
  terraform/state/flags.go
Due: none

fix: omit empty
  terraform/state/pipe.go
Due: none

Update flags.go
  terraform/publish/flags.go
Due: none

fix: update tags file parsing
  docker/build/tasks_tags.go
  terraform/publish/tasks.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker

fix: update configuration
  terraform/publish/tasks.go
Due: none

fix(deps): update module github.com/docker/docker to v24.0.8+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/docker/docker to v24.0.9+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/docker/docker to v25
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: reenable cache
  templates/v2/go-install.gitlab-ci.yml
  templates/v2/node-install.gitlab-ci.yml
Due: none

fix(deps): update module github.com/docker/docker to v25.0.2+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

feat: make install and lint function to handle multiple workspaces
  terraform/README.md
  terraform/install/pipe.go
  terraform/install/tasks.go
  terraform/lint/pipe.go
  terraform/lint/tasks.go
  terraform/setup/flags.go
  terraform/setup/pipe.go
  terraform/setup/tasks.go
Due: none

chore: update templates [skip ci]
  templates/v2/terraform-install.gitlab-ci.yml
Due: none

fix: update validation
  terraform/setup/pipe.go
Due: none

fix: dont validate
  terraform/setup/pipe.go
Due: none

fix: update running jobs
  terraform/install/tasks.go
  terraform/lint/tasks.go
Due: none

fix: update task names
  terraform/install/tasks.go
  terraform/lint/tasks.go
Due: none

fix: simplify flow
  terraform/install/tasks.go
  terraform/lint/tasks.go
  terraform/setup/tasks.go
Due: none

fix: inc timeout
  .golangci.yml
Due: none

fix(deps): update golang.org/x/exp digest to 2c58cdc
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update all minor dependency updates
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

perf: upgrade to go v1.22 and fix for range
  .gitlab-ci.yml
  common/parser/tags_file.go
  docker/build/tasks.go
  docker/build/tasks_build.go
  docker/build/tasks_tags.go
  docker/manifest/tasks.go
  markdown-toc/pipe/tasks.go
  node/login/tasks.go
  templates/go.gitlab-ci.yml
  terraform/install/tasks.go
  terraform/lint/tasks.go
  terraform/publish/tasks.go
  update-docker-hub-readme/pipe/tasks.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/docker/docker to v25.0.3+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module golang.org/x/oauth2 to v0.17.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update linting rules
  .golangci.yml
  Taskfile.yml
Due: none

fix: update deps
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.11
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.12
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: force docker builder to use legacy mode as fallback
  docker/build/tasks_build.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.13
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

feat: add release-it pipe and update other node based pipes
  .gitlab-ci.yml
  Taskfile.yml
  node/Dockerfile
  release-it/Dockerfile
  release-it/README.md
  release-it/main.go
  release-it/pipe/constants.go
  release-it/pipe/flags.go
  release-it/pipe/pipe.go
  release-it/pipe/tasks.go
  release-it/version.go
  semantic-release/pipe/flags.go
  semantic-release/pipe/tasks.go
  semantic-release/version.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: delete unnecassary use statement
  node/Dockerfile
  release-it/Dockerfile
  semantic-release/Dockerfile
Due: docker-build_node, docker-build_semantic-release

ci: update ci configuration
  .gitlab-ci.yml
  release-it/README.md
  semantic-release/README.md
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

feat: add template for release-it [skip ci]
  templates/v2/release-it.gitlab-ci.yml
Due: none

chore: add note [skip ci]
  semantic-release/pipe/flags.go
Due: docker-build_semantic-release

chore: put the note to correct place [skip ci]
  release-it/pipe/flags.go
  semantic-release/pipe/flags.go
Due: docker-build_semantic-release

fix(deps): update golang.org/x/exp digest to ec58324
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.14
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: use pnpm for installing packages
  semantic-release/Dockerfile
Due: docker-build_semantic-release
