Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

Path conditions:
  docker-build-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_semantic-release: any of: common/**/*, select-env/**/*, node/**/*, semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml

ci: retry
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: update
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: update un
  .gitlab-ci.yml
  templates/v2/go-run.gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: move arch
  templates/v2/go-run.gitlab-ci.yml
Due: none

ci: update
  .gitlab-ci.yml
  templates/v2/go-run.gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: asd
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

WIP: .
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: stage
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: need
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: up
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: revert
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

feat: use new methodology for readme uploads
  .gitlab-ci.yml
  .golangci.yml
  docker/manifest/interfaces.go
  docker/manifest/pipe.go
  docker/manifest/tasks.go
  docker/manifest/util.go
  update-docker-hub-readme/pipe/context.go
  update-docker-hub-readme/pipe/flags.go
  update-docker-hub-readme/pipe/interfaces.go
  update-docker-hub-readme/pipe/pipe.go
  update-docker-hub-readme/pipe/tasks.go
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix: init maps before
  docker/build/tasks_tags.go
  docker/build/utils.go
  docker/manifest/flags.go
  update-docker-hub-readme/pipe/flags.go
  update-docker-hub-readme/pipe/pipe.go
Due: docker-build-first_docker, docker-build_docker, docker-build_update-docker-hub-readme

fix: update errors
  .gitlab-ci.yml
  docker/manifest/tasks.go
  update-docker-hub-readme/pipe/flags.go
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: update ci
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix: skip intermidietry step
  update-docker-hub-readme/pipe/context.go
  update-docker-hub-readme/pipe/interfaces.go
  update-docker-hub-readme/pipe/pipe.go
  update-docker-hub-readme/pipe/tasks.go
Due: docker-build_update-docker-hub-readme

ci: update templates [skip ci]
  templates/docker-manifest-dockerhub.gitlab-ci.yml
  templates/docker-manifest.gitlab-ci.yml
Due: none

ci: update version and manifesting
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: update dockerfile name
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: combine arch arguments
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: update go version build
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix: update target to be templatable
  docker/build/flags.go
  docker/build/tasks_tags.go
Due: docker-build-first_docker, docker-build_docker

fix: update templating issue
  docker/build/tasks_tags.go
Due: docker-build-first_docker, docker-build_docker

fix: update artifacts problem [skip ci]
  templates/v2/go-build.gitlab-ci.yml
  templates/v2/go-install.gitlab-ci.yml
Due: none

ci: update proper folder [skip ci]
  templates/v2/go-build.gitlab-ci.yml
Due: none

ci: reduce build steps conditionally
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

docs: update readme files
  docker/README.md
  update-docker-hub-readme/README.md
Due: docker-build-first_docker, docker-build_docker, docker-build_update-docker-hub-readme

ci: combine stages
  .gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: update ci templates
  templates/v2/docker-build-dockerhub.gitlab-ci.yml
  templates/v2/docker-build-internal.gitlab-ci.yml
  templates/v2/docker-build.gitlab-ci.yml
  templates/v2/docker-manifest.gitlab-ci.yml
  templates/v2/gh-release-tracker.gitlab-ci.yml
  templates/v2/gitlab-artifacts-download.gitlab-ci.yml
  templates/v2/markdown-toc.gitlab-ci.yml
  templates/v2/node-build.gitlab-ci.yml
  templates/v2/node-install.gitlab-ci.yml
  templates/v2/node-run.gitlab-ci.yml
  templates/v2/semantic-release.gitlab-ci.yml
  templates/v2/update-docker-hub-readme.gitlab-ci.yml
Due: none

ci: update templates to do double glob since it seems to work now
  templates/v2/docker-build.gitlab-ci.yml
  templates/v2/gh-release-tracker.gitlab-ci.yml
  templates/v2/gitlab-artifacts-download.gitlab-ci.yml
  templates/v2/go-build.gitlab-ci.yml
  templates/v2/node-build.gitlab-ci.yml
  templates/v2/node-install.gitlab-ci.yml
  templates/v2/semantic-release.gitlab-ci.yml
Due: none

ci: remove default name for dockerhub
  templates/v2/docker-build-dockerhub.gitlab-ci.yml
Due: none

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.28.3
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: update templates [skip ci]
  templates/v2/go-build.gitlab-ci.yml
  templates/v2/go-install.gitlab-ci.yml
  templates/v2/go-lint.gitlab-ci.yml
  templates/v2/go-test.gitlab-ci.yml
  templates/v2/node-lint.gitlab-ci.yml
  templates/v2/node-test.gitlab-ci.yml
Due: none

ci: udpate ci template [skip ci]
  templates/node-nx.gitlab-ci.yml
Due: none

chore: update typo
  templates/docker-build-with-artifacts.gitlab-ci.yml
Due: none

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.28.4
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env
