Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

publish-first-docker:
  stage: publish-first
  before_script:
  - cd ./docker
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  variables:
    APP_BINARY: gitlab-pipes-docker
  ...

publish-first-gl-artifacts:
  stage: publish-first
  before_script:
  - cd ./gl-artifacts
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  variables:
    APP_BINARY: gl-artifacts
  ...

publish-docker:
  stage: publish
  trigger:
    include:
    - project: devops/gitlab-pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
      ref: main
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: gitlab-pipes-docker
    IMAGE_TAGS: latest

publish-node:
  stage: publish
  trigger:
    include:
    - project: devops/gitlab-pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
      ref: main
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./node
    DOCKER_IMAGE_NAME: gitlab-pipes-node
  parallel:
    matrix:
    - IMAGE_TAGS: ${NODE_VERSION}
  ...

publish-gl-artifacts:
  stage: publish
  trigger:
    include:
    - project: devops/gitlab-pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
      ref: main
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: gitlab-pipes-gl-artifacts
    IMAGE_TAGS: latest

publish-markdown-toc-artifacts:
  stage: publish
  trigger:
    include:
    - project: devops/gitlab-pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
      ref: main
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./markdown-toc
    DOCKER_IMAGE_NAME: pipe-markdown-toc
    IMAGE_TAGS: latest

publish-update-docker-hub-readme:
  stage: publish
  trigger:
    include:
    - project: devops/gitlab-pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
      ref: main
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./update-docker-hub-readme
    DOCKER_IMAGE_NAME: pipe-update-docker-hub-readme
  ...

feat(docker): update docker pipe to split build and buildx steps, fix tags
  docker/pipe/pipe.go
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

fix(docker): update configuration
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

chore(deps): update
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

feat(docker): update with messages
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

fix(docker): monkey patch for now
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

fix(docker): add default platform for buildx
  docker/pipe/flags.go
Due: publish-first-docker, publish-docker

feat(node): update login to support npmrc files
  .gitlab-ci.yml
  node/login/flags.go
  node/login/pipe.go
  node/login/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

fix(node): update order of tasks
  node/login/tasks.go
Due: publish-node

chore: update packages
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

generate multiple npmrc files
  node/login/flags.go
  node/login/pipe.go
  node/login/tasks.go
Due: publish-node

fix(node): swap with aggragate errors
  go.mod
  go.sum
  node/login/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

fix(node): add debugging log
  node/login/tasks.go
Due: publish-node

fix(node): wrong dereference
  node/login/tasks.go
Due: publish-node

use older version of npm
  semantic-release/Dockerfile
Due: none

feat: add new template
  templates/parent-pipeline-id.gitlab-ci.yml
Due: none

fix(markdown-toc): remove duplicates
  markdown-toc/pipe/tasks.go
Due: publish-markdown-toc-artifacts

update templates
  templates/markdown-toc.gitlab-ci.yml
Due: none

fix: update golang templates
  templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
  templates/docker-build-with-artifacts.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
  templates/go.gitlab-ci.yml
Due: none

update test command
  templates/go-test.gitlab-ci.yml
Due: none

use fat container for go test
  templates/go-test.gitlab-ci.yml
Due: none

move image to a variable
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
Due: none

update go test image
  templates/go-test.gitlab-ci.yml
Due: none

feat: add new pipe and refactor pipes
  .gitlab-ci.yml
  Makefile
  _template/Makefile
  docker/Makefile
  docker/pipe/tasks.go
  gl-artifacts/Makefile
  gl-artifacts/pipe/tasks.go
  gl-artifacts/pipe/utils.go
  markdown-toc/Makefile
  node-typedoc/Dockerfile
  node-typedoc/Makefile
  node-typedoc/README.md
  node-typedoc/main.go
  node-typedoc/pipe/constants.go
  node-typedoc/pipe/flags.go
  node-typedoc/pipe/interfaces.go
  node-typedoc/pipe/pipe.go
  node-typedoc/pipe/tasks.go
  node-typedoc/pipe/version.go
  node/build/tasks.go
  node/login/tasks.go
  node/pipe/tasks.go
  semantic-release/Makefile
  semantic-release/pipe/tasks.go
  templates/node-install.gitlab-ci.yml
  templates/node-lint.gitlab-ci.yml
  templates/node-nx.gitlab-ci.yml
  templates/node-test.gitlab-ci.yml
  templates/node-typedoc.gitlab-ci.yml
  templates/node.gitlab-ci.yml
  update-docker-hub-readme/Makefile
  update-docker-hub-readme/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

fix: update go version
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

fix: update install command
  Makefile
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

fix: add new node versions
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

fix: update wrong install
  node-typedoc/Dockerfile
Due: none

fix: update scripts and build error
  _template/Makefile
  docker/Makefile
  gl-artifacts/Makefile
  markdown-toc/Makefile
  node-typedoc/Makefile
  node-typedoc/main.go
  node/Makefile
  semantic-release/Makefile
  templates/markdown-toc.gitlab-ci.yml
  templates/node-typedoc.gitlab-ci.yml
  update-docker-hub-readme/Makefile
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

fix: add typescript as a dependency
  node-typedoc/Dockerfile
Due: none

fix: update pipe with yarn exec
  markdown-toc/pipe/tasks.go
  node-typedoc/Dockerfile
  node-typedoc/pipe/tasks.go
Due: publish-markdown-toc-artifacts

fix: update pipe execution
  markdown-toc/pipe/tasks.go
  node-typedoc/pipe/tasks.go
Due: publish-markdown-toc-artifacts

fix: update command
  node-typedoc/pipe/tasks.go
Due: none

revert: remove typedoc pipe
  .gitlab-ci.yml
  node-typedoc/Dockerfile
  node-typedoc/Makefile
  node-typedoc/README.md
  node-typedoc/main.go
  node-typedoc/pipe/constants.go
  node-typedoc/pipe/flags.go
  node-typedoc/pipe/interfaces.go
  node-typedoc/pipe/pipe.go
  node-typedoc/pipe/tasks.go
  node-typedoc/pipe/version.go
  templates/node-typedoc.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

ci: update publish mechanism
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

update artifacts to use dynamic urls
  gl-artifacts/pipe/flags.go
  gl-artifacts/pipe/pipe.go
  gl-artifacts/pipe/tasks.go
  templates/node.gitlab-ci.yml
Due: publish-first-gl-artifacts, publish-gl-artifacts

fix: update gitlab api url injection
  gl-artifacts/pipe/flags.go
  gl-artifacts/pipe/pipe.go
  gl-artifacts/pipe/tasks.go
Due: publish-first-gl-artifacts, publish-gl-artifacts

fix: update nx template
  templates/node-nx.gitlab-ci.yml
Due: none

ci: update branch dependency
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

fix: update tools
  docker/pipe/flags.go
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

Path conditions:
  publish-first-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-first-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node: any of: node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-markdown-toc-artifacts: any of: markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-update-docker-hub-readme: any of: update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
