Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

Path conditions:
  publish-first-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-first-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node: any of: node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gh-release-tracker: any of: gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-markdown-toc: any of: markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-update-docker-hub-readme: any of: update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-semantic-release: any of: semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml

fix: cache only for install steps
  templates/go-install.gitlab-ci.yml
  templates/node-install.gitlab-ci.yml
Due: none

fix: update gitlab release tracker template
  templates/gh-release-tracker.gitlab-ci.yml
Due: none

fix: update template
  templates/gh-release-tracker.gitlab-ci.yml
Due: none

chore: bump deps
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat(markdown-toc): update with plumber and the plumber version
  go.mod
  go.sum
  markdown-toc/Makefile
  markdown-toc/README.md
  markdown-toc/main.go
  markdown-toc/pipe/flags.go
  markdown-toc/pipe/interfaces.go
  markdown-toc/pipe/pipe.go
  markdown-toc/pipe/tasks.go
  markdown-toc/pipe/version.go
  markdown-toc/version.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update wrong path
  markdown-toc/Dockerfile
Due: publish-markdown-toc

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat: updatet docker with plumber
  .gitlab-ci.yml
  docker/Dockerfile
  docker/Makefile
  docker/main.go
  docker/pipe/flags.go
  docker/pipe/interfaces.go
  docker/pipe/pipe.go
  docker/pipe/tasks.go
  docker/pipe/utils.go
  node/build/tasks.go
  node/login/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update naming and docu
  docker/README.md
  node/setup/tasks.go
Due: publish-first-docker, publish-docker, publish-node

fix: exit whenever tags file does not exists
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

fix: update exiting mechanism
  docker/pipe/tasks.go
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update library
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update formats
  .rgignore
  docker/pipe/flags.go
  node/login/flags.go
Due: publish-first-docker, publish-docker, publish-node

fix: split up and refactor docker pipeline
  docker/pipe/flags.go
  docker/pipe/pipe.go
  docker/pipe/tasks.go
  docker/pipe/tasks_build.go
  docker/pipe/tasks_buildx.go
  docker/pipe/tasks_tags.go
  docker/pipe/utils.go
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update error
  .gitlab-ci.yml
  docker/pipe/tasks.go
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update naming scheme
  docker/pipe/tasks_build.go
  docker/pipe/tasks_buildx.go
  docker/pipe/tasks_tags.go
Due: publish-first-docker, publish-docker

fix: update naming scheme
  docker/pipe/pipe.go
  docker/pipe/tasks_build.go
  docker/pipe/tasks_buildx.go
  docker/pipe/tasks_tags.go
Due: publish-first-docker, publish-docker

feat: refactor gl artifacts to plumber
  docker/Makefile
  docker/pipe/tasks_tags.go
  docker/pipe/utils.go
  gl-artifacts/Dockerfile
  gl-artifacts/Makefile
  gl-artifacts/README.md
  gl-artifacts/main.go
  gl-artifacts/pipe/constants.go
  gl-artifacts/pipe/flags.go
  gl-artifacts/pipe/interfaces.go
  gl-artifacts/pipe/pipe.go
  gl-artifacts/pipe/tasks.go
  gl-artifacts/pipe/utils.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts

fix: build issue
  gl-artifacts/pipe/tasks.go
Due: publish-first-gl-artifacts, publish-gl-artifacts

fix: improve logic
  docker/pipe/tasks_tags.go
  gl-artifacts/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts

fix: update
  gl-artifacts/pipe/utils.go
Due: publish-first-gl-artifacts, publish-gl-artifacts

fix: update log style
  gh-release-tracker/pipe/tasks.go
  gl-artifacts/pipe/tasks.go
  gl-artifacts/pipe/utils.go
  node/build/tasks.go
  update-docker-hub-readme/pipe/tasks.go
Due: publish-first-gl-artifacts, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-update-docker-hub-readme

perf(gh-release-tracker): migrate to plumber
  gh-release-tracker/Dockerfile
  gh-release-tracker/Makefile
  gh-release-tracker/main.go
  gh-release-tracker/pipe/constants.go
  gh-release-tracker/pipe/flags.go
  gh-release-tracker/pipe/interfaces.go
  gh-release-tracker/pipe/pipe.go
  gh-release-tracker/pipe/tasks.go
  node/login/pipe.go
  node/login/tasks.go
Due: publish-node, publish-gh-release-tracker

perf(update-docker-hub-readme): update tto plumber
  gh-release-tracker/README.md
  update-docker-hub-readme/Dockerfile
  update-docker-hub-readme/Makefile
  update-docker-hub-readme/README.md
  update-docker-hub-readme/main.go
  update-docker-hub-readme/pipe/flags.go
  update-docker-hub-readme/pipe/pipe.go
  update-docker-hub-readme/pipe/tasks.go
  update-docker-hub-readme/pipe/utils.go
  update-docker-hub-readme/pipe/version.go
  update-docker-hub-readme/version.go
Due: publish-gh-release-tracker, publish-update-docker-hub-readme

fix: update go mod file
  go.mod
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/docker/docker to v20.10.17
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/urfave/cli/v2 to v2.10.2
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat: update with more basic subtask commands
  docker/pipe/tasks_tags.go
  gl-artifacts/pipe/tasks.go
  go.mod
  go.sum
  node/build/tasks.go
  node/login/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update libraries
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat: move context to own file
  _template/pipe/context.go
  _template/pipe/pipe.go
  _template/pipe/tasks.go
  docker/pipe/context.go
  docker/pipe/tasks.go
  gh-release-tracker/pipe/context.go
  gh-release-tracker/pipe/tasks.go
  gl-artifacts/pipe/context.go
  gl-artifacts/pipe/tasks.go
  go.mod
  go.sum
  markdown-toc/pipe/context.go
  markdown-toc/pipe/tasks.go
  node/build/context.go
  node/build/pipe.go
  node/build/tasks.go
  node/install/pipe.go
  node/install/tasks.go
  node/login/context.go
  node/login/pipe.go
  node/login/tasks.go
  node/run/pipe.go
  node/run/tasks.go
  node/setup/context.go
  node/setup/pipe.go
  node/setup/tasks.go
  semantic-release/pipe/context.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
  update-docker-hub-readme/pipe/context.go
  update-docker-hub-readme/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update plumber api
  docker/pipe/tasks.go
  docker/pipe/tasks_buildx.go
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update with node install args
  node/install/flags.go
  node/install/pipe.go
  node/install/tasks.go
Due: publish-node

fix: update naming scheme
  _template/version.go
  docker/version.go
  gh-release-tracker/version.go
  gl-artifacts/version.go
  markdown-toc/version.go
  node/version.go
  semantic-release/version.go
  update-docker-hub-readme/version.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update artifacts path
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/google/go-github/v44 to v45
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update variable injection with new plumber api
  gh-release-tracker/pipe/context.go
  gh-release-tracker/pipe/tasks.go
  go.mod
  go.sum
  node/build/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: set log level for variable injection
  node/build/tasks.go
Due: publish-node

fix: update buildx config
  docker/pipe/tasks_buildx.go
Due: publish-first-docker, publish-docker

fix: update log level for pipe
  docker/pipe/tasks_buildx.go
Due: publish-first-docker, publish-docker
