Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

bootstrap:
  stage: bootstrap
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.bootstrap.yml

go:
  stage: pipes
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./go
        container-image-name: cenk1cenk2/pipe-go2
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
          CONTAINER_IMAGE_BUILD_ARGS: 'GO_VERSION: ''{{ env "GO_VERSION" }}'''
  ...

buildah:
  stage: pipes
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./buildah
        container-image-name: cenk1cenk2/pipe-buildah
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-template:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./_template
        container-image-name: cenk1cenk2/pipe-template
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-buildah:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./buildah
        container-image-name: cenk1cenk2/pipe-buildah
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-docker:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./docker
        container-image-name: cenk1cenk2/pipe-docker
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-go:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./go
        container-image-name: cenk1cenk2/pipe-go
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-helm:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./helm
        container-image-name: cenk1cenk2/pipe-helm
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-markdown-toc:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./markdown-toc
        container-image-name: cenk1cenk2/pipe-markdown-toc
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-node:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./node
        container-image-name: cenk1cenk2/pipe-node
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

ci(pipes): run the docs generation serially to stay within runner memory
  Taskfile.yml
Due: none

refactor(node): restore the login step package over the shared npmrc code
  internal/node/npmrc.go
  node/login/flags.go
  node/login/pipe.go
  node/main.go
  node/setup/setup.go
Due: pipe-node, pipe-semantic-release

refactor(pipes): declare the command tree inside main
  buildah/main.go
  buildah/main_test.go
  go/main.go
  go/main_test.go
  helm/main.go
  helm/main_test.go
  kustomize/main.go
  kustomize/main_test.go
  node/main.go
  node/main_test.go
  pulumi/main.go
  select-env/main.go
  select-env/main_test.go
  semantic-release/main.go
  semantic-release/main_test.go
  template/main.go
  terraform/main.go
  update-docker-hub-readme/main.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

refactor(pipes): inline the tool setup scaffolding into each setup step
  buildah/setup/flags.go
  buildah/setup/pipe.go
  buildah/setup/tasks.go
  go/build/tasks_test.go
  go/install/tasks_test.go
  go/lint/tasks_test.go
  go/setup/flags.go
  go/setup/pipe.go
  go/setup/tasks.go
  go/setup/tasks_test.go
  helm/publish/tasks_test.go
  helm/setup/flags.go
  helm/setup/pipe.go
  internal/tool/flags.go
  internal/tool/tasks.go
  internal/tool/tool.go
  internal/tool/tool_test.go
  kustomize/setup/flags.go
  kustomize/setup/pipe.go
  kustomize/setup/tasks.go
  kustomize/setup/tasks_test.go
  pulumi/preview/tasks_test.go
  pulumi/setup/flags.go
  pulumi/setup/pipe.go
  pulumi/setup/tasks.go
  terraform/plan/tasks_test.go
  terraform/setup/flags.go
  terraform/setup/pipe.go
  terraform/setup/suite_test.go
  terraform/setup/tasks.go
  terraform/setup/tasks_test.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-pulumi, pipe-terraform

test(pipes): replace the conformance contract with a docs diff job
  .gitlab-ci.yml
  go/build/tasks_test.go
  go/go.mod
  go/install/tasks_test.go
  go/lint/tasks_test.go
  go/setup/tasks_test.go
  helm/go.mod
  helm/publish/tasks_test.go
  internal/go.mod
  internal/tagsfile/parse_test.go
  internal/test/conformance/conformance.go
  internal/versions/collector_test.go
  kustomize/go.mod
  kustomize/setup/tasks_test.go
  node/build/tasks_test.go
  node/go.mod
  node/install/tasks_test.go
  node/run/tasks_test.go
  pulumi/go.mod
  pulumi/preview/tasks_test.go
  select-env/go.mod
  select-env/write/tasks_test.go
  semantic-release/go.mod
  semantic-release/release/tasks_test.go
  terraform/go.mod
  terraform/plan/tasks_test.go
  tests/fixtures/runner.go
  tests/go.mod
  tests/go.sum
  tests/manifest.go
  tests/manifest_test.go
  tests/suite_test.go
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/update/tasks_test.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

style(pipes): dot-import plumber everywhere as the core library
  _template/main.go
  buildah/login/tasks_test.go
  buildah/main.go
  go/build/tasks_test.go
  go/install/tasks_test.go
  go/lint/tasks_test.go
  go/main.go
  go/setup/tasks_test.go
  helm/login/tasks_test.go
  helm/main.go
  helm/publish/tasks_test.go
  internal/environment/tasks.go
  internal/node/npmrc.go
  internal/node/setup.go
  internal/report/iac/tasks.go
  internal/versions/collector.go
  internal/versions/collector_test.go
  kustomize/main.go
  kustomize/setup/tasks_test.go
  node/add/tasks_test.go
  node/build/tasks_test.go
  node/install/tasks_test.go
  node/main.go
  node/run/tasks_test.go
  node/setup/setup.go
  pulumi/main.go
  pulumi/preview/tasks_test.go
  select-env/main.go
  select-env/setup/setup.go
  select-env/write/tasks_test.go
  semantic-release/main.go
  semantic-release/release/tasks_test.go
  semantic-release/setup/setup.go
  terraform/main.go
  terraform/plan/tasks_test.go
  terraform/setup/tasks_test.go
  tests/fixtures/runner.go
  update-docker-hub-readme/main.go
  update-docker-hub-readme/update/tasks_test.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

refactor(go): resolve workspace modules once in setup
  go/lint/pipe.go
  go/lint/tasks.go
  go/lint/tasks_test.go
  go/setup/pipe.go
  go/setup/tasks.go
  go/setup/tasks_test.go
Due: bootstrap, pipe-go

refactor(pipes): inline value source chains, single-use globals and fix strict tags parsing
  buildah/build/flags.go
  helm/publish/flags.go
  internal/ci/flags.go
  internal/ci/flags_test.go
  internal/environment/flags.go
  internal/environment/write.go
  internal/flags/category.go
  internal/flags/flags.go
  internal/flags/flags_test.go
  internal/git/flags.go
  internal/go.mod
  internal/node/npmrc.go
  internal/node/setup.go
  internal/tagsfile/flags.go
  internal/tagsfile/parse.go
  internal/tagsfile/parse_test.go
  internal/versions/collector_test.go
  internal/versions/match.go
  select-env/go.mod
  select-env/go.sum
  select-env/write/flags.go
  select-env/write/tasks.go
Due: bootstrap, pipe-buildah, pipe-helm, pipe-node, pipe-select-env, pipe-semantic-release

test(pipes): pin the env source chains as an ordered contract
  tests/env.go
  tests/env_test.go
Due: none

docs(pipes): regenerate readmes without the legacy environment names
  buildah/README.md
  go/README.md
  helm/README.md
  kustomize/README.md
  node/README.md
  pulumi/README.md
  semantic-release/README.md
  terraform/README.md
  update-docker-hub-readme/README.md
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

refactor(internal): name every flag constructor NewFlags
  buildah/setup/flags.go
  go/setup/flags.go
  helm/setup/flags.go
  internal/ci/flags.go
  internal/ci/flags_test.go
  internal/gitlab/report.go
  internal/tool/flags.go
  internal/tool/tool_test.go
  kustomize/setup/flags.go
  pulumi/preview/flags.go
  pulumi/setup/flags.go
  terraform/plan/flags.go
  terraform/setup/flags.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-pulumi, pipe-terraform

refactor(pipes): keep flags in flags.go and validate every pipe state
  helm/install/flags.go
  helm/install/pipe.go
  helm/main.go
  internal/gitlab/flags.go
  internal/gitlab/report.go
  internal/node/flags.go
  internal/node/npmrc.go
  internal/node/setup.go
  node/setup/flags.go
  node/setup/setup.go
  select-env/setup/flags.go
  select-env/setup/setup.go
  select-env/write/pipe.go
  semantic-release/setup/flags.go
  semantic-release/setup/setup.go
Due: pipe-helm, pipe-node, pipe-select-env, pipe-semantic-release

ci(pipes): flatten the trigger pipelines into stages and use the legacy container names
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.pipe.yml
  .gitlab-ci.trigger.yml
  .gitlab-ci.yml
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

refactor(go): split the vendor and lint tasks on the workspace gate
  go/README.md
  go/install/tasks.go
  go/install/tasks_test.go
  go/lint/flags.go
  go/lint/pipe.go
  go/lint/tasks.go
  go/lint/tasks_test.go
Due: bootstrap, pipe-go, update-docker-hub-readme

refactor(helm,node): drop the dead git flags and the unwired environment read
  helm/README.md
  helm/publish/flags.go
  helm/publish/pipe.go
  node/install/tasks.go
  node/install/tasks_test.go
Due: pipe-helm, pipe-node, pipe-semantic-release, update-docker-hub-readme

refactor(internal): pass the task into the parse and process helpers
  buildah/build/tasks_tags.go
  internal/go.mod
  internal/tagsfile/parse.go
  internal/tagsfile/parse_test.go
  internal/versions/collector.go
  internal/versions/collector_test.go
  terraform/publish/tasks.go
  tests/fixtures/runner.go
  tests/go.mod
Due: bootstrap, pipe-buildah, pipe-terraform

refactor(semantic-release): combine the setup flags and task lists
  semantic-release/main.go
  semantic-release/release/pipe.go
  semantic-release/setup/flags.go
  semantic-release/setup/setup.go
Due: pipe-semantic-release

refactor(internal): suffix the adapter interfaces with Adapter
  .mockery.yaml
  internal/gitlab/modules.go
  internal/gitlab/notes.go
  internal/gitlab/report.go
  internal/gitlab/upsert_test.go
  internal/test/mocks/gitlab/module_registry.go
  internal/test/mocks/gitlab/module_registry_adapter.go
  internal/test/mocks/gitlab/notes_adapter.go
  terraform/publish/pipe.go
  update-docker-hub-readme/hub/hub.go
  update-docker-hub-readme/hub/hub_test.go
  update-docker-hub-readme/test/mocks/hub/client_adapter.go
  update-docker-hub-readme/update/pipe.go
  update-docker-hub-readme/update/tasks_test.go
Due: pipe-terraform, pipe-update-docker-hub-readme

fix(pipes): declare buildah's tests replace and tidy every module
  buildah/go.mod
  buildah/go.sum
  go/go.mod
  go/go.sum
  helm/go.mod
  helm/go.sum
  kustomize/go.mod
  kustomize/go.sum
  node/go.mod
  node/go.sum
  pulumi/go.mod
  pulumi/go.sum
  semantic-release/go.mod
  semantic-release/go.sum
  terraform/go.mod
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

test(pipes): drop the env chain contract and assert the publish matrix verbatim
  pipes.yaml
  tests/env.go
  tests/env_test.go
  tests/manifest.go
  tests/manifest_test.go
  tests/suite_test.go
Due: none

refactor(flags): take the destination first in the unmarshal wrappers
  buildah/build/flags.go
  buildah/manifest/flags.go
  go/build/flags.go
  helm/publish/flags.go
  internal/environment/flags.go
  internal/flags/flags.go
  internal/flags/flags_test.go
  internal/node/flags.go
  terraform/login/flags.go
  update-docker-hub-readme/update/flags.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-terraform, pipe-update-docker-hub-readme

ci(pipes): restore the trigger child pipelines and rework them for readability
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.pipe.yml
  .gitlab-ci.trigger.yml
  .gitlab-ci.yml
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

test(pipes): drop the flag set freeze specs and cover the untested task paths
  buildah/login/flags_test.go
  go/setup/tasks_test.go
  helm/login/flags_test.go
  internal/ci/flags_test.go
  internal/environment/select_test.go
  internal/environment/tasks_test.go
  internal/git/refs_test.go
  internal/node/npmrc_test.go
  internal/node/setup_test.go
  internal/report/terraform/report_test.go
  internal/tagsfile/parse_test.go
  tests/env_test.go
  tests/fixtures/flags.go
  tests/go.mod
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm

fix(go): default the build target arch correctly and inline the linker flags
  go/build/tasks.go
  go/build/tasks_test.go
Due: bootstrap, pipe-go

refactor(pipes): make task constructors private and mirror their task names
  buildah/build/pipe.go
  buildah/build/tasks.go
  buildah/build/tasks_tags.go
  buildah/build/tasks_test.go
  buildah/login/pipe.go
  buildah/login/tasks.go
  buildah/login/tasks_test.go
  buildah/manifest/pipe.go
  buildah/manifest/tasks.go
  go/build/pipe.go
  go/build/tasks.go
  go/build/tasks_test.go
  go/install/pipe.go
  go/install/tasks.go
  go/install/tasks_test.go
  go/lint/pipe.go
  go/lint/tasks.go
  go/lint/tasks_test.go
  go/setup/pipe.go
  go/setup/tasks.go
  go/setup/tasks_test.go
  go/tool/pipe.go
  go/tool/tasks.go
  helm/install/pipe.go
  helm/install/tasks.go
  helm/lint/pipe.go
  helm/lint/tasks.go
  helm/login/pipe.go
  helm/login/tasks.go
  helm/publish/pipe.go
  helm/publish/tasks.go
  helm/publish/tasks_test.go
  helm/publish/tasks_versions.go
  helm/setup/pipe.go
  helm/setup/tasks.go
  kustomize/build/pipe.go
  kustomize/build/tasks.go
  kustomize/setup/pipe.go
  kustomize/setup/tasks.go
  kustomize/setup/tasks_test.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm

feat(go)!: detect the workspace from the working directory and drop the workspace flag
  go/README.md
  go/build/tasks.go
  go/build/tasks_test.go
  go/setup/flags.go
  go/setup/pipe.go
  go/setup/tasks.go
  go/setup/tasks_test.go
Due: bootstrap, pipe-go, update-docker-hub-readme

docs(pipes): polish every flag description and normalize the flag files
  _template/main.go
  _template/pipe/flags.go
  buildah/README.md
  buildah/build/flags.go
  buildah/login/flags.go
  go/README.md
  go/build/flags.go
  go/install/flags.go
  go/lint/flags.go
  go/setup/flags.go
  go/tool/flags.go
  helm/README.md
  helm/install/flags.go
  helm/lint/flags.go
  helm/login/flags.go
  internal/ci/flags.go
  internal/environment/flags.go
  internal/git/flags.go
  internal/gitlab/flags.go
  internal/node/flags.go
  internal/tagsfile/flags.go
  node/README.md
  node/add/flags.go
  node/build/flags.go
  node/install/flags.go
  node/run/flags.go
  pulumi/README.md
  pulumi/preview/flags.go
  pulumi/setup/flags.go
  pulumi/stack/flags.go
  select-env/README.md
  select-env/write/flags.go
  semantic-release/README.md
  semantic-release/release/flags.go
  terraform/README.md
  terraform/publish/flags.go
  terraform/state/flags.go
  update-docker-hub-readme/README.md
  update-docker-hub-readme/update/flags.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

refactor(pipes): inline version and description constants
  _template/main.go
  _template/pipe/pipe.go
  _template/pipe/tasks.go
  _template/version.go
  buildah/main.go
  buildah/version.go
  go/main.go
  go/version.go
  helm/main.go
  helm/version.go
  kustomize/main.go
  kustomize/version.go
  node/main.go
  node/version.go
  pulumi/main.go
  pulumi/version.go
  select-env/main.go
  select-env/version.go
  semantic-release/main.go
  semantic-release/version.go
  terraform/main.go
  terraform/version.go
  update-docker-hub-readme/main.go
  update-docker-hub-readme/version.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

docs(pipes): update README descriptions
  _template/README.md
  buildah/README.md
  go/README.md
  helm/README.md
  pulumi/README.md
  terraform/README.md
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-pulumi, pipe-terraform, update-docker-hub-readme

feat(buildah): add CONTAINER_CWD as fallback for buildah.cwd
  buildah/setup/flags.go
Due: bootstrap, pipe-buildah

chore(deps): update go dependencies
  _template/go.mod
  _template/go.sum
  buildah/go.mod
  buildah/go.sum
  go/go.mod
  go/go.sum
  helm/go.mod
  helm/go.sum
  internal/go.mod
  internal/go.sum
  kustomize/go.mod
  kustomize/go.sum
  node/go.mod
  node/go.sum
  pulumi/go.mod
  pulumi/go.sum
  select-env/go.mod
  select-env/go.sum
  semantic-release/go.mod
  semantic-release/go.sum
  terraform/go.mod
  terraform/go.sum
  tests/go.mod
  tests/go.sum
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): pin kube-openapi to the version apimachinery requires
  helm/go.mod
  helm/go.sum
  kustomize/go.mod
  kustomize/go.sum
Due: pipe-helm

chore(pipes): regenerate the checked-in mocks and the buildah readme
  buildah/README.md
  internal/test/mocks/gitlab/module_registry_adapter.go
  internal/test/mocks/gitlab/notes_adapter.go
  update-docker-hub-readme/test/mocks/hub/client_adapter.go
Due: bootstrap, pipe-buildah, pipe-update-docker-hub-readme, update-docker-hub-readme

refactor(node): drop the aliases that carry no shared layer
  node/README.md
  node/add/flags.go
  node/install/flags.go
Due: pipe-node, pipe-semantic-release, update-docker-hub-readme

Path conditions:
  bootstrap: (any of: .gitlab-ci.next.yml, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.bootstrap.yml, go/**/*, buildah/**/*) or (any of: go/**, buildah/**, .bootstrap.gitlab-ci.yml)
  go: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, go/
  buildah: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, buildah/
  pipe-template: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, _template/**/*
  pipe-buildah: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, buildah/**/*
  pipe-docker: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, docker/**/*
  pipe-go: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, go/**/*
  pipe-helm: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, helm/**/*
  pipe-markdown-toc: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, markdown-toc/**/*
  pipe-node: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, node/**/*, select-env/**/*
  pipe-pulumi: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, pulumi/**/*
  pipe-select-env: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, select-env/**/*
  pipe-semantic-release: (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**/*, select-env/**/*, node/**/*) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**, select-env/**/*, node/**/*)
  pipe-terraform: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, terraform/**/*
  pipe-update-docker-hub-readme: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, update-docker-hub-readme/**/*
  update-docker-hub-readme: any of: **/README.md
