Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-docker, publish-node, publish-gl-artifacts

publish-docker:
  stage: publish
  before_script:
  - cd ./docker
  script:
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  parallel:
    matrix:
    - APP_BINARY: ws-pipes-docker
  ...

publish-node:
  stage: publish
  before_script:
  - cd ./node
  script:
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE --build-arg NODE_VERSION=${NODE_VERSION} .
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  parallel:
  ...

publish-gl-artifacts:
  stage: publish
  before_script:
  - cd ./gl-artifacts
  script:
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  parallel:
    matrix:
  ...

update pipes
  .gitlab-ci.yml
  _template/main.go
  docker/main.go
  gl-artifacts/main.go
  go.mod
  node/build/tasks.go
  node/install/tasks.go
  node/main.go
  node/run/tasks.go
  templates/nx-build.gitlab-ci.yml
  templates/nx-docker.gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

build: change build method
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

build: disable unnessary logs
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

update pipes
  templates/docker-build.gitlab-ci.yml
  templates/nx-build.gitlab-ci.yml
  templates/nx-docker.gitlab-ci.yml
Due: none

fix tags
  templates/nx-build.gitlab-ci.yml
Due: none

fix versioning problem
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

update naming scheme
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

fix order
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

set yarn as default
  node/pipe/flags.go
Due: publish-node

update env variable injection
  bump-templates-version.sh
  node/build/tasks.go
Due: publish-node

add cleaning variable before skip check
  node/build/tasks.go
Due: publish-node

fix branch
  templates/nx-docker.gitlab-ci.yml
Due: none

delete legacy token name
  gl-artifacts/pipe/flags.go
Due: publish-gl-artifacts

fix: update docker pipe to skip login step on demand
  docker/pipe/tasks.go
  gl-artifacts/pipe/tasks.go
  node/build/tasks.go
  node/install/tasks.go
  node/login/tasks.go
  node/run/tasks.go
Due: publish-docker, publish-node, publish-gl-artifacts

fix: set required to false for docker login input
  docker/pipe/flags.go
Due: publish-docker

fix: rename docker build template
  templates/docker-build-with-artifacts.gitlab-ci.yml
Due: none

fix: add verify step to docker login
  docker/pipe/tasks.go
Due: publish-docker

add public registry templates
  templates/docker-build-dockerhub.gitlab-ci.yml
  templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
Due: none

beatifuy
  templates/docker-build-dockerhub.gitlab-ci.yml
  templates/docker-build.gitlab-ci.yml
Due: none

update with new library
  _template/main.go
  _template/pipe/pipe.go
  _template/pipe/tasks.go
  docker/main.go
  docker/pipe/pipe.go
  docker/pipe/tasks.go
  gl-artifacts/main.go
  gl-artifacts/pipe/pipe.go
  gl-artifacts/pipe/tasks.go
  gl-artifacts/pipe/utils.go
  go.mod
  go.sum
  node/build/pipe.go
  node/build/tasks.go
  node/install/pipe.go
  node/install/tasks.go
  node/login/pipe.go
  node/login/tasks.go
  node/main.go
  node/pipe/pipe.go
  node/pipe/tasks.go
  node/run/pipe.go
  node/run/tasks.go
Due: publish-docker, publish-node, publish-gl-artifacts

add the missing pipes here and update the libraries
  .gitlab-ci.yml
  gl-artifacts/pipe/tasks.go
  go.mod
  go.sum
  markdown-toc/Dockerfile
  markdown-toc/Makefile
  markdown-toc/README.md
  markdown-toc/main.go
  markdown-toc/pipe/constants.go
  markdown-toc/pipe/flags.go
  markdown-toc/pipe/interfaces.go
  markdown-toc/pipe/pipe.go
  markdown-toc/pipe/tasks.go
  markdown-toc/pipe/version.go
  renovate.json
  semantic-release/Dockerfile
  semantic-release/Makefile
  semantic-release/README.md
  semantic-release/main.go
  semantic-release/pipe/constants.go
  semantic-release/pipe/flags.go
  semantic-release/pipe/interfaces.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
  semantic-release/pipe/version.go
  update-docker-hub-readme/Makefile
  update-docker-hub-readme/README.md
  update-docker-hub-readme/main.go
  update-docker-hub-readme/pipe/constants.go
  update-docker-hub-readme/pipe/flags.go
  update-docker-hub-readme/pipe/interfaces.go
  update-docker-hub-readme/pipe/pipe.go
  update-docker-hub-readme/pipe/tasks.go
  update-docker-hub-readme/pipe/version.go
Due: publish-docker, publish-node, publish-gl-artifacts

update publish first section
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

output avaialbe steps on fail
  gl-artifacts/pipe/tasks.go
Due: publish-gl-artifacts

rename steps to fetch the artifacts from parent
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

update artifacts
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

add different seperator to job names
  .gitlab-ci.yml
  gl-artifacts/pipe/flags.go
  gl-artifacts/pipe/pipe.go
  gl-artifacts/pipe/tasks.go
Due: publish-docker, publish-node, publish-gl-artifacts

if the response has no filename
  gl-artifacts/pipe/utils.go
Due: publish-gl-artifacts

use private token to download
  gl-artifacts/pipe/utils.go
Due: publish-gl-artifacts

test
  .gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

fix typo
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

update artifact paths
  templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
  templates/docker-build-with-artifacts.gitlab-ci.yml
Due: none

update public image names
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

add missing dockerfile
  .gitlab-ci.yml
  update-docker-hub-readme/Dockerfile
Due: publish-docker, publish-node, publish-gl-artifacts

update templates and ci
  .gitlab-ci.yml
  templates/docker-build.gitlab-ci.yml
  templates/go-build.gitlab.ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

change variable names because of the clash
  templates/docker-build-dockerhub.gitlab-ci.yml
  templates/docker-build.gitlab-ci.yml
Due: none

change how build args are injected
  .gitlab-ci.yml
  docker/pipe/tasks.go
Due: publish-docker, publish-node, publish-gl-artifacts

update node pipe
  .gitlab-ci.yml
  node/Dockerfile
Due: publish-docker, publish-node, publish-gl-artifacts

update pipe template
  templates/nx-build.gitlab-ci.yml
Due: none

feat: add initial semantic release pipe
  .gitlab-ci.yml
  _template/pipe/tasks.go
  go.mod
  go.sum
  semantic-release/Dockerfile
  semantic-release/pipe/constants.go
  semantic-release/pipe/flags.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
  update-docker-hub-readme/Dockerfile
Due: publish-docker, publish-node, publish-gl-artifacts

chore: rename pipe [skip ci]
  .gitlab-ci.yml
Due: publish-docker, publish-node, publish-gl-artifacts

Path conditions:
  publish-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node: any of: node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
