Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

Path conditions:
  bootstrap: (any of: .gitlab-ci.next.yml, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: go/**, buildah/**, .bootstrap.gitlab-ci.yml)
  go: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, go/
  buildah: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, buildah/
  pipe-template: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, _template/
  pipe-buildah: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, buildah/
  pipe-docker: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, docker/
  pipe-go: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, go/
  pipe-markdown-toc: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, markdown-toc/
  pipe-node: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, node/
  pipe-select-env: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, select-env/
  pipe-semantic-release: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/
  pipe-terraform: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, terraform/
  pipe-update-docker-hub-readme: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, update-docker-hub-readme/
  update-docker-hub-readme: any of: **/README.md

fix: update semantic release task
  semantic-release/pipe/tasks.go
Due: none

fix: publish helm pipe properly
  helm/Dockerfile
Due: none

fix: update docuemntation
  helm/README.md
  helm/setup/flags.go
  semantic-release/README.md
  semantic-release/pipe/flags.go
Due: update-docker-hub-readme

fix: use update command
  helm/install/tasks.go
Due: none

fix: while linting also template
  helm/lint/flags.go
  helm/lint/pipe.go
  helm/lint/tasks.go
Due: none

fix: update helm publish mechanism
  go.mod
  go.sum
  helm/login/pipe.go
  helm/publish/flags.go
  helm/publish/pipe.go
  helm/publish/tasks.go
  helm/setup/pipe.go
  helm/setup/tasks.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module gopkg.in/yaml.v2 to v3
  go.mod
  helm/publish/flags.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

ci: move linting to the main file
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: update lint command
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
  go.mod
  go.sum
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

ci: dont use tool
  .gitlab-ci.bootstrap.yml
Due: bootstrap

ci: update linting
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

ci: update golangci installation
  .gitlab-ci.bootstrap.yml
  go/Dockerfile
  helm/setup/pipe.go
Due: bootstrap

fix: update pathing
  helm/setup/tasks.go
  semantic-release/pipe/tasks.go
Due: none

build: allow parallel golanci [skip ci]
  .golangci.yml
Due: none

fix: properly read charts
  helm/setup/tasks.go
Due: none

fix: update semantic release package selection again...
  semantic-release/pipe/tasks.go
Due: none

fix: update configuration
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.yml
  go/lint/flags.go
  go/lint/pipe.go
  go/lint/tasks.go
  go/main.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: update helm command to package properly
  helm/publish/flags.go
  helm/publish/tasks.go
  helm/publish/tasks_versions.go
Due: none

feat: add isolate workspace in a different way
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
Due: none

fix: add caching
  go/lint/tasks.go
Due: none

ci: update caching
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
  helm/publish/flags.go
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: remove pathing [skip ci]
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: update caching
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
  go/build/tasks.go
  go/install/tasks.go
  go/lint/flags.go
  go/lint/pipe.go
  go/lint/tasks.go
  go/setup/flags.go
  go/setup/pipe.go
  go/setup/tasks.go
  go/tool/tasks.go
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: update to dirpath
  go/setup/flags.go
Due: none

fix: add env job properly
  go/build/tasks.go
  go/install/tasks.go
  go/lint/tasks.go
  go/setup/pipe.go
  go/setup/tasks.go
  go/tool/tasks.go
Due: none

fix: update configuration for caching
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
  go/setup/tasks.go
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

ci: update caching
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

ci: update ci
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: update dirpath
  helm/publish/flags.go
Due: none

fix(deps): update module helm.sh/helm/v4 to v4.0.0-beta.2
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

chore(deps): update node.js to v24
  pulumi/Dockerfile-node
Due: none

fix(deps): update module gopkg.in/yaml.v2 to v3
  go.mod
  go.sum
  helm/publish/flags.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module helm.sh/helm/v4 to v4.0.0-rc.1
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update go all minor dependency updates
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/urfave/cli/v3 to v3.6.0
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.6
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module helm.sh/helm/v4 to v4.0.0
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.7
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/urfave/cli/v3 to v3.6.1
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-markdown-toc, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme
