Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Path conditions:
  docker-build-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-manifest-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-build-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-manifest-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_go: any of: go/**/*, .gitlab-ci.yml
  docker-build_node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_semantic-release: any of: common/**/*, select-env/**/*, node/**/*, semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml

fix(deps): update all fast ring minor dependencies
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.13
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: memory error
  node/setup/tasks.go
Due: docker-build_node, docker-build_semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.15
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.17
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update templates [skip ci]
  templates/v2/go-install.gitlab-ci.yml
  templates/v2/node-build.gitlab-ci.yml
  templates/v2/node-install.gitlab-ci.yml
  templates/v2/node-run.gitlab-ci.yml
Due: none

fix: remove files [skip ci]
  templates/v2/go-install.gitlab-ci.yml
  templates/v2/node-install.gitlab-ci.yml
Due: none

fix(deps): update module github.com/urfave/cli/v2 to v2.25.4
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.18
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/urfave/cli/v2 to v2.25.5
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.19
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: revert back to using qiwi version of semantic release
  node/setup/tasks.go
  semantic-release/Dockerfile
  semantic-release/pipe/tasks.go
Due: docker-build_node, docker-build_semantic-release

fix: forgot to actually run the jobs
  node/setup/tasks.go
Due: docker-build_node, docker-build_semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.21
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.22
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: error of versions
  node/setup/tasks.go
Due: docker-build_node, docker-build_semantic-release

fix: add fail condition
  node/setup/tasks.go
Due: docker-build_node, docker-build_semantic-release

fix: update templates [skip-ci]
  templates/v2/docker-build-dockerhub.gitlab-ci.yml
  templates/v2/docker-build-internal.gitlab-ci.yml
Due: none

fix(deps): update module github.com/urfave/cli/v2 to v2.25.6
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.23
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(docker): update configuration for buildx
  docker/build/context.go
  docker/build/tasks_buildx.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker

fix(docker): add provanance flag
  docker/build/tasks_buildx.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker

fix(deps): update module golang.org/x/oauth2 to v0.9.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/urfave/cli/v2 to v2.25.7
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.24
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/google/go-github/v52 to v53
  gh-release-tracker/pipe/context.go
  gh-release-tracker/pipe/tasks.go
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Update file tasks.go
  node/setup/tasks.go
Due: docker-build_node, docker-build_semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.25
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module golang.org/x/oauth2 to v0.10.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

chore: update from deprecated plugin to new version
  semantic-release/Dockerfile
Due: docker-build_semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.26
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

build: update default variables
  docker/Dockerfile
  gh-release-tracker/Dockerfile
  gl-artifacts/Dockerfile
  markdown-toc/Dockerfile
  node/Dockerfile
  s3-upload/Dockerfile
  select-env/Dockerfile
  semantic-release/Dockerfile
  update-docker-hub-readme/Dockerfile
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

refactor: move buildkit to flag for bitbucket
  common/flags/defaults.go
  docker/setup/flags.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

build: update build vars
  docker/Dockerfile
  gh-release-tracker/Dockerfile
  gl-artifacts/Dockerfile
  markdown-toc/Dockerfile
  node/Dockerfile
  s3-upload/Dockerfile
  select-env/Dockerfile
  semantic-release/Dockerfile
  update-docker-hub-readme/Dockerfile
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/docker/docker to v24
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update deprecated variables
  go.mod
  go.sum
  update-docker-hub-readme/pipe/tasks.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

build: update deprecated deps
  semantic-release/Dockerfile
Due: docker-build_semantic-release
