Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

bootstrap:
  stage: bootstrap
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.bootstrap.yml

go:
  stage: pipes
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./go
        container-image-name: cenk1cenk2/pipe-go2
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
          CONTAINER_IMAGE_BUILD_ARGS: 'GO_VERSION: ''{{ env "GO_VERSION" }}'''
  ...

buildah:
  stage: pipes
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./buildah
        container-image-name: cenk1cenk2/pipe-buildah
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-template:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./_template
        container-image-name: cenk1cenk2/pipe-template
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-buildah:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./buildah
        container-image-name: cenk1cenk2/pipe-buildah
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-docker:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./docker
        container-image-name: cenk1cenk2/pipe-docker
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-go:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./go
        container-image-name: cenk1cenk2/pipe-go
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-helm:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./helm
        container-image-name: cenk1cenk2/pipe-helm
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-markdown-toc:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./markdown-toc
        container-image-name: cenk1cenk2/pipe-markdown-toc
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-node:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./node
        container-image-name: cenk1cenk2/pipe-node
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

fix(kustomize): install the kustomize binary
  kustomize/Dockerfile
Due: none

feat(go): add a test command
  go/README.md
  go/main.go
  go/test/flags.go
  go/test/pipe.go
  go/test/runner.go
  go/test/suite_test.go
  go/test/tasks.go
Due: bootstrap, pipe-go, update-docker-hub-readme

fix(kustomize): assemble the image on a plain alpine base
  kustomize/Dockerfile
Due: none

fix(kustomize): ship helm and kustomize in the pipe image
  kustomize/Dockerfile
Due: none

chore(pipes): declare the ginkgo tool in every module that has suites
  buildah/go.mod
  buildah/go.sum
  go/go.mod
  go/go.sum
  helm/go.mod
  kustomize/go.mod
  node/go.mod
  node/go.sum
  pulumi/go.mod
  pulumi/go.sum
  select-env/go.mod
  select-env/go.sum
  semantic-release/go.mod
  semantic-release/go.sum
  terraform/go.mod
  terraform/go.sum
  tests/go.mod
  tests/go.sum
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

ci(pipes): lint, test and build each module through the pipe
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

ci(pipes): reuse the default rules through extends
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

ci(pipes): run the published pipe instead of rebuilding it
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

feat(pipes): generate the documentation through the docs command
  Taskfile.pipe.yml
  Taskfile.yml
  _template/README.md
  _template/main.go
  buildah/README.md
  buildah/main.go
  go/README.md
  go/main.go
  helm/README.md
  helm/main.go
  kustomize/README.md
  kustomize/main.go
  node/README.md
  node/main.go
  pulumi/README.md
  pulumi/main.go
  select-env/README.md
  select-env/main.go
  semantic-release/README.md
  semantic-release/main.go
  terraform/README.md
  terraform/main.go
  update-docker-hub-readme/README.md
  update-docker-hub-readme/main.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

ci(pipes): rebuild the vendor tree instead of restoring it
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

test: align plumber variable naming in login tests
  buildah/login/tasks_test.go
  helm/login/tasks_test.go
Due: bootstrap, pipe-buildah, pipe-helm

fix(deps): update module gitlab.com/gitlab-org/api/client-go/v2 to v3
  internal/gitlab/notes.go
  internal/gitlab/report.go
  internal/gitlab/report_test.go
  internal/gitlab/upsert_test.go
  internal/go.mod
  internal/go.sum
  internal/test/mocks/gitlab/notes_adapter.go
Due: none

fix: drop pnpm add --prod flag removed in pnpm 12
  semantic-release/Dockerfile
Due: pipe-semantic-release

fix(update-docker-hub-readme): handle token login and error response bodies
  update-docker-hub-readme/hub/hub.go
  update-docker-hub-readme/hub/hub_test.go
Due: pipe-update-docker-hub-readme

refactor: capture command output with the Capture builders
  buildah/setup/tasks.go
  go/build/tasks.go
  go/setup/tasks.go
  helm/setup/tasks.go
  internal/node/setup.go
  kustomize/setup/tasks.go
  pulumi/setup/tasks.go
  terraform/plan/tasks.go
  terraform/setup/tasks.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-pulumi, pipe-terraform

feat(report): write the plan report to the job log
  internal/go.mod
  internal/go.sum
  internal/markdown/markdown.go
  internal/markdown/markdown_test.go
  internal/markdown/suite_test.go
  internal/report/terraform/assets/report.md.gotmpl
  internal/report/terraform/flags.go
  internal/report/terraform/report.go
  internal/report/terraform/report_test.go
  internal/report/terraform/source_test.go
  internal/report/terraform/tasks.go
  pulumi/README.md
  pulumi/go.mod
  pulumi/go.sum
  pulumi/preview/flags.go
  pulumi/preview/pipe.go
  pulumi/preview/report_test.go
  pulumi/preview/tasks.go
  terraform/README.md
  terraform/go.mod
  terraform/go.sum
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/report_test.go
  terraform/plan/tasks.go
Due: pipe-pulumi, pipe-terraform, update-docker-hub-readme

fix(deps): update module github.com/charmbracelet/glamour to v2
  internal/go.mod
Due: none

feat(report): show per-resource attribute diffs in the plan report
  internal/markdown/markdown.go
  internal/markdown/markdown_test.go
  internal/report/terraform/assets/report.md.gotmpl
  internal/report/terraform/diff.go
  internal/report/terraform/report.go
  internal/report/terraform/report_test.go
  pulumi/preview/diff.go
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  pulumi/preview/testdata/plan-unwrapped.json
  pulumi/preview/testdata/plan-versioned.json
  terraform/plan/diff.go
  terraform/plan/report.go
  terraform/plan/report_test.go
  terraform/plan/testdata/plan.json
Due: pipe-pulumi, pipe-terraform

feat(report): color a plan diff by the action every line carries
  internal/markdown/lexer.go
  internal/markdown/markdown.go
  internal/markdown/markdown_test.go
  internal/report/terraform/assets/report.md.gotmpl
  internal/report/terraform/diff.go
  internal/report/terraform/report.go
  internal/report/terraform/report_test.go
  internal/report/terraform/tasks.go
  pulumi/preview/diff.go
  terraform/plan/diff.go
Due: pipe-pulumi, pipe-terraform

fix(deps): update module github.com/charmbracelet/glamour to v2
  _template/go.mod
  _template/go.sum
  buildah/go.mod
  buildah/go.sum
  go/go.mod
  go/go.sum
  helm/go.mod
  helm/go.sum
  internal/go.mod
  internal/go.sum
  internal/markdown/markdown.go
  internal/markdown/markdown_test.go
  kustomize/go.mod
  kustomize/go.sum
  node/go.mod
  node/go.sum
  pulumi/go.mod
  pulumi/go.sum
  select-env/go.mod
  select-env/go.sum
  semantic-release/go.mod
  semantic-release/go.sum
  terraform/go.mod
  terraform/go.sum
  tests/go.mod
  tests/go.sum
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

refactor(semantic-release): swap @qiwi for @anolilab and pin via lockfile
  semantic-release/Dockerfile
  semantic-release/README.md
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
  semantic-release/release/flags.go
  semantic-release/release/tasks.go
Due: pipe-semantic-release, update-docker-hub-readme

refactor(semantic-release): pin the published preset and probe extends resolution in-image
  semantic-release/Dockerfile
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

refactor(semantic-release): follow the preset's flows/* to presets/* rename
  semantic-release/Dockerfile
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

refactor(semantic-release): drop the extends-probe from the image build
  semantic-release/Dockerfile
Due: pipe-semantic-release

refactor(semantic-release): swap @qiwi for @anolilab and bake in the published preset
  semantic-release/Dockerfile
  semantic-release/README.md
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
  semantic-release/release/flags.go
  semantic-release/release/tasks.go
Due: pipe-semantic-release, update-docker-hub-readme

chore(semantic-release): update deps and refine Dockerfile
  semantic-release/Dockerfile
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
  semantic-release/pnpm-workspace.yaml
Due: pipe-semantic-release

fix(deps)!: update dependency conventional-changelog-conventionalcommits to v10
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

fix(semantic-release): patch msr to keep the authenticated push url
  semantic-release/Dockerfile
  semantic-release/patches/@anolilab__multi-semantic-release@4.4.11.patch
  semantic-release/pnpm-lock.yaml
  semantic-release/pnpm-workspace.yaml
Due: pipe-semantic-release

fix: update package
  semantic-release/package.json
Due: pipe-semantic-release

fix: update lockfile
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

fix(deps): update dependency @cenk1cenk2/semantic-release-config to ^5.1.0
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

Path conditions:
  bootstrap: (any of: .gitlab-ci.next.yml, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.bootstrap.yml, go/**/*, buildah/**/*) or (any of: go/**, buildah/**, .bootstrap.gitlab-ci.yml)
  go: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, go/
  buildah: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, buildah/
  pipe-template: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, _template/**/*
  pipe-buildah: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, buildah/**/*
  pipe-docker: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, docker/**/*
  pipe-go: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, go/**/*
  pipe-helm: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, helm/**/*
  pipe-markdown-toc: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, markdown-toc/**/*
  pipe-node: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, node/**/*, select-env/**/*
  pipe-pulumi: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, pulumi/**/*
  pipe-select-env: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, select-env/**/*
  pipe-semantic-release: (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**/*, select-env/**/*, node/**/*) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**, select-env/**/*, node/**/*)
  pipe-terraform: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, terraform/**/*
  pipe-update-docker-hub-readme: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, update-docker-hub-readme/**/*
  update-docker-hub-readme: any of: **/README.md
