Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

Path conditions:
  bootstrap: (any of: .gitlab-ci.next.yml, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.bootstrap.yml, go/**/*, buildah/**/*) or (any of: go/**, buildah/**, .bootstrap.gitlab-ci.yml)
  go: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, go/
  buildah: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, buildah/
  pipe-template: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, _template/**/*
  pipe-buildah: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, buildah/**/*
  pipe-docker: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, docker/**/*
  pipe-go: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, go/**/*
  pipe-helm: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, helm/**/*
  pipe-markdown-toc: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, markdown-toc/**/*
  pipe-node: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, node/**/*, select-env/**/*
  pipe-pulumi: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, pulumi/**/*
  pipe-select-env: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, select-env/**/*
  pipe-semantic-release: (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**/*, select-env/**/*, node/**/*) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**, select-env/**/*, node/**/*)
  pipe-terraform: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, terraform/**/*
  pipe-update-docker-hub-readme: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, update-docker-hub-readme/**/*
  update-docker-hub-readme: any of: **/README.md

chore(deps): sync workspace modules with main dependency bumps
  buildah/go.mod
  buildah/go.sum
  go/go.mod
  go/go.sum
  helm/go.mod
  helm/go.sum
  internal/go.mod
  internal/go.sum
  kustomize/go.mod
  kustomize/go.sum
  node/go.mod
  node/go.sum
  pulumi/go.mod
  pulumi/go.sum
  select-env/go.mod
  select-env/go.sum
  semantic-release/go.mod
  semantic-release/go.sum
  template/go.mod
  template/go.sum
  terraform/go.mod
  terraform/go.sum
  tests/go.mod
  tests/go.sum
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

refactor(go,kustomize): apply typed Deps and composer pattern
  go/build/pipe.go
  go/build/suite_test.go
  go/build/tasks.go
  go/build/tasks_test.go
  go/go.mod
  go/go.sum
  go/install/pipe.go
  go/install/tasks.go
  go/lint/pipe.go
  go/lint/tasks.go
  go/main.go
  go/setup/pipe.go
  go/setup/tasks.go
  go/tool/pipe.go
  go/tool/tasks.go
  kustomize/build/pipe.go
  kustomize/build/tasks.go
  kustomize/go.mod
  kustomize/go.sum
  kustomize/main.go
  kustomize/setup/pipe.go
  kustomize/setup/suite_test.go
  kustomize/setup/tasks_test.go
Due: bootstrap, pipe-go

feat(internal): add cli composer and test fixtures
  internal/cli/compose.go
  internal/cli/compose_test.go
  internal/go.sum
  internal/test/fixtures/plumber.go
  internal/test/fixtures/runner.go
  pipes/terraform/go.mod
Due: none

chore(pipes): final cleanup — Dockerfile rename, stale file removal
  .gitlab-ci.yml
  pulumi/Dockerfile
  template/main.go
  template/version.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(tests): format conformance assertions
  tests/pipes_test.go
  tests/readme_test.go
Due: none

refactor(pulumi): apply typed Deps and composer pattern
  pulumi/main.go
  pulumi/preview/pipe.go
  pulumi/preview/tasks.go
  pulumi/preview/tasks_test.go
  pulumi/setup/pipe.go
  pulumi/stack/pipe.go
  pulumi/stack/tasks.go
  pulumi/up/pipe.go
  pulumi/up/tasks.go
Due: pipe-pulumi

refactor(node): apply typed Deps and composer pattern
  node/add/pipe.go
  node/add/suite_test.go
  node/add/tasks.go
  node/add/tasks_test.go
  node/build/pipe.go
  node/build/suite_test.go
  node/build/tasks.go
  node/build/tasks_test.go
  node/go.mod
  node/go.sum
  node/install/pipe.go
  node/install/suite_test.go
  node/install/tasks.go
  node/install/tasks_test.go
  node/main.go
  node/run/pipe.go
  node/run/suite_test.go
  node/run/tasks.go
  node/run/tasks_test.go
  node/setup/setup.go
Due: pipe-node, pipe-semantic-release

fix(ci): run install and lint with the pipe this branch builds
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

chore(node): remove the add command nothing wires up
  node/add/flags.go
  node/add/pipe.go
  node/add/suite_test.go
  node/add/tasks.go
  node/add/tasks_test.go
Due: pipe-node, pipe-semantic-release

feat(tests): add conformance suite and pipes manifest
  buildah/go.mod
  go.work
  pipes.yaml
  pulumi/go.mod
  semantic-release/go.mod
  terraform/go.mod
  tests/go.mod
  tests/go.sum
  tests/legacy_env.go
  tests/manifest.go
  tests/manifest_test.go
  tests/pipes.go
  tests/pipes_test.go
  tests/readme_test.go
  tests/suite_test.go
Due: bootstrap, pipe-buildah, pipe-pulumi, pipe-semantic-release, pipe-terraform

test(internal): add the pipe conformance contract as a struct API
  internal/test/conformance/conformance.go
Due: none

refactor(terraform): apply typed Deps and composer pattern
  terraform/apply/pipe.go
  terraform/apply/tasks.go
  terraform/install/pipe.go
  terraform/install/tasks.go
  terraform/lint/pipe.go
  terraform/lint/tasks.go
  terraform/login/pipe.go
  terraform/login/tasks.go
  terraform/main.go
  terraform/plan/pipe.go
  terraform/plan/tasks.go
  terraform/plan/tasks_test.go
  terraform/publish/pipe.go
  terraform/setup/pipe.go
  terraform/state/pipe.go
  terraform/state/tasks.go
Due: pipe-terraform

fix(ci): point GOPATH and GOCACHE at the cached directories
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

feat(go): add explicit workspace mode
  go/README.md
  go/app/app.go
  go/app/app_test.go
  go/install/pipe.go
  go/install/suite_test.go
  go/install/tasks.go
  go/install/tasks_test.go
  go/lint/flags.go
  go/lint/pipe.go
  go/lint/suite_test.go
  go/lint/tasks.go
  go/lint/tasks_test.go
  go/setup/flags.go
  go/setup/pipe.go
  go/setup/suite_test.go
  go/setup/tasks.go
  go/setup/tasks_test.go
  tests/legacy_env.go
Due: bootstrap, pipe-go, update-docker-hub-readme

test(terraform): stop the plan specs reading the pipeline they run in
  terraform/app/app_test.go
  terraform/plan/tasks_test.go
Due: pipe-terraform

refactor(select-env,semantic-release,update-docker-hub-readme): apply typed Deps and composer pattern
  .mockery.yaml
  select-env/go.mod
  select-env/go.sum
  select-env/main.go
  select-env/setup/setup.go
  select-env/write/pipe.go
  select-env/write/suite_test.go
  select-env/write/tasks.go
  select-env/write/tasks_test.go
  semantic-release/go.mod
  semantic-release/go.sum
  semantic-release/main.go
  semantic-release/release/pipe.go
  semantic-release/release/suite_test.go
  semantic-release/release/tasks_test.go
  semantic-release/setup/setup.go
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
  update-docker-hub-readme/hub/hub.go
  update-docker-hub-readme/hub/hub_test.go
  update-docker-hub-readme/hub/suite_test.go
  update-docker-hub-readme/main.go
  update-docker-hub-readme/pipe/constants.go
  update-docker-hub-readme/pipe/interfaces.go
  update-docker-hub-readme/pipe/tasks.go
  update-docker-hub-readme/pipe/utils.go
  update-docker-hub-readme/test/mocks/hub/client.go
  update-docker-hub-readme/update/flags.go
  update-docker-hub-readme/update/interfaces.go
  update-docker-hub-readme/update/pipe.go
  update-docker-hub-readme/update/suite_test.go
  update-docker-hub-readme/update/tasks.go
  update-docker-hub-readme/update/tasks_test.go
Due: pipe-node, pipe-select-env, pipe-semantic-release, pipe-update-docker-hub-readme

refactor(buildah,helm): apply typed Deps and composer pattern
  buildah/build/pipe.go
  buildah/build/suite_test.go
  buildah/build/tasks_tags.go
  buildah/build/tasks_test.go
  buildah/go.mod
  buildah/go.sum
  buildah/login/flags.go
  buildah/login/pipe.go
  buildah/main.go
  buildah/manifest/pipe.go
  buildah/setup/pipe.go
  helm/go.mod
  helm/go.sum
  helm/install/flags.go
  helm/install/pipe.go
  helm/install/tasks.go
  helm/lint/pipe.go
  helm/lint/tasks.go
  helm/login/flags.go
  helm/login/pipe.go
  helm/main.go
  helm/publish/pipe.go
  helm/publish/suite_test.go
  helm/publish/tasks.go
  helm/publish/tasks_test.go
  helm/publish/tasks_versions.go
  helm/setup/pipe.go
  internal/registry/login.go
Due: bootstrap, pipe-buildah, pipe-helm

fix(ci): run tests with ginkgo runner
  .gitignore
  .gitlab-ci.yml
  Taskfile.pipe.yml
  Taskfile.yml
  go/build/tasks_test.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

chore(deps): bump plumber to v6.5.0
  internal/go.mod
  internal/go.sum
  pipes/buildah/go.mod
  pipes/buildah/go.sum
  pipes/go/go.mod
  pipes/go/go.sum
  pipes/helm/go.mod
  pipes/helm/go.sum
  pipes/kustomize/go.mod
  pipes/kustomize/go.sum
  pipes/node/go.mod
  pipes/node/go.sum
  pipes/pulumi/go.mod
  pipes/pulumi/go.sum
  pipes/select-env/go.mod
  pipes/select-env/go.sum
  pipes/semantic-release/go.mod
  pipes/semantic-release/go.sum
  pipes/terraform/go.mod
  pipes/terraform/go.sum
  pipes/update-docker-hub-readme/go.mod
  pipes/update-docker-hub-readme/go.sum
  template/go.mod
  template/go.sum
Due: none

refactor(tasks): drive the package fan-out from one list and add per-pipe lint
  Taskfile.pipe.yml
  Taskfile.yml
Due: none

feat(pipes): restore the legacy environment aliases as source chains
  buildah/README.md
  buildah/build/flags.go
  buildah/login/flags.go
  buildah/manifest/flags.go
  go/README.md
  go/build/flags.go
  go/setup/flags.go
  helm/README.md
  helm/lint/flags.go
  helm/login/flags.go
  helm/publish/flags.go
  helm/setup/flags.go
  kustomize/README.md
  kustomize/build/flags.go
  kustomize/setup/flags.go
  node/README.md
  node/install/flags.go
  node/run/flags.go
  pulumi/README.md
  pulumi/preview/flags.go
  pulumi/up/flags.go
  terraform/README.md
  terraform/apply/flags.go
  terraform/install/flags.go
  terraform/lint/flags.go
  terraform/login/flags.go
  terraform/plan/flags.go
  terraform/publish/flags.go
  terraform/setup/flags.go
  terraform/state/flags.go
  update-docker-hub-readme/README.md
  update-docker-hub-readme/update/flags.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

test(pipes): scope spec helpers inside their describe blocks
  helm/publish/tasks_test.go
  node/build/tasks_test.go
  node/install/tasks_test.go
  node/run/tasks_test.go
  pulumi/preview/tasks_test.go
  terraform/plan/tasks_test.go
Due: pipe-helm, pipe-node, pipe-pulumi, pipe-semantic-release, pipe-terraform

docs(pipes): carry the task list construction invariant into the template
  template/main.go
Due: none

refactor(pipes): restore the version.go identity file per pipe
  buildah/main.go
  buildah/main_test.go
  buildah/version.go
  go/main.go
  go/main_test.go
  go/version.go
  helm/main.go
  helm/main_test.go
  helm/version.go
  kustomize/main.go
  kustomize/main_test.go
  kustomize/version.go
  node/main.go
  node/main_test.go
  node/version.go
  pulumi/main.go
  pulumi/main_test.go
  pulumi/version.go
  select-env/main.go
  select-env/main_test.go
  select-env/version.go
  semantic-release/main.go
  semantic-release/main_test.go
  semantic-release/version.go
  template/main.go
  template/version.go
  terraform/main.go
  terraform/main_test.go
  terraform/version.go
  update-docker-hub-readme/main.go
  update-docker-hub-readme/main_test.go
  update-docker-hub-readme/version.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

refactor(buildah,helm): inline the registry login step into each pipe
  buildah/login/flags.go
  buildah/login/flags_test.go
  buildah/login/pipe.go
  buildah/login/suite_test.go
  buildah/login/tasks.go
  buildah/login/tasks_test.go
  helm/login/flags.go
  helm/login/flags_test.go
  helm/login/pipe.go
  helm/login/suite_test.go
  helm/login/tasks.go
  helm/login/tasks_test.go
  internal/registry/flags.go
  internal/registry/login.go
  internal/registry/login_test.go
Due: bootstrap, pipe-buildah, pipe-helm

docs(pipes): describe every flag value format with one annotation grammar
  README.md
  buildah/README.md
  buildah/build/flags.go
  buildah/manifest/flags.go
  go/README.md
  go/build/flags.go
  helm/README.md
  helm/publish/flags.go
  internal/environment/flags.go
  internal/environment/template.go
  internal/node/flags.go
  internal/tagsfile/flags.go
  kustomize/README.md
  kustomize/build/flags.go
  node/README.md
  node/run/flags.go
  select-env/README.md
  semantic-release/README.md
  semantic-release/release/flags.go
  terraform/README.md
  terraform/login/flags.go
  terraform/publish/flags.go
  terraform/setup/flags.go
  terraform/state/flags.go
  update-docker-hub-readme/README.md
  update-docker-hub-readme/update/flags.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

refactor(template): restore the _template directory name
  README.md
  Taskfile.yml
  _template/Dockerfile
  _template/README.md
  _template/go.mod
  _template/go.sum
  _template/main.go
  _template/pipe/flags.go
  _template/pipe/pipe.go
  _template/pipe/tasks.go
  _template/version.go
  go.work
  tests/manifest.go
Due: pipe-template, update-docker-hub-readme

refactor(internal): take an options struct in every flag constructor
  buildah/build/flags.go
  helm/publish/flags.go
  internal/ci/flags.go
  internal/ci/flags_test.go
  internal/environment/flags.go
  internal/environment/select_test.go
  internal/git/flags.go
  internal/git/refs_test.go
  internal/gitlab/report.go
  internal/node/npmrc.go
  internal/node/setup.go
  internal/node/setup_test.go
  internal/tagsfile/flags.go
  internal/tagsfile/parse_test.go
  node/login/flags.go
  node/setup/setup.go
  pulumi/preview/flags.go
  select-env/setup/setup.go
  semantic-release/setup/setup.go
  terraform/plan/flags.go
  terraform/publish/flags.go
Due: bootstrap, pipe-buildah, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform

refactor(internal): drop the secret registry for plumber masking
  buildah/build/pipe.go
  buildah/manifest/pipe.go
  go/build/pipe.go
  go/install/pipe.go
  go/lint/pipe.go
  go/setup/pipe.go
  go/tool/pipe.go
  helm/lint/pipe.go
  helm/publish/pipe.go
  internal/cli/secrets.go
  internal/cli/secrets_test.go
  internal/registry/flags.go
  internal/registry/login.go
  internal/registry/login_test.go
  internal/tool/tasks.go
  kustomize/build/pipe.go
  node/build/pipe.go
  node/install/pipe.go
  node/run/pipe.go
  pulumi/preview/pipe.go
  pulumi/stack/pipe.go
  pulumi/up/pipe.go
  semantic-release/release/pipe.go
  terraform/apply/pipe.go
  terraform/install/pipe.go
  terraform/lint/pipe.go
  terraform/login/pipe.go
  terraform/plan/pipe.go
  terraform/publish/pipe.go
  terraform/setup/pipe.go
  terraform/state/pipe.go
  update-docker-hub-readme/update/pipe.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

refactor(pipes): parse every serialized flag through the shared unmarshal wrappers
  buildah/manifest/flags.go
  go/build/flags.go
  terraform/login/flags.go
  update-docker-hub-readme/update/flags.go
Due: bootstrap, pipe-buildah, pipe-go, pipe-terraform, pipe-update-docker-hub-readme

ci(pipes): key trigger paths on an explicit dir and build the template
  .gitlab-ci.trigger.yml
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

feat(node): restore the add command and wire it into the tree
  node/README.md
  node/add/flags.go
  node/add/pipe.go
  node/add/suite_test.go
  node/add/tasks.go
  node/add/tasks_test.go
  node/main.go
Due: pipe-node, pipe-semantic-release, update-docker-hub-readme

refactor(internal): name the iac report package after the terraform report it writes
  internal/ci/flags.go
  internal/ci/flags_test.go
  internal/report/terraform/assets/mr-report.md.gotmpl
  internal/report/terraform/report.go
  internal/report/terraform/report_test.go
  internal/report/terraform/suite_test.go
  internal/report/terraform/summary.go
  internal/report/terraform/tasks.go
  pulumi/preview/pipe.go
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  pulumi/preview/tasks.go
  terraform/plan/pipe.go
  terraform/plan/report.go
  terraform/plan/report_test.go
  terraform/plan/tasks.go
Due: pipe-pulumi, pipe-terraform

ci(pipes): scope workspace mode to the bootstrap lint run
  .gitlab-ci.bootstrap.yml
Due: bootstrap

feat(go): build every workspace module when workspace mode is explicit
  go/build/pipe.go
  go/build/tasks.go
  go/build/tasks_test.go
Due: bootstrap, pipe-go
