Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

Path conditions:
  docker-build-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_semantic-release: any of: common/**/*, select-env/**/*, node/**/*, semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml

fix(templates): remove reporting
  templates/v2/github-status.gitlab-ci.yml
Due: none

fix(templates): add tags to job
  templates/v2/github-status.gitlab-ci.yml
Due: none

fix(templates): update task
  templates/v2/github-status.gitlab-ci.yml
Due: none

fix(templates): update the status reporting [skip ci]
  templates/v2/github-status.gitlab-ci.yml
Due: none

fix(template): update template with api version
  templates/v2/github-status.gitlab-ci.yml
Due: none

fix(template): update template
  templates/v2/github-status.gitlab-ci.yml
Due: none

fix(template): update template [skip ci]
  templates/v2/github-status.gitlab-ci.yml
Due: none

update template [skip ci]
  templates/v2/github-status.gitlab-ci.yml
Due: none

WIP: update template
  templates/v2/github-status.gitlab-ci.yml
Due: none

WIP: update temp
  templates/v2/github-status.gitlab-ci.yml
Due: none

fix(templates): update template [skip ci]
  templates/v2/node-install.gitlab-ci.yml
Due: none

refactor(node): update caching mechanism and variables
  node/README.md
  node/install/flags.go
  node/install/pipe.go
  node/install/tasks.go
  node/setup/constants.go
  node/setup/interfaces.go
  semantic-release/README.md
Due: docker-build_node, docker-build_semantic-release

build(semantic-release): add pnpm to build container
  semantic-release/Dockerfile
Due: docker-build_semantic-release

chore(templates): update template to use cache instead of artifact [skip ci]
  templates/v2/node-install.gitlab-ci.yml
Due: none

chore(templates): give caches proper naming [skip ci]
  templates/v2/node-install.gitlab-ci.yml
Due: none

build(semantic-release): swap the package beeing used
  semantic-release/Dockerfile
Due: docker-build_semantic-release

fix(semantic-release): hide the private packages by default
  semantic-release/pipe/tasks.go
Due: docker-build_semantic-release

fix(deps): update module github.com/google/go-github/v50 to v51
  gh-release-tracker/pipe/context.go
  gh-release-tracker/pipe/tasks.go
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

chore(templates): update templates with cache [skip ci]
  templates/v2/node-build.gitlab-ci.yml
  templates/v2/node-install.gitlab-ci.yml
  templates/v2/node-run.gitlab-ci.yml
Due: none

perf(docker): automatically push when using buildkit instead of pushing manually
  docker/build/tasks_build.go
  templates/v2/node-build.gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker

perf: change package manager default to pnpm and lint command to lint
  common/flags/defaults.go
  templates/node.gitlab-ci.yml
  templates/v2/node-lint.gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module golang.org/x/oauth2 to v0.7.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/docker/docker to v23.0.4+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.7
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/google/go-github/v51 to v52
  gh-release-tracker/pipe/context.go
  gh-release-tracker/pipe/tasks.go
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(templates): update stages [skip ci]
  templates/docker-manifest-dockerhub.gitlab-ci.yml
  templates/docker-manifest.gitlab-ci.yml
  templates/update-docker-hub-readme.gitlab-ci.yml
Due: none

fix(templates): update temlate [skip ci]
  templates/docker-build-with-artifacts.gitlab-ci.yml
Due: none

fix: update templates and dependencies, add new node version
  .gitlab-ci.yml
  go.mod
  go.sum
  templates/v2/go-install.gitlab-ci.yml
  templates/v2/node-install.gitlab-ci.yml
  templates/v2/node-lint.gitlab-ci.yml
  templates/v2/node-run.gitlab-ci.yml
  templates/v2/workflow-on-mr.gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

ci: update build configuration
  .gitlab-ci.yml
  templates/node.gitlab-ci.yml
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/docker/docker to v23.0.5+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.8
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.9
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/urfave/cli/v2 to v2.25.3
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.10
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module github.com/docker/docker to v23.0.6+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix: update templates
  templates/v2/docker-build-internal.gitlab-ci.yml
  templates/v2/docker-manifest-internal.gitlab-ci.yml
Due: none

feat: show nodejs versions
  docker/build/tasks_build.go
  docker/setup/flags.go
  node/setup/constants.go
  node/setup/interfaces.go
  node/setup/pipe.go
  node/setup/tasks.go
Due: docker-build-first_docker, docker-build_docker, docker-build_node, docker-build_semantic-release

fix: only get the first lines out of versioning
  node/setup/tasks.go
Due: docker-build_node, docker-build_semantic-release

fix(deps): update module golang.org/x/oauth2 to v0.8.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.11
  go.mod
  go.sum
Due: docker-build-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_update-docker-hub-readme, docker-build_semantic-release, docker-build_select-env
