Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

bootstrap:
  stage: bootstrap
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.bootstrap.yml

go:
  stage: pipes
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./go
        container-image-name: cenk1cenk2/pipe-go2
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
          CONTAINER_IMAGE_BUILD_ARGS: 'GO_VERSION: ''{{ env "GO_VERSION" }}'''
  ...

buildah:
  stage: pipes
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./buildah
        container-image-name: cenk1cenk2/pipe-buildah
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-template:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./_template
        container-image-name: cenk1cenk2/pipe-template
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-buildah:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./buildah
        container-image-name: cenk1cenk2/pipe-buildah
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-docker:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./docker
        container-image-name: cenk1cenk2/pipe-docker
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-go:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./go
        container-image-name: cenk1cenk2/pipe-go
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-helm:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./helm
        container-image-name: cenk1cenk2/pipe-helm
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-markdown-toc:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./markdown-toc
        container-image-name: cenk1cenk2/pipe-markdown-toc
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-node:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./node
        container-image-name: cenk1cenk2/pipe-node
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

fix: update node version
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: update secret
  templates/v2/semantic-release.gitlab-ci.yml
Due: none

fix: remove isolate workspaces from semantic release
  semantic-release/pipe/flags.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
Due: pipe-semantic-release

fix: update path
  semantic-release/Dockerfile
Due: pipe-semantic-release

feat(gitlab): add MR report note helper
  common/gitlab/report.go
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: update fmtsprintf
  common/gitlab/report.go
Due: none

fix(semantic-release): pin pnpm for global plugins
  semantic-release/Dockerfile
Due: pipe-semantic-release

fix(semantic-release): resolve plugins with pnpm 11
  semantic-release/Dockerfile
Due: pipe-semantic-release

feat(pulumi): add MR preview report
  common/gitlab/report.go
  go.mod
  go.sum
  pulumi/README.md
  pulumi/preview/assets/mr-report.md.gotmpl
  pulumi/preview/flags.go
  pulumi/preview/pipe.go
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  pulumi/preview/suite_test.go
  pulumi/preview/tasks.go
  pulumi/preview/testdata/plan-unwrapped.json
  pulumi/preview/testdata/plan-versioned.json
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

feat(terraform): add merge request plan report
  common/gitlab/report.go
  go.mod
  go.sum
  terraform/README.md
  terraform/plan/assets/mr-report.md.gotmpl
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/report.go
  terraform/plan/report_test.go
  terraform/plan/suite_test.go
  terraform/plan/tasks.go
  terraform/plan/testdata/plan.json
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

fix(deps): update module gitlab.com/gitlab-org/api/client-go to v2
  common/gitlab/report.go
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

refactor(pulumi): prefer stdlib slice helpers
  pulumi/preview/report.go
Due: pipe-pulumi

feat(pulumi): add merge request preview report
  common/gitlab/report.go
  go.mod
  go.sum
  pulumi/README.md
  pulumi/preview/assets/mr-report.md.gotmpl
  pulumi/preview/flags.go
  pulumi/preview/pipe.go
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  pulumi/preview/suite_test.go
  pulumi/preview/tasks.go
  pulumi/preview/testdata/plan-unwrapped.json
  pulumi/preview/testdata/plan-versioned.json
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

fix(pulumi): skip MR report outside merge requests
  common/gitlab/report.go
  common/gitlab/report_test.go
  pulumi/preview/tasks.go
Due: pipe-pulumi

fix(gitlab): gate MR report validation on merge request
  common/gitlab/report.go
  common/gitlab/report_test.go
  pulumi/preview/pipe.go
Due: pipe-pulumi

feat(terraform): add merge request plan report
  go.mod
  go.sum
  terraform/README.md
  terraform/plan/assets/mr-report.md.gotmpl
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/report.go
  terraform/plan/report_test.go
  terraform/plan/suite_test.go
  terraform/plan/tasks.go
  terraform/plan/testdata/plan.json
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

fix(terraform): skip MR report outside merge requests
  go.mod
  terraform/plan/pipe.go
  terraform/plan/tasks.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

ci: update tags
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

feat(iac): generate report artifacts
  common/gitlab/report.go
  common/gitlab/report_test.go
  go.mod
  go.sum
  pulumi/README.md
  pulumi/preview/assets/mr-report.md.gotmpl
  pulumi/preview/assets/report.html.gotmpl
  pulumi/preview/flags.go
  pulumi/preview/pipe.go
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  pulumi/preview/tasks.go
  terraform/README.md
  terraform/plan/assets/mr-report.md.gotmpl
  terraform/plan/assets/report.html.gotmpl
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/report.go
  terraform/plan/report_test.go
  terraform/plan/tasks.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

feat(iac): generate summary data
  pulumi/README.md
  pulumi/preview/flags.go
  pulumi/preview/pipe.go
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  pulumi/preview/tasks.go
  terraform/README.md
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/report.go
  terraform/plan/report_test.go
  terraform/plan/tasks.go
Due: pipe-pulumi, pipe-terraform, update-docker-hub-readme

fix(pulumi): filter unchanged resources from preview MR report (K-428)
  pulumi/preview/assets/mr-report.md.gotmpl
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  pulumi/preview/testdata/plan-unwrapped.json
Due: pipe-pulumi

feat(terraform): preview MR plans without locking
  terraform/README.md
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/tasks.go
Due: pipe-terraform, update-docker-hub-readme

ci: update builds
  .gitlab-ci.yml
  pulumi/Dockerfile-node
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(docker): install corepack when not bundled (node 25+)
  node/Dockerfile
  pulumi/Dockerfile-node
  semantic-release/Dockerfile
Due: pipe-node, pipe-pulumi, pipe-semantic-release

feat(kustomize): add kustomize build pipe for overlay validation (K-760)
  .gitlab-ci.yml
  go.mod
  go.sum
  kustomize/Dockerfile
  kustomize/README.md
  kustomize/build/assets/mr-report.md.gotmpl
  kustomize/build/flags.go
  kustomize/build/kustomize.go
  kustomize/build/pipe.go
  kustomize/build/report.go
  kustomize/build/report_test.go
  kustomize/build/suite_test.go
  kustomize/build/tasks.go
  kustomize/main.go
  kustomize/setup/flags.go
  kustomize/setup/pipe.go
  kustomize/setup/tasks.go
  kustomize/version.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

fix(kustomize): address review feedback — enable-helm default, load-restrictor, discovery style (K-760)
  kustomize/build/flags.go
  kustomize/setup/tasks.go
Due: none

fix(kustomize): match ArgoCD config from tf-overseer, add discovery strategy (K-760)
  kustomize/README.md
  kustomize/build/kustomize.go
  kustomize/setup/flags.go
  kustomize/setup/pipe.go
  kustomize/setup/suite_test.go
  kustomize/setup/tasks.go
  kustomize/setup/tasks_test.go
Due: update-docker-hub-readme

fix(kustomize): register kustomize in Taskfile, verify via task commands (K-760)
  README.md
  Taskfile.yml
Due: update-docker-hub-readme

fix(kustomize): address review — switch for load-restrictor, enum types, reorder helpers (K-760)
  kustomize/README.md
  kustomize/build/flags.go
  kustomize/build/kustomize.go
  kustomize/build/pipe.go
  kustomize/build/tasks.go
  kustomize/setup/flags.go
  kustomize/setup/tasks.go
Due: update-docker-hub-readme

feat(kustomize): remove auto-discovery, fix failure behavior, drop MR reporting (K-780)
  kustomize/README.md
  kustomize/build/assets/mr-report.md.gotmpl
  kustomize/build/flags.go
  kustomize/build/pipe.go
  kustomize/build/report.go
  kustomize/build/report_test.go
  kustomize/build/suite_test.go
  kustomize/build/tasks.go
  kustomize/setup/flags.go
  kustomize/setup/pipe.go
  kustomize/setup/suite_test.go
  kustomize/setup/tasks.go
  kustomize/setup/tasks_test.go
Due: update-docker-hub-readme

fix(deps): pin helm base image to major tag 4 (K-865)
  helm/Dockerfile
  kustomize/Dockerfile
Due: pipe-helm

feat(iac): unify terraform and pulumi plan reports, fix note collisions
  common/gitlab/report.go
  common/gitlab/report_test.go
  common/report/iac/assets/mr-report.md.gotmpl
  common/report/iac/flags.go
  common/report/iac/report.go
  common/report/iac/report_test.go
  pulumi/README.md
  pulumi/preview/assets/mr-report.md.gotmpl
  pulumi/preview/flags.go
  pulumi/preview/pipe.go
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  pulumi/preview/tasks.go
  terraform/README.md
  terraform/plan/assets/mr-report.md.gotmpl
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/report.go
  terraform/plan/report_test.go
  terraform/plan/tasks.go
  terraform/plan/testdata/plan.json
Due: pipe-pulumi, pipe-terraform, update-docker-hub-readme

fix(iac): harden report marker resolution, move tests onto ginkgo
  common/gitlab/report.go
  common/gitlab/report_test.go
  common/gitlab/suite_test.go
  common/report/iac/report_test.go
  common/report/iac/suite_test.go
  terraform/plan/tasks.go
Due: pipe-terraform

fix(iac): make the report note operation legible, discriminate pulumi by cwd
  common/gitlab/report.go
  pulumi/preview/flags.go
  pulumi/preview/pipe.go
  pulumi/preview/tasks.go
  pulumi/preview/tasks_test.go
  terraform/plan/tasks.go
  terraform/plan/tasks_test.go
Due: pipe-pulumi, pipe-terraform

test(gitlab): drive the report note upsert through a notes seam
  common/gitlab/report.go
  common/gitlab/upsert_test.go
Due: none

feat(go): add 1.27-alpine, drop 1.24-alpine, publish latest tag
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.yml
  Taskfile.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

Path conditions:
  bootstrap: (any of: .gitlab-ci.next.yml, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.bootstrap.yml, go/**/*, buildah/**/*) or (any of: go/**, buildah/**, .bootstrap.gitlab-ci.yml)
  go: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, go/
  buildah: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, buildah/
  pipe-template: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, _template/**/*
  pipe-buildah: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, buildah/**/*
  pipe-docker: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, docker/**/*
  pipe-go: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, go/**/*
  pipe-helm: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, helm/**/*
  pipe-markdown-toc: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, markdown-toc/**/*
  pipe-node: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, node/**/*, select-env/**/*
  pipe-pulumi: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, pulumi/**/*
  pipe-select-env: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, select-env/**/*
  pipe-semantic-release: (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**/*, select-env/**/*, node/**/*) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**, select-env/**/*, node/**/*)
  pipe-terraform: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, terraform/**/*
  pipe-update-docker-hub-readme: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, update-docker-hub-readme/**/*
  update-docker-hub-readme: any of: **/README.md
