Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

docker-build-first_go:
  variables:
    DOCKER_BUILDKIT: '1'
    GITLAB_CI_ARCH: amd64
    DOCKERFILE_NAME: Dockerfile
    DOCKERFILE_CONTEXT: ./go
    DOCKER_IMAGE_BUILD_ARGS: ''
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-go
  before_script:
  - cd $DOCKERFILE_CONTEXT
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  ...

docker-manifest-first_go:
  variables:
    DOCKER_BUILDKIT: '1'
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  - docker manifest create ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAGS} ${DOCKER_IMAGE_AMEND_TAGS}
  - docker manifest push --purge $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAGS
  tags:
  - docker
  ...

docker-build-first_docker:
  variables:
    DOCKER_BUILDKIT: '1'
    GITLAB_CI_ARCH: amd64
    DOCKERFILE_NAME: Dockerfile
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_BUILD_ARGS: ''
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
  before_script:
  - cd $DOCKERFILE_CONTEXT
  script:
  ...

docker-manifest-first_docker:
  variables:
    DOCKER_BUILDKIT: '1'
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
    DOCKER_IMAGE_TAGS: latest
    DOCKER_IMAGE_AMEND_TAGS: -a cenk1cenk2/pipe-docker:latest-amd64 -a cenk1cenk2/pipe-docker:latest-arm64
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  ...

docker-build_docker:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-${GITLAB_CI_ARCH}
      GITLAB_CI_ARCH:
      - amd64
      - arm64
  dependencies:
  - 'build: [docker]'

docker-build_gl-artifacts:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gl-artifacts
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-${GITLAB_CI_ARCH}
      GITLAB_CI_ARCH:
      - amd64
      - arm64
  dependencies:
  - 'build: [gl-artifacts]'

docker-build_go:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./go
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-go
    DOCKER_IMAGE_BUILD_ARGS: GO_VERSION=${GO_VERSION}
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: ${GO_VERSION}-${GITLAB_CI_ARCH}
      DOCKER_MANIFEST_TARGET: ${GO_VERSION}
  ...

docker-build_node:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./node
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-node
    DOCKER_MANIFEST_TARGET: ${NODE_VERSION}
    DOCKER_IMAGE_BUILD_ARGS: NODE_VERSION=${NODE_VERSION}
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: ${NODE_VERSION}-${GITLAB_CI_ARCH}
      NODE_VERSION:
      - 16
  ...

docker-build_gh-release-tracker:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./gh-release-tracker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gh-release-tracker
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-${GITLAB_CI_ARCH}
      GITLAB_CI_ARCH:
      - amd64
      - arm64
  dependencies:
  ...

fix: update build script
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update pipeline to build at one go
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: enable remote taskfiles
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update versioning and templating
  Taskfile.pipe.yml
  _template/version.go
  docker/build/tasks_build.go
  docker/version.go
  markdown-toc/version.go
  node/version.go
  select-env/version.go
  semantic-release/version.go
  terraform/version.go
  update-docker-hub-readme/version.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_node, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update flags
  docker/build/flags.go
  update-docker-hub-readme/pipe/flags.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_update-docker-hub-readme

ci: seperate pipes again
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: cleanup unused variables [skip ci]
  docker/main.go
  node/login/flags.go
  node/run/flags.go
  terraform/publish/flags.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_node, docker-build_semantic-release

fix: udpate pipe
  node/run/flags.go
  node/run/pipe.go
Due: docker-build_node, docker-build_semantic-release

fix(deps): update all minor dependency updates
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: issue with env triggering action on flags
  docker/build/flags.go
  docker/build/pipe.go
  docker/manifest/flags.go
  docker/manifest/pipe.go
  node/login/flags.go
  node/login/pipe.go
  select-env/setup/flags.go
  select-env/setup/pipe.go
  terraform/login/flags.go
  terraform/login/pipe.go
  terraform/publish/flags.go
  terraform/publish/pipe.go
  update-docker-hub-readme/pipe/flags.go
  update-docker-hub-readme/pipe/pipe.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_node, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/docker/docker to v28
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

chore: documentation generation [skip ci]
  _template/README.md
  docker/README.md
  go.mod
  go.sum
  markdown-toc/README.md
  node/README.md
  select-env/README.md
  semantic-release/README.md
  terraform/README.md
  update-docker-hub-readme/README.md
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update with raw values to currently remedy the situation
  docker/build/flags.go
  docker/build/pipe.go
  docker/manifest/flags.go
  docker/manifest/pipe.go
  go.mod
  go.sum
  node/login/flags.go
  node/login/pipe.go
  node/run/pipe.go
  select-env/setup/flags.go
  select-env/setup/pipe.go
  terraform/login/flags.go
  terraform/login/pipe.go
  terraform/publish/pipe.go
  update-docker-hub-readme/pipe/flags.go
  update-docker-hub-readme/pipe/pipe.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/bmatcuk/doublestar/v4 to v4.9.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/docker/docker to v28.3.3+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

chore(deps): update node.js to v22.19.0
  semantic-release/Dockerfile
Due: docker-build_semantic-release

fix: update pipeline stemplates and some versions
  .gitlab-ci.yml
  Taskfile.yml
  go.mod
  go.sum
  templates/go.gitlab-ci.yml
  templates/v3/semantic-release.gitlab-ci.yml
  templates/v3/terraform-install.gitlab-ci.yml
  templates/v3/terraform-lint.gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update template
  templates/v3/terraform-install.gitlab-ci.yml
Due: none

WIP:
  templates/v3/semantic-release.gitlab-ci.yml
Due: none

chore(deps): update dependency go to v1.25.1
  go.mod
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

WIP:
  templates/v3/terraform-install.gitlab-ci.yml
  templates/v3/terraform-lint.gitlab-ci.yml
Due: none

fix: update configuration
  templates/v3/terraform-install.gitlab-ci.yml
  templates/v3/terraform-lint.gitlab-ci.yml
Due: none

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.1.2
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: remove unused for migration
  templates/v3/semantic-release.gitlab-ci.yml
  templates/v3/terraform-install.gitlab-ci.yml
  templates/v3/terraform-lint.gitlab-ci.yml
Due: none

fix: add jq as dep
  terraform/Dockerfile
Due: none

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.1.3
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/go-utils/v2 to v2.2.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update dryrun logic
  semantic-release/pipe/flags.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
Due: docker-build_semantic-release

fix: update ci variables
  semantic-release/pipe/flags.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
Due: docker-build_semantic-release

fix: forcefully overwrite ci
  semantic-release/pipe/tasks.go
Due: docker-build_semantic-release

fix: update rules
  semantic-release/pipe/tasks.go
Due: docker-build_semantic-release

style: update formatters
  .golangci.yml
Due: none

style: format things [skip ci]
  semantic-release/pipe/constants.go
  update-docker-hub-readme/pipe/constants.go
Due: docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: overwrite env?
  semantic-release/pipe/tasks.go
Due: docker-build_semantic-release

fix: explicitly set false?
  semantic-release/pipe/tasks.go
Due: docker-build_semantic-release

fix: add retries for terraform planning
  terraform/plan/tasks.go
Due: none

fix: update build confiuguration
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/tasks.go
Due: none

fix: add retry mechanism properlky
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/tasks.go
Due: none

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.1.4
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Path conditions:
  docker-build-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-manifest-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-build-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-manifest-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_go: any of: go/**/*, .gitlab-ci.yml
  docker-build_node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_semantic-release: any of: common/**/*, select-env/**/*, node/**/*, semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
