Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

publish-first-docker:
  stage: publish-first
  before_script:
  - cd $DOCKER_CONTEXT
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  variables:
    DOCKER_CONTEXT: ./docker
  ...

publish-first-gl-artifacts:
  stage: publish-first
  before_script:
  - cd $DOCKER_CONTEXT
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  variables:
  ...

publish-docker:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: gitlab-pipes-docker
    IMAGE_TAGS: latest
    PARENT_DOWNLOAD_ARTIFACTS: 'build: [./docker]'

publish-node:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./node
    DOCKER_IMAGE_NAME: gitlab-pipes-node
    PARENT_DOWNLOAD_ARTIFACTS: 'build: [./node]'
  parallel:
    matrix:
  ...

publish-gl-artifacts:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: gitlab-pipes-gl-artifacts
    IMAGE_TAGS: latest
  ...

publish-gh-release-tracker:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./gh-release-tracker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gh-release-tracker
    IMAGE_TAGS: latest
  ...

publish-markdown-toc:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./markdown-toc
    IMAGE_NAME: cenk1cenk2/pipe-markdown-toc
    IMAGE_TAGS: latest
  ...

publish-update-docker-hub-readme:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./update-docker-hub-readme
    IMAGE_NAME: cenk1cenk2/pipe-update-docker-hub-readme
    IMAGE_TAGS: latest
  ...

publish-semantic-release:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./semantic-release
    IMAGE_NAME: cenk1cenk2/pipe-semantic-release
    IMAGE_TAGS: latest
  ...

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.9.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat: update docker container to have sanitizing tags functionality
  .golangci.yml
  _template/Makefile
  _template/README.md
  docker/Makefile
  docker/README.md
  docker/main.go
  docker/pipe/constants.go
  docker/pipe/context.go
  docker/pipe/flags.go
  docker/pipe/pipe.go
  docker/pipe/tasks.go
  docker/pipe/tasks_build.go
  docker/pipe/tasks_buildx.go
  docker/pipe/tasks_login.go
  docker/pipe/tasks_tags.go
  docker/pipe/utils.go
  gh-release-tracker/Makefile
  gh-release-tracker/README.md
  gl-artifacts/Makefile
  gl-artifacts/README.md
  go.mod
  go.sum
  markdown-toc/Makefile
  markdown-toc/README.md
  node/Makefile
  node/build/flags.go
  node/login/flags.go
  s3-upload/Makefile
  s3-upload/README.md
  select-env/Makefile
  select-env/README.md
  select-env/pipe/flags.go
  select-env/pipe/pipe.go
  semantic-release/Makefile
  semantic-release/README.md
  update-docker-hub-readme/Makefile
  update-docker-hub-readme/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

chore: tidy deps
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update docker login to be a sequence
  docker/pipe/tasks_login.go
Due: publish-first-docker, publish-docker

fix(pipe-docker): update conditions for docker login
  docker/pipe/flags.go
  docker/pipe/tasks_login.go
Due: publish-first-docker, publish-docker

feat: update pipes to be public add more configurability
  .gitlab-ci.yml
  _template/pipe/pipe.go
  docker/README.md
  docker/main.go
  docker/pipe/flags.go
  docker/pipe/pipe.go
  docker/pipe/tasks_build.go
  docker/pipe/tasks_buildx.go
  docker/pipe/tasks_login.go
  docker/pipe/tasks_tags.go
  gh-release-tracker/pipe/pipe.go
  gl-artifacts/pipe/pipe.go
  go.mod
  go.sum
  markdown-toc/pipe/pipe.go
  node/build/pipe.go
  node/install/pipe.go
  node/login/pipe.go
  node/run/pipe.go
  node/setup/pipe.go
  s3-upload/pipe/pipe.go
  select-env/pipe/pipe.go
  semantic-release/pipe/pipe.go
  templates/docker-build-dockerhub.gitlab-ci.yml
  templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
  templates/docker-build-with-artifacts.gitlab-ci.yml
  templates/docker-build.gitlab-ci.yml
  templates/node-build.gitlab-ci.yml
  templates/node-install.gitlab-ci.yml
  templates/node-lint.gitlab-ci.yml
  templates/node-test.gitlab-ci.yml
  update-docker-hub-readme/pipe/pipe.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: update ci configuration
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: update variable name for convience
  .gitlab-ci.yml
  templates/update-docker-hub-readme.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: update container names
  .gitlab-ci.yml
  templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

docs: update documentation and build errors
  .rgignore
  Makefile
  docker/README.md
  docker/pipe/flags.go
  gl-artifacts/README.md
  gl-artifacts/pipe/flags.go
  go.mod
  go.sum
  node/README.md
  node/build/flags.go
  node/login/flags.go
  select-env/README.md
  select-env/pipe/flags.go
  semantic-release/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

docs: update documentation
  README.md
Due: none

fix: update problem with plumber
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update regular exporession
  docker/pipe/flags.go
  docker/pipe/utils.go
Due: publish-first-docker, publish-docker

fix: update mflags
  docker/pipe/pipe.go
  go.mod
  go.sum
  node/README.md
  node/build/flags.go
  node/install/flags.go
  node/login/flags.go
  node/run/flags.go
  node/setup/flags.go
  semantic-release/pipe/flags.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

docs: update documentation [skip ci]
  README.md
Due: none

fix: update error handling
  markdown-toc/pipe/tasks.go
  node/build/tasks.go
  node/login/tasks.go
Due: publish-node, publish-markdown-toc, publish-semantic-release

fix: update deps
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: remove validating json since it is acting up
  docker/pipe/pipe.go
  node/build/pipe.go
Due: publish-first-docker, publish-docker, publish-node, publish-semantic-release

chore: update dpes
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update conditions
  docker/pipe/flags.go
Due: publish-first-docker, publish-docker

fix(pipe-docker): update sanitize mechanism
  docker/pipe/flags.go
  docker/pipe/tasks.go
  docker/pipe/tasks_tags.go
  docker/pipe/utils.go
Due: publish-first-docker, publish-docker

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.11.3
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update all fast ring minor dependencies
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.11.5
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.11.6
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/bmatcuk/doublestar/v4 to v4.3.0
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

refactor(flags): move common flags to common folder
  .gitlab-ci.yml
  common/flags/category.go
  common/flags/git.go
  docker/pipe/flags.go
  go.mod
  go.sum
  node/build/flags.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/urfave/cli/v2 to v2.23.2
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.11.8
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module github.com/bmatcuk/doublestar/v4 to v4.3.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: add select environment pipe and refactor the others to match
  common/constants/git.go
  common/flags/category.go
  common/flags/defaults.go
  common/flags/git.go
  common/parser/git_references.go
  docker/main.go
  docker/pipe/constants.go
  docker/pipe/context.go
  docker/pipe/flags.go
  docker/pipe/pipe.go
  docker/pipe/tasks.go
  docker/pipe/tasks_tags.go
  docker/pipe/utils.go
  gh-release-tracker/main.go
  gl-artifacts/main.go
  gl-artifacts/pipe/flags.go
  markdown-toc/main.go
  node/build/flags.go
  node/install/flags.go
  node/login/constants.go
  node/login/context.go
  node/login/flags.go
  node/login/pipe.go
  node/login/tasks.go
  node/main.go
  node/run/flags.go
  node/setup/flags.go
  select-env/main.go
  select-env/pipe/flags.go
  select-env/setup/context.go
  select-env/setup/flags.go
  select-env/setup/interfaces.go
  select-env/setup/pipe.go
  select-env/setup/tasks.go
  semantic-release/pipe/flags.go
  update-docker-hub-readme/main.go
  update-docker-hub-readme/pipe/flags.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

refactor: move configuration variables to common library #SORWE-315 Done
  common/flags/defaults.go
  common/utils/inline_template.go
  docker/pipe/flags.go
  docker/pipe/interfaces.go
  docker/pipe/pipe.go
  docker/pipe/utils.go
  node/setup/flags.go
  select-env/setup/flags.go
  select-env/setup/interfaces.go
  select-env/setup/pipe.go
  select-env/setup/tasks.go
Due: publish-first-docker, publish-docker, publish-node, publish-semantic-release

feat: change the environment variable parsing for the node pipe
  .gitlab-ci.yml
  common/flags/defaults.go
  common/utils/inline_template.go
  docker/pipe/flags.go
  go.mod
  go.sum
  node/Dockerfile
  node/build/context.go
  node/build/flags.go
  node/build/interfaces.go
  node/build/pipe.go
  node/build/tasks.go
  node/login/flags.go
  node/main.go
  node/run/flags.go
  node/run/interfaces.go
  node/run/tasks.go
  select-env/setup/flags.go
  select-env/setup/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat: group more instances of common variables, add select env write
  common/flags/category.go
  common/flags/defaults.go
  common/flags/git.go
  common/flags/interfaces.go
  common/flags/tags_file.go
  docker/pipe/flags.go
  docker/pipe/interfaces.go
  docker/pipe/pipe.go
  docker/pipe/utils.go
  gh-release-tracker/pipe/flags.go
  gh-release-tracker/pipe/pipe.go
  gh-release-tracker/pipe/tasks.go
  gl-artifacts/pipe/flags.go
  node/build/flags.go
  node/build/interfaces.go
  node/build/pipe.go
  node/build/tasks.go
  node/run/flags.go
  node/run/interfaces.go
  node/run/tasks.go
  select-env/pipe/flags.go
  select-env/pipe/pipe.go
  select-env/pipe/tasks.go
  select-env/setup/constants.go
  select-env/setup/flags.go
  select-env/setup/interfaces.go
  select-env/setup/pipe.go
  select-env/setup/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-semantic-release

chore: update deps
  go.mod
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

docs: update documentation
  docker/README.md
  gh-release-tracker/README.md
  gl-artifacts/README.md
  node/README.md
  select-env/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-semantic-release

fix: update match conditions
  common/flags/defaults.go
Due: none

fix: issues with flag parsing
  common/flags/tags_file.go
  common/parser/git_references.go
  docker/pipe/flags.go
  docker/pipe/pipe.go
  docker/pipe/tasks_tags.go
  node/login/flags.go
  node/login/pipe.go
  select-env/setup/flags.go
  select-env/setup/pipe.go
  select-env/setup/tasks.go
Due: publish-first-docker, publish-docker, publish-node, publish-semantic-release

chore: beatify json format [skip ci]
  common/flags/defaults.go
Due: none

Path conditions:
  publish-first-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-first-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node: any of: node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gh-release-tracker: any of: gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-markdown-toc: any of: markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-update-docker-hub-readme: any of: update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-semantic-release: any of: semantic-release/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
