Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

publish-first-docker:
  stage: publish-first
  before_script:
  - cd $DOCKER_CONTEXT
  variables:
    DOCKER_BUILDKIT: '1'
    DOCKER_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker:latest
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  - docker build --pull -t $DOCKER_IMAGE_NAME .
  ...

publish-first-gl-artifacts:
  stage: publish-first
  before_script:
  - cd $DOCKER_CONTEXT
  variables:
    DOCKER_BUILDKIT: '1'
    DOCKER_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gl-artifacts:latest
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  - docker build --pull -t $DOCKER_IMAGE_NAME .
  ...

publish-docker:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
    DOCKER_IMAGE_TAGS: latest
  ...

publish-gl-artifacts:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gl-artifacts
    DOCKER_IMAGE_TAGS: latest
  ...

publish-node:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./node
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-node
    PARENT_DOWNLOAD_ARTIFACTS: 'build: [node]'
  parallel:
    matrix:
  ...

publish-gh-release-tracker:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./gh-release-tracker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gh-release-tracker
    DOCKER_IMAGE_TAGS: latest
  ...

publish-markdown-toc:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./markdown-toc
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-markdown-toc
    DOCKER_IMAGE_TAGS: latest
  ...

publish-update-docker-hub-readme:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./update-docker-hub-readme
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-update-docker-hub-readme
  ...

publish-semantic-release:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./semantic-release
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-semantic-release
    DOCKER_IMAGE_TAGS: latest
  ...

ci: update ci
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: update manifest generation
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: update bash
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: try to fix manifesting
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: update ci configuration for multiplatform builds
  .gitlab-ci.yml
  Taskfile.pipe.yml
  docker/Dockerfile
  gh-release-tracker/Dockerfile
  gl-artifacts/Dockerfile
  markdown-toc/Dockerfile
  node/Dockerfile
  s3-upload/Dockerfile
  select-env/Dockerfile
  semantic-release/Dockerfile
  update-docker-hub-readme/Dockerfile
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: fix ci errors
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: fix build args
  .gitlab-ci.yml
  Taskfile.pipe.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

feat: update docker pipe with ability to publish arm64 images as well
  .gitlab-ci.yml
  .golangci.yml
  docker/build/context.go
  docker/build/flags.go
  docker/build/interfaces.go
  docker/build/pipe.go
  docker/build/tasks.go
  docker/build/tasks_build.go
  docker/build/tasks_buildx.go
  docker/build/tasks_tags.go
  docker/build/utils.go
  docker/login/flags.go
  docker/login/pipe.go
  docker/login/tasks.go
  docker/main.go
  docker/manifest/context.go
  docker/manifest/flags.go
  docker/manifest/pipe.go
  docker/manifest/tasks.go
  docker/setup/constants.go
  docker/setup/flags.go
  docker/setup/pipe.go
  docker/setup/tasks.go
  templates/docker-build-dockerhub.gitlab-ci.yml
  templates/docker-build.gitlab-ci.yml
  templates/docker-manifest-dockerhub.gitlab-ci.yml
  templates/docker-manifest.gitlab-ci.yml
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-lint.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
  templates/go.gitlab-ci.yml
  templates/node-build.gitlab-ci.yml
  templates/node-install.gitlab-ci.yml
  templates/node-lint.gitlab-ci.yml
  templates/node-nx.gitlab-ci.yml
  templates/node-test.gitlab-ci.yml
  templates/node.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: update ci variables
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: add stage to parallel task
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

fix: update tags for templates
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-lint.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
  templates/node-build.gitlab-ci.yml
  templates/node-install.gitlab-ci.yml
  templates/node-lint.gitlab-ci.yml
  templates/node-test.gitlab-ci.yml
Due: none

fix: lint error
  docker/manifest/tasks.go
Due: publish-first-docker, publish-docker

fix: update stages
  templates/docker-build-dockerhub.gitlab-ci.yml
  templates/docker-build.gitlab-ci.yml
  templates/docker-manifest-dockerhub.gitlab-ci.yml
  templates/docker-manifest.gitlab-ci.yml
Due: none

fix: dont crash on not matching
  docker/manifest/tasks.go
Due: publish-first-docker, publish-docker

fix: update manifest handling
  docker/manifest/flags.go
  docker/manifest/tasks.go
  templates/docker-build-dockerhub.gitlab-ci.yml
  templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
  templates/docker-build-with-artifacts.gitlab-ci.yml
  templates/docker-build.gitlab-ci.yml
  templates/docker-manifest-dockerhub.gitlab-ci.yml
  templates/docker-manifest.gitlab-ci.yml
Due: publish-first-docker, publish-docker

fix: run the created commands
  docker/manifest/tasks.go
Due: publish-first-docker, publish-docker

fix: run the commands as sequence
  docker/manifest/tasks.go
Due: publish-first-docker, publish-docker

fix: update golang pipe manifest
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

docs: update documentation
  _template/README.md
  docker/README.md
  gh-release-tracker/README.md
  gl-artifacts/README.md
  markdown-toc/README.md
  node/README.md
  s3-upload/README.md
  select-env/README.md
  semantic-release/README.md
  update-docker-hub-readme/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

fix: add login
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

build: use any arch for go and node builds unless specified [skip ci]
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-lint.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
  templates/go.gitlab-ci.yml
  templates/node-build.gitlab-ci.yml
  templates/node-install.gitlab-ci.yml
  templates/node-lint.gitlab-ci.yml
  templates/node-nx.gitlab-ci.yml
  templates/node-test.gitlab-ci.yml
  templates/node.gitlab-ci.yml
Due: none

rollback any arch for node images [skip ci]
  templates/node-build.gitlab-ci.yml
  templates/node-install.gitlab-ci.yml
  templates/node-lint.gitlab-ci.yml
  templates/node-nx.gitlab-ci.yml
  templates/node-test.gitlab-ci.yml
  templates/node.gitlab-ci.yml
Due: none

ci: try out new method
  .gitlab-ci.yml
  templates/v2/workflow.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: update failing parts
  .gitlab-ci.yml
  templates/v2/docker-manifest.gitlab-ci.yml
  templates/v2/update-docker-hub-readme.gitlab-ci.yml
  templates/v2/workflow.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: remove stage
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: update stages
  templates/v2/docker-manifest.gitlab-ci.yml
  templates/v2/gh-release-tracker.gitlab-ci.yml
Due: none

ci: needs nothing
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

fix: try adding stages
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: disableworkflow?
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: simplify a bit
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: comment
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: add steps
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

fix: retry
  .gitlab-ci.yml
  templates/v2/go-build.gitlab-ci.yml
  templates/v2/go-install.gitlab-ci.yml
  templates/v2/go-lint.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

fix: update
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: try basic
  .gitlab-ci.yml
  templates/v2/go-install.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: retry
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: retry
  templates/v2/go-install.gitlab-ci.yml
Due: none

ci: update
  .gitlab-ci.yml
  templates/v2/go-build.gitlab-ci.yml
  templates/v2/go-install.gitlab-ci.yml
  templates/v2/go-lint.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

ci: update
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts, publish-node, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release, publish-select-env

Path conditions:
  publish-first-docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-first-gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-semantic-release: any of: common/**/*, semantic-release/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml
