Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

docker-build-first_go:
  variables:
    DOCKER_BUILDKIT: '1'
    GITLAB_CI_ARCH: amd64
    DOCKERFILE_NAME: Dockerfile
    DOCKERFILE_CONTEXT: ./go
    DOCKER_IMAGE_BUILD_ARGS: ''
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-go
  before_script:
  - cd $DOCKERFILE_CONTEXT
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  ...

docker-manifest-first_go:
  variables:
    DOCKER_BUILDKIT: '1'
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  - docker manifest create ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAGS} ${DOCKER_IMAGE_AMEND_TAGS}
  - docker manifest push --purge $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAGS
  tags:
  - docker
  ...

docker-build-first_docker:
  variables:
    DOCKER_BUILDKIT: '1'
    GITLAB_CI_ARCH: amd64
    DOCKERFILE_NAME: Dockerfile
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_BUILD_ARGS: ''
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
  before_script:
  - cd $DOCKERFILE_CONTEXT
  script:
  ...

docker-manifest-first_docker:
  variables:
    DOCKER_BUILDKIT: '1'
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
    DOCKER_IMAGE_TAGS: latest
    DOCKER_IMAGE_AMEND_TAGS: -a cenk1cenk2/pipe-docker:latest-amd64 -a cenk1cenk2/pipe-docker:latest-arm64
  script:
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  ...

docker-build_docker:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-docker
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-${GITLAB_CI_ARCH}
      GITLAB_CI_ARCH:
      - amd64
      - arm64
  dependencies:
  - 'build: [docker]'

docker-build_gl-artifacts:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gl-artifacts
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-${GITLAB_CI_ARCH}
      GITLAB_CI_ARCH:
      - amd64
      - arm64
  dependencies:
  - 'build: [gl-artifacts]'

docker-build_go:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./go
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-go
    DOCKER_IMAGE_BUILD_ARGS: GO_VERSION=${GO_VERSION}
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: ${GO_VERSION}-${GITLAB_CI_ARCH}
      DOCKER_MANIFEST_TARGET: ${GO_VERSION}
  ...

docker-build_node:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./node
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-node
    DOCKER_MANIFEST_TARGET: ${NODE_VERSION}
    DOCKER_IMAGE_BUILD_ARGS: NODE_VERSION=${NODE_VERSION}
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: ${NODE_VERSION}-${GITLAB_CI_ARCH}
      NODE_VERSION:
      - 16
  ...

docker-build_gh-release-tracker:
  stage: publish
  variables:
    DOCKERFILE_CONTEXT: ./gh-release-tracker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gh-release-tracker
    DOCKER_MANIFEST_TARGET: latest
  parallel:
    matrix:
    - DOCKER_IMAGE_TAGS: latest-${GITLAB_CI_ARCH}
      GITLAB_CI_ARCH:
      - amd64
      - arm64
  dependencies:
  ...

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.40
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.41
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.32.42
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update all fast ring minor dependencies
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

chore(deps): update dependency go to v1.21.4
  go.mod
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module golang.org/x/oauth2 to v0.14.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update pipeline failing
  .gitlab-ci.yml
  go.mod
  go.sum
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: mutex
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.35.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/go-utils/v2 to v2.1.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.35.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/ekalinin/github-markdown-toc.go to v1.3.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.36.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: use internal function
  common/utils/inline_template.go
  docker/build/tasks_tags.go
  docker/build/utils.go
  node/add/tasks.go
  node/build/tasks.go
  node/run/tasks.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/google/go-github/v54 to v56
  gh-release-tracker/pipe/context.go
  gh-release-tracker/pipe/tasks.go
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update stdin injection
  docker/build/tasks_tags.go
  docker/login/tasks.go
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: try
  docker/login/tasks.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker

fix: update plumber
  docker/build/flags.go
  docker/login/tasks.go
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.2.4
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.3.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.3.2
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: issue with flag
  docker/build/flags.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.3.5
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(docker): ordering of tags
  docker/build/tasks_tags.go
  docker/build/utils.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker

fix: go through the pipe for latest too
  docker/build/tasks_tags.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker

fix: update naming scheme for task
  docker/build/tasks_tags.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker

fix: ordering
  docker/build/utils.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker

fix: drop old pipes and move them to archive
  .gitlab-ci.yml
  Taskfile.yml
  gl-artifacts/Dockerfile
  gl-artifacts/README.md
  gl-artifacts/main.go
  gl-artifacts/pipe/context.go
  gl-artifacts/pipe/flags.go
  gl-artifacts/pipe/interfaces.go
  gl-artifacts/pipe/pipe.go
  gl-artifacts/pipe/tasks.go
  gl-artifacts/pipe/utils.go
  gl-artifacts/version.go
  go.mod
  go.sum
  s3-upload/Dockerfile
  s3-upload/README.md
  s3-upload/main.go
  s3-upload/pipe/constants.go
  s3-upload/pipe/context.go
  s3-upload/pipe/flags.go
  s3-upload/pipe/interfaces.go
  s3-upload/pipe/pipe.go
  s3-upload/pipe/tasks.go
  s3-upload/version.go
  templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
  templates/docker-build-with-artifacts.gitlab-ci.yml
  templates/v2/gitlab-artifacts-download.gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/urfave/cli/v2 to v2.26.0
  go.mod
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module golang.org/x/oauth2 to v0.15.0
  go.mod
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

chore(deps): update dependency go to v1.21.5
  go.mod
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: dependencies
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Update renovate.json
  renovate.json
Due: none

fix(deps): update module github.com/google/go-github/v56 to v57
  gh-release-tracker/pipe/context.go
  gh-release-tracker/pipe/tasks.go
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update all minor dependency updates
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.3.7
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Path conditions:
  docker-build-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-manifest-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-build-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-manifest-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_go: any of: go/**/*, .gitlab-ci.yml
  docker-build_node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_semantic-release: any of: common/**/*, select-env/**/*, node/**/*, semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
