Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bootstrap, go, buildah, docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Path conditions:
  bootstrap: (any of: .gitlab-ci.next.yml, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: go/**, buildah/**, .bootstrap.gitlab-ci.yml)
  go: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, go/
  buildah: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, buildah/
  docker-build-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-manifest-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-build-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-manifest-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_go: any of: go/**/*, .gitlab-ci.yml
  docker-build_node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_semantic-release: any of: common/**/*, select-env/**/*, node/**/*, semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml

ci: update pipeline
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update ci
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: share the install step
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: go, buildah, docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update ci configuration
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update pipelines
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: go, buildah, docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: fix error
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: go, buildah, docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

chore(deps): update module github.com/golangci/golangci-lint/v2 to v2.5.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

feat: add pulumi pipe cleanup somestuff
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
  Taskfile.pipe.yml
  Taskfile.yml
  _template/main.go
  pulumi/Dockerfile-node
  pulumi/README.md
  pulumi/main.go
  pulumi/plan/flags.go
  pulumi/plan/pipe.go
  pulumi/plan/tasks.go
  pulumi/setup/flags.go
  pulumi/setup/pipe.go
  pulumi/setup/tasks.go
  pulumi/stack/flags.go
  pulumi/stack/pipe.go
  pulumi/stack/tasks.go
  pulumi/up/flags.go
  pulumi/up/pipe.go
  pulumi/up/tasks.go
  pulumi/version.go
  terraform/README.md
  terraform/install/tasks.go
  terraform/lint/tasks.go
  terraform/setup/flags.go
  terraform/setup/pipe.go
  terraform/setup/tasks.go
Due: go, buildah, docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update target containerfile
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Update file Dockerfile-node
  pulumi/Dockerfile-node
Due: none

build: defuse ambigutiy
  pulumi/Dockerfile-node
Due: none

ci: update changes mechanism
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: rollback arguments
  pulumi/Dockerfile-node
Due: none

revert: rollback terraform variables to inject again
  terraform/setup/flags.go
  terraform/setup/pipe.go
  terraform/setup/tasks.go
Due: none

ci: update pipeline
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: go, buildah, docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: add rules to ci as well
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: dont do bootstraping for child
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update compare to clause
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update ci
  .gitlab-ci.pipe.yml
Due: go, buildah

ci: pipeline test
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

ci: update ci rules
  .gitlab-ci.pipe.yml
  .gitlab-ci.yml
Due: go, buildah, docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: update pulumi configuration to use preview keyword
  pulumi/main.go
  pulumi/preview/flags.go
  pulumi/preview/pipe.go
  pulumi/preview/tasks.go
Due: none

fix: update script injection
  node/run/flags.go
  node/run/pipe.go
Due: docker-build_node, docker-build_semantic-release

fix: update argument injection
  go/main.go
  node/main.go
Due: bootstrap, docker-build-first_go, docker-manifest-first_go, docker-build_go, docker-build_node, docker-build_semantic-release

fix: fix command name
  pulumi/main.go
Due: none

fix: update script parsing
  node/run/pipe.go
Due: docker-build_node, docker-build_semantic-release

fix: update pulumi configuration to use plan files
  pulumi/README.md
  pulumi/preview/flags.go
  pulumi/preview/pipe.go
  pulumi/preview/tasks.go
  pulumi/up/flags.go
  pulumi/up/pipe.go
  pulumi/up/tasks.go
  terraform/README.md
Due: none

fix(deps): update module github.com/docker/docker to v28.5.0+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/docker/docker to v28.5.1+incompatible
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.3
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/urfave/cli/v3 to v3.5.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.4
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

feat: add helm pipe
  .gitlab-ci.yml
  Taskfile.yml
  _template/README.md
  buildah/README.md
  buildah/build/pipe.go
  docker/README.md
  go.mod
  go.sum
  go/README.md
  helm/Dockerfile
  helm/README.md
  helm/install/flags.go
  helm/install/pipe.go
  helm/install/tasks.go
  helm/lint/flags.go
  helm/lint/pipe.go
  helm/lint/tasks.go
  helm/login/flags.go
  helm/login/pipe.go
  helm/login/tasks.go
  helm/main.go
  helm/publish/flags.go
  helm/publish/pipe.go
  helm/publish/tasks.go
  helm/publish/tasks_versions.go
  helm/publish/utils.go
  helm/setup/flags.go
  helm/setup/pipe.go
  helm/setup/tasks.go
  helm/version.go
  markdown-toc/README.md
  node/README.md
  pulumi/README.md
  select-env/README.md
  semantic-release/README.md
  terraform/README.md
  update-docker-hub-readme/README.md
Due: bootstrap, docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

build: update build condition for oci
  helm/Dockerfile
Due: none

fix: always install
  .gitlab-ci.yml
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.5
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: add an option to isolate workspace
  semantic-release/pipe/flags.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
Due: docker-build_semantic-release
