Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

Path conditions:
  docker-build-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-manifest-first_go: any of: go/**/*, .gitlab-ci.yml
  docker-build-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-manifest-first_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_docker: any of: common/**/*, docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gl-artifacts: any of: common/**/*, gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_go: any of: go/**/*, .gitlab-ci.yml
  docker-build_node: any of: common/**/*, select-env/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_gh-release-tracker: any of: common/**/*, gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_markdown-toc: any of: common/**/*, markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_select-env: any of: common/**/*, select-env/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_semantic-release: any of: common/**/*, select-env/**/*, node/**/*, semantic-release/**/*, go.mod, go.sum, .gitlab-ci.yml
  docker-build_update-docker-hub-readme: any of: common/**/*, update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.3.8
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix: add terraform as pipe provider
  .gitlab-ci.yml
  Taskfile.yml
  docker/README.md
  templates/terraform-deploy.gitlab-ci.yml
  templates/v2/terraform-apply.gitlab-ci.yml
  templates/v2/terraform-install.gitlab-ci.yml
  templates/v2/terraform-lint.gitlab-ci.yml
  templates/v2/terraform-plan.gitlab-ci.yml
  terraform/Dockerfile
  terraform/README.md
  terraform/apply/flags.go
  terraform/apply/pipe.go
  terraform/apply/tasks.go
  terraform/install/flags.go
  terraform/install/pipe.go
  terraform/install/tasks.go
  terraform/lint/flags.go
  terraform/lint/pipe.go
  terraform/lint/tasks.go
  terraform/login/flags.go
  terraform/login/interfaces.go
  terraform/login/pipe.go
  terraform/login/tasks.go
  terraform/main.go
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/tasks.go
  terraform/setup/context.go
  terraform/setup/flags.go
  terraform/setup/pipe.go
  terraform/setup/tasks.go
  terraform/state/flags.go
  terraform/state/pipe.go
  terraform/state/tasks.go
  terraform/version.go
Due: docker-build-first_go, docker-manifest-first_go, docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_go, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

build: update dockerfile
  terraform/Dockerfile
Due: none

ci: update templates [skip ci]
  templates/v2/terraform-apply.gitlab-ci.yml
  templates/v2/terraform-install.gitlab-ci.yml
  templates/v2/terraform-lint.gitlab-ci.yml
  templates/v2/terraform-plan.gitlab-ci.yml
Due: none

ci: update template [skip ci]
  templates/terraform-deploy.gitlab-ci.yml
Due: none

fix: update environment variables
  terraform/apply/tasks.go
  terraform/install/tasks.go
  terraform/main.go
  terraform/plan/tasks.go
Due: none

fix: remove entrypoint
  terraform/Dockerfile
Due: none

fix: update configuration
  terraform/state/flags.go
Due: none

fix: update conf
  terraform/state/flags.go
Due: none

fix: update terraform pipe
  terraform/install/flags.go
  terraform/install/pipe.go
  terraform/install/tasks.go
  terraform/lint/tasks.go
  terraform/main.go
  terraform/plan/tasks.go
  terraform/setup/flags.go
  terraform/setup/pipe.go
  terraform/setup/tasks.go
  terraform/state/tasks.go
Due: none

fix: update pipe
  terraform/README.md
  terraform/setup/flags.go
  terraform/setup/pipe.go
Due: none

fix: update logging
  terraform/install/tasks.go
  terraform/setup/flags.go
  terraform/setup/pipe.go
Due: none

fix: update lockfile with tf
  templates/v2/terraform-install.gitlab-ci.yml
  terraform/install/flags.go
Due: none

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.2
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/urfave/cli/v2 to v2.27.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.3
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/urfave/cli/v2 to v2.27.1
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.4
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.5
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module golang.org/x/oauth2 to v0.16.0
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

chore(deps): update dependency go to v1.21.6
  go.mod
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.6
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module github.com/google/go-github/v57 to v58
  gh-release-tracker/pipe/context.go
  gh-release-tracker/pipe/tasks.go
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.7
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.8
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

chore: temp disable caches because it is currently slow due to unknown reasons
  templates/v2/go-install.gitlab-ci.yml
  templates/v2/node-install.gitlab-ci.yml
Due: none

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v5 to v5.4.9
  go.mod
  go.sum
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

feat(terraform): add publish module for terraform
  common/parser/tags_file.go
  docker/build/tasks_tags.go
  templates/terraform-publish.gitlab-ci.yml
  templates/v2/terraform-publish.gitlab-ci.yml
  terraform/main.go
  terraform/publish/constants.go
  terraform/publish/context.go
  terraform/publish/flags.go
  terraform/publish/interfaces.go
  terraform/publish/pipe.go
  terraform/publish/tasks.go
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

fix(gitlab-ci): update terraform module publish [skip ci]
  templates/terraform-publish.gitlab-ci.yml
Due: none

fix(tf): update terraform publish config
  templates/terraform-publish.gitlab-ci.yml
  templates/v2/terraform-install.gitlab-ci.yml
  templates/v2/terraform-lint.gitlab-ci.yml
  templates/v2/terraform-plan.gitlab-ci.yml
  terraform/publish/flags.go
Due: none

chore: update template [skip ci]
  go.mod
  templates/terraform-publish.gitlab-ci.yml
Due: docker-build-first_docker, docker-manifest-first_docker, docker-build_docker, docker-build_gl-artifacts, docker-build_node, docker-build_gh-release-tracker, docker-build_markdown-toc, docker-build_select-env, docker-build_semantic-release, docker-build_update-docker-hub-readme

chore: update publish template [skip ci]
  templates/v2/terraform-publish.gitlab-ci.yml
Due: none

fix: install without state
  terraform/main.go
Due: none

fix: update with job token
  terraform/publish/tasks.go
Due: none

docs: update docs [skip ci]
  terraform/README.md
Due: none

Update terraform-publish.gitlab-ci.yml
  templates/terraform-publish.gitlab-ci.yml
Due: none

Update flags.go
  terraform/publish/flags.go
Due: none

fix: add state handling back
  templates/terraform-publish.gitlab-ci.yml
  terraform/README.md
  terraform/publish/flags.go
  terraform/state/constants.go
  terraform/state/flags.go
  terraform/state/pipe.go
  terraform/state/tasks.go
Due: none
