Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

Path conditions:
  bootstrap: (any of: .gitlab-ci.next.yml, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.bootstrap.yml, go/**/*, buildah/**/*) or (any of: go/**, buildah/**, .bootstrap.gitlab-ci.yml)
  go: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, go/
  buildah: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, buildah/
  pipe-template: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, _template/**/*
  pipe-buildah: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, buildah/**/*
  pipe-docker: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, docker/**/*
  pipe-go: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, go/**/*
  pipe-helm: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, helm/**/*
  pipe-markdown-toc: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, markdown-toc/**/*
  pipe-node: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, node/**/*, select-env/**/*
  pipe-pulumi: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, pulumi/**/*
  pipe-select-env: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, select-env/**/*
  pipe-semantic-release: (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**/*, select-env/**/*, node/**/*) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**, select-env/**/*, node/**/*)
  pipe-terraform: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, terraform/**/*
  pipe-update-docker-hub-readme: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, update-docker-hub-readme/**/*
  update-docker-hub-readme: any of: **/README.md

chore(deps): lock file maintenance [skip ci]
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

fix(deps): update go all minor dependency updates
  _template/go.mod
  _template/go.sum
  buildah/go.mod
  buildah/go.sum
  go/go.mod
  go/go.sum
  helm/go.mod
  helm/go.sum
  internal/go.mod
  internal/go.sum
  kustomize/go.mod
  kustomize/go.sum
  node/go.mod
  node/go.sum
  pulumi/go.mod
  select-env/go.mod
  select-env/go.sum
  semantic-release/go.mod
  semantic-release/go.sum
  terraform/go.mod
  terraform/go.sum
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update go all minor dependency updates
  _template/go.mod
  _template/go.sum
  buildah/go.mod
  buildah/go.sum
  go/go.mod
  go/go.sum
  helm/go.mod
  helm/go.sum
  internal/go.mod
  internal/go.sum
  kustomize/go.mod
  kustomize/go.sum
  node/go.mod
  node/go.sum
  pulumi/go.mod
  pulumi/go.sum
  select-env/go.mod
  select-env/go.sum
  semantic-release/go.mod
  semantic-release/go.sum
  terraform/go.mod
  terraform/go.sum
  tests/go.mod
  tests/go.sum
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update dependency @anolilab/multi-semantic-release to ^4.4.14
  semantic-release/package.json
Due: pipe-semantic-release

fix(deps): update dependency @anolilab/multi-semantic-release to ^4.4.15
  semantic-release/package.json
Due: pipe-semantic-release

fix(deps): update dependency @cenk1cenk2/semantic-release-config to ^5.1.2
  semantic-release/package.json
Due: pipe-semantic-release

chore(semantic-release): remove patch for @anolilab/multi-semantic-release
  semantic-release/Dockerfile
  semantic-release/patches/@anolilab__multi-semantic-release@4.4.11.patch
  semantic-release/pnpm-workspace.yaml
Due: pipe-semantic-release

chore(deps): update semantic-release dependencies
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

fix(deps): update module gitlab.com/gitlab-org/api/client-go/v3 to v3.13.0
  internal/go.mod
  internal/go.sum
  pulumi/go.mod
  pulumi/go.sum
  terraform/go.mod
  terraform/go.sum
Due: pipe-pulumi, pipe-terraform

build: add hk git hooks
  hk.pkl
Due: none

fix(deps): update dependency @cenk1cenk2/semantic-release-config to ^5.1.3
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

chore(deps): update dependency hk to v2.1.0 [skip ci]
  hk.pkl
Due: none

fix(deps): update module github.com/pulumi/pulumi/sdk/v3 to v3.264.0
  pulumi/go.mod
  pulumi/go.sum
Due: pipe-pulumi

feat(github): add github pipe for app tokens and commit statuses (K-1727)
  .gitlab-ci.yml
  .mockery.yaml
  README.md
  Taskfile.yml
  github/Dockerfile
  github/README.md
  github/client/app.go
  github/client/app_test.go
  github/client/client.go
  github/client/client_test.go
  github/client/flags.go
  github/client/jwt.go
  github/client/jwt_test.go
  github/client/suite_test.go
  github/go.mod
  github/go.sum
  github/main.go
  github/status/flags.go
  github/status/flags_test.go
  github/status/pipe.go
  github/status/suite_test.go
  github/status/tasks.go
  github/status/tasks_test.go
  github/test/keys/keys.go
  github/test/mocks/client/application_client_adapter.go
  github/token/flags.go
  github/token/pipe.go
  github/token/suite_test.go
  github/token/tasks.go
  github/token/tasks_test.go
  go.work
  tests/manifest_test.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

fix(github): skip status for a commit missing on github (K-1703)
  github/README.md
  github/client/client.go
  github/client/client_test.go
  github/main.go
  github/status/tasks.go
  github/status/tasks_test.go
Due: update-docker-hub-readme

fix(deps): update go all minor dependency updates
  buildah/go.mod
  buildah/go.sum
  github/go.mod
  github/go.sum
  go/go.mod
  go/go.sum
  helm/go.mod
  helm/go.sum
  internal/go.mod
  internal/go.sum
  kustomize/go.mod
  kustomize/go.sum
  node/go.mod
  node/go.sum
  pulumi/go.mod
  pulumi/go.sum
  select-env/go.mod
  select-env/go.sum
  semantic-release/go.mod
  semantic-release/go.sum
  terraform/go.mod
  terraform/go.sum
  tests/go.mod
  tests/go.sum
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

feat(github): write an x-access-token git credential next to the token (K-1703)
  github/README.md
  github/token/flags.go
  github/token/pipe.go
  github/token/tasks.go
  github/token/tasks_test.go
Due: update-docker-hub-readme

feat(github): skip writing the token when its variable is empty (K-1703)
  github/README.md
  github/token/flags.go
  github/token/pipe.go
  github/token/tasks.go
  github/token/tasks_test.go
Due: update-docker-hub-readme

chore(deps): update dependency hk to v2.2.0 [skip ci]
  hk.pkl
Due: none

fix: drop task --yes in favor of trusted remote hosts
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

chore(deps): update @cenk1cenk2/semantic-release-config to v6
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

fix(deps): update module github.com/cenk1cenk2/plumber/v7 to v7.2.7
  _template/go.mod
  _template/go.sum
  buildah/go.mod
  buildah/go.sum
  github/go.mod
  github/go.sum
  go/go.mod
  go/go.sum
  helm/go.mod
  helm/go.sum
  internal/go.mod
  internal/go.sum
  kustomize/go.mod
  kustomize/go.sum
  node/go.mod
  node/go.sum
  pulumi/go.mod
  pulumi/go.sum
  select-env/go.mod
  select-env/go.sum
  semantic-release/go.mod
  semantic-release/go.sum
  terraform/go.mod
  terraform/go.sum
  tests/go.mod
  tests/go.sum
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-go, pipe-helm, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update dependency @anolilab/multi-semantic-release to ^4.4.16
  semantic-release/package.json
  semantic-release/pnpm-lock.yaml
Due: pipe-semantic-release

fix(deps): update module github.com/pulumi/pulumi/sdk/v3 to v3.265.0
  pulumi/go.mod
  pulumi/go.sum
Due: pipe-pulumi

feat(mise): add mise pipe for cached tool installs (K-1835)
  .gitlab-ci.yml
  README.md
  Taskfile.yml
  go.work
  mise/Dockerfile
  mise/README.md
  mise/go.mod
  mise/go.sum
  mise/install/flags.go
  mise/install/pipe.go
  mise/install/suite_test.go
  mise/install/tasks.go
  mise/install/tasks_test.go
  mise/main.go
  mise/setup/flags.go
  mise/setup/pipe.go
  mise/setup/suite_test.go
  mise/setup/tasks.go
  mise/setup/tasks_test.go
  renovate.json
  tests/manifest_test.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

feat(mise): ship alpine as the default image with a glibc variant
  .gitlab-ci.yml
  mise/Dockerfile
  mise/README.md
  mise/main.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

fix(update-docker-hub-readme): use the dockerhub password ci variable and add its alias spelling
  .gitlab-ci.yml
  CLAUDE.md
  update-docker-hub-readme/README.md
  update-docker-hub-readme/update/flags.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

chore(deps): update dependency hk to v2.3.0 [skip ci]
  hk.pkl
Due: none

chore(deps): update dependency jdx/mise to v2026.9.15
  mise/Dockerfile
Due: none

chore(deps): update dependency hk to v2.3.1 [skip ci]
  hk.pkl
Due: none

chore(deps): update dependency hk to v2.4.0 [skip ci]
  hk.pkl
Due: none
