Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

publish-first-docker:
  stage: publish-first
  before_script:
  - cd ./docker
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  variables:
    APP_BINARY: gitlab-pipes-docker
  ...

publish-first-gl-artifacts:
  stage: publish-first
  before_script:
  - cd ./gl-artifacts
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  variables:
    APP_BINARY: gl-artifacts
  ...

publish-docker:
  stage: publish
  trigger:
    include:
    - project: devops/gitlab-pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
      ref: main
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: gitlab-pipes-docker
    IMAGE_TAGS: latest

publish-node:
  stage: publish
  trigger:
    include:
    - project: devops/gitlab-pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
      ref: main
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./node
    DOCKER_IMAGE_NAME: gitlab-pipes-node
  parallel:
    matrix:
    - IMAGE_TAGS: ${NODE_VERSION}
  ...

publish-gl-artifacts:
  stage: publish
  trigger:
    include:
    - project: devops/gitlab-pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
      ref: main
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: gitlab-pipes-gl-artifacts
    IMAGE_TAGS: latest

publish-markdown-toc-artifacts:
  stage: publish
  trigger:
    include:
    - project: devops/gitlab-pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
      ref: main
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./markdown-toc
    DOCKER_IMAGE_NAME: pipe-markdown-toc
    IMAGE_TAGS: latest

publish-update-docker-hub-readme:
  stage: publish
  trigger:
    include:
    - project: devops/gitlab-pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
      ref: main
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./update-docker-hub-readme
    DOCKER_IMAGE_NAME: pipe-update-docker-hub-readme
  ...

chore: update templates
  templates/node-build.gitlab-yi.yml
Due: none

fix: update templates
  templates/node-build.gitlab-ci.yml
  templates/semantic-release.gitlab-ci.yml
Due: none

update semantic-release bundle
  semantic-release/Dockerfile
Due: none

update pipe config
  templates/semantic-release.gitlab-ci.yml
Due: none

build: update pipe dockerfile
  semantic-release/Dockerfile
Due: none

fix: issues with dockerfiles of pipes
  .gitlab-ci.yml
  markdown-toc/Dockerfile
  node/Dockerfile
  update-docker-hub-readme/Dockerfile
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

update repository name
  .gitlab-ci.yml
  _template/main.go
  docker/main.go
  gl-artifacts/main.go
  go.mod
  markdown-toc/main.go
  node/build/tasks.go
  node/install/tasks.go
  node/main.go
  node/run/tasks.go
  semantic-release/main.go
  templates/docker-build-dockerhub.gitlab-ci.yml
  templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
  templates/docker-build-with-artifacts.gitlab-ci.yml
  templates/docker-build.gitlab-ci.yml
  templates/node-build.gitlab-ci.yml
  templates/nx-build.gitlab-ci.yml
  update-docker-hub-readme/main.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

update go deps
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc-artifacts, publish-update-docker-hub-readme

chore: fix template name
  templates/go-build.gitlab-ci.yml
Due: none

update semantic release pipe
  templates/semantic-release.gitlab-ci.yml
Due: none

add more plugins
  semantic-release/Dockerfile
Due: none

fix: update with semantic release branches
  templates/semantic-release.gitlab-ci.yml
Due: none

fix: update branches that semantic-release runs on
  templates/semantic-release.gitlab-ci.yml
Due: none

add all node modules to tracked artifact paths
  templates/node-build.gitlab-ci.yml
Due: none

feat: add docker update-docker-hub-readme templalte
  templates/update-docker-hub-readme.gitlab-ci.yml
Due: none

update configuration for tempate
  templates/update-docker-hub-readme.gitlab-ci.yml
Due: none

update pipe templates
  templates/markdown-toc.gitlab-ci.yml
  templates/update-docker-hub-readme.gitlab-ci.yml
  update-docker-hub-readme/pipe/tasks.go
Due: publish-update-docker-hub-readme

fix: update semantic release pipe to do the login operation as well
  markdown-toc/Makefile
  semantic-release/Dockerfile
  semantic-release/Makefile
  semantic-release/main.go
  semantic-release/pipe/pipe.go
  update-docker-hub-readme/Makefile
Due: publish-markdown-toc-artifacts, publish-update-docker-hub-readme

add plugin
  semantic-release/Dockerfile
Due: none

feat: add buildx to docker container
  docker/Dockerfile
  docker/pipe/flags.go
  docker/pipe/pipe.go
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

update dockerx command
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

fix: docker buildx command
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

update image
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

add env variable for updating readme files
  update-docker-hub-readme/pipe/flags.go
Due: publish-update-docker-hub-readme

update buildx configuration
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

generate builder per job
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

update release cycle
  docker/pipe/flags.go
  docker/pipe/pipe.go
  docker/pipe/tasks.go
  templates/semantic-release.gitlab-ci.yml
Due: publish-first-docker, publish-docker

update tag file names [skip ci]
  templates/semantic-release.gitlab-ci.yml
Due: none

update flags
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

use the default builder
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

chore: update editor config [skip ci]
  .editorconfig
Due: none

add ssh to semantic-release container
  semantic-release/Dockerfile
Due: none

add openssh
  semantic-release/Dockerfile
Due: none

make tags file required
  docker/pipe/flags.go
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

exit if tag file is set and not found
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

update docker stuff
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

update buildx to fallback to use
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

clean up new lines
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

update
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

Path conditions:
  publish-first-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-first-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node: any of: node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-markdown-toc-artifacts: any of: markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-update-docker-hub-readme: any of: update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
