Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

Path conditions:
  publish-first-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-first-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node: any of: node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-markdown-toc: any of: markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node-typedoc: any of: node-typedoc/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-update-docker-hub-readme: any of: update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-semantic-release: any of: semantic-release/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml

ci: update pipes
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

Update templates/node-nx.gitlab-ci.yml
  templates/node-nx.gitlab-ci.yml
Due: none

fix: update dependencies
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

feat(gh-release-tracker): add new pipe
  .gitlab-ci.yml
  _template/Dockerfile
  gh-release-tracker/Dockerfile
  gh-release-tracker/Makefile
  gh-release-tracker/README.md
  gh-release-tracker/main.go
  gh-release-tracker/pipe/constants.go
  gh-release-tracker/pipe/flags.go
  gh-release-tracker/pipe/interfaces.go
  gh-release-tracker/pipe/pipe.go
  gh-release-tracker/pipe/tasks.go
  gh-release-tracker/version.go
  go.mod
  go.sum
  templates/gh-release-tracker.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix: name
  gh-release-tracker/Makefile
Due: none

ci: update docker image nname
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix: update readme pipe to enable it
  templates/update-docker-hub-readme.gitlab-ci.yml
Due: none

fix: update pipe to use variable in templates
  update-docker-hub-readme/pipe/flags.go
Due: publish-update-docker-hub-readme

fix: update template
  templates/gh-release-tracker.gitlab-ci.yml
Due: none

fix: update message for repository
  gh-release-tracker/pipe/tasks.go
Due: none

fix: updat elog message
  gh-release-tracker/pipe/tasks.go
Due: none

fix: update tag injection order
  docker/pipe/tasks.go
Due: publish-first-docker, publish-docker

chore: update templatet
  templates/update-docker-hub-readme.gitlab-ci.yml
Due: none

perf: use plumber
  Makefile
  go.mod
  go.sum
  node/Makefile
  node/README.md
  node/build/constants.go
  node/build/flags.go
  node/build/interfaces.go
  node/build/pipe.go
  node/build/tasks.go
  node/install/constants.go
  node/install/flags.go
  node/install/interfaces.go
  node/install/tasks.go
  node/login/flags.go
  node/login/pipe.go
  node/login/tasks.go
  node/main.go
  node/pipe/pipe.go
  node/pipe/tasks.go
  node/run/constants.go
  node/run/flags.go
  node/run/interfaces.go
  node/run/pipe.go
  node/run/tasks.go
  node/setup/constants.go
  node/setup/flags.go
  node/setup/interfaces.go
  node/setup/pipe.go
  node/setup/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

ci: update build to new version
  .gitlab-ci.yml
  node/Dockerfile
  node/Makefile
  semantic-release/pipe/interfaces.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

perf: update semantic release to plumber
  .gitlab-ci.yml
  _template/Makefile
  docker/Makefile
  gh-release-tracker/Makefile
  gl-artifacts/Makefile
  go.mod
  go.sum
  markdown-toc/Makefile
  node/Makefile
  node/build/tasks.go
  node/install/tasks.go
  node/login/tasks.go
  node/run/pipe.go
  node/run/tasks.go
  semantic-release/Dockerfile
  semantic-release/Makefile
  semantic-release/README.md
  semantic-release/main.go
  semantic-release/pipe/flags.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
  semantic-release/pipe/version.go
  semantic-release/version.go
  update-docker-hub-readme/Makefile
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix: prettify output
  go.mod
  go.sum
  node/login/pipe.go
  node/login/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

chore: bump dependency
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

docs: update readme [skip ci]
  semantic-release/README.md
Due: publish-semantic-release

feat: adapt to final api
  go.mod
  go.sum
  node/build/pipe.go
  node/build/tasks.go
  node/install/pipe.go
  node/install/tasks.go
  node/login/pipe.go
  node/login/tasks.go
  node/run/pipe.go
  node/run/tasks.go
  node/setup/pipe.go
  node/setup/tasks.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix: simplify task list commands
  node/build/tasks.go
  node/login/tasks.go
Due: publish-node, publish-semantic-release

fix: bump dep
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix: update template
  .gitlab-ci.yml
  _template/Dockerfile
  _template/Makefile
  _template/README.md
  _template/main.go
  _template/pipe/pipe.go
  _template/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix: update deps
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

feat: update job api last time
  _template/main.go
  _template/pipe/pipe.go
  _template/pipe/tasks.go
  go.mod
  go.sum
  node/build/pipe.go
  node/build/tasks.go
  node/install/pipe.go
  node/install/tasks.go
  node/login/pipe.go
  node/login/tasks.go
  node/main.go
  node/run/pipe.go
  node/run/tasks.go
  node/setup/pipe.go
  node/setup/tasks.go
  semantic-release/main.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

refactor: update naming scheme
  _template/main.go
  _template/pipe/pipe.go
  node/build/flags.go
  node/build/pipe.go
  node/build/tasks.go
  node/install/flags.go
  node/install/pipe.go
  node/install/tasks.go
  node/login/flags.go
  node/login/pipe.go
  node/main.go
  node/run/flags.go
  node/run/pipe.go
  node/run/tasks.go
  node/setup/flags.go
  node/setup/pipe.go
  semantic-release/main.go
  semantic-release/pipe/flags.go
  semantic-release/pipe/pipe.go
Due: publish-node, publish-semantic-release

fix: bump
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

chore: update template
  _template/pipe/flags.go
  _template/pipe/pipe.go
Due: none

fix: fix panic issue on required variables
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix(semantic-release): update pipe to handle login
  .gitlab-ci.yml
  semantic-release/main.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix(semantic-release): no need for setup
  semantic-release/main.go
Due: publish-semantic-release

fix: update for ws
  node/login/tasks.go
Due: publish-node, publish-semantic-release

fix: add login flags to the mix
  semantic-release/main.go
Due: publish-semantic-release

fix: struct pointer
  node/login/tasks.go
Due: publish-node, publish-semantic-release

fix: publish monkey patch version for ws
  go.mod
  go.sum
  node/login/tasks.go
  node/main.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix: plumber bug with memory address
  .vscode/launch.json
  go.mod
  go.sum
  node/build/tasks.go
  node/login/tasks.go
  node/main.go
  semantic-release/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix: update deps
  _template/main.go
  _template/pipe/pipe.go
  _template/pipe/tasks.go
  go.mod
  go.sum
  node/build/pipe.go
  node/build/tasks.go
  node/install/pipe.go
  node/install/tasks.go
  node/login/pipe.go
  node/login/tasks.go
  node/main.go
  node/run/pipe.go
  node/run/tasks.go
  node/setup/pipe.go
  node/setup/tasks.go
  semantic-release/main.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix: update deps
  go.mod
  go.sum
  node/login/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release

fix: update logger configuration for plumber
  go.mod
  go.sum
  node/login/tasks.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-node-typedoc, publish-update-docker-hub-readme, publish-semantic-release
