Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

bootstrap:
  stage: bootstrap
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.bootstrap.yml

go:
  stage: pipes
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./go
        container-image-name: cenk1cenk2/pipe-go2
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
          CONTAINER_IMAGE_BUILD_ARGS: 'GO_VERSION: ''{{ env "GO_VERSION" }}'''
  ...

buildah:
  stage: pipes
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./buildah
        container-image-name: cenk1cenk2/pipe-buildah
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-template:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./_template
        container-image-name: cenk1cenk2/pipe-template
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-buildah:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./buildah
        container-image-name: cenk1cenk2/pipe-buildah
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-docker:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./docker
        container-image-name: cenk1cenk2/pipe-docker
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-go:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./go
        container-image-name: cenk1cenk2/pipe-go
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-helm:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./helm
        container-image-name: cenk1cenk2/pipe-helm
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-markdown-toc:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./markdown-toc
        container-image-name: cenk1cenk2/pipe-markdown-toc
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

pipe-node:
  stage: pipes
  variables:
    CI_PARENT_PIPELINE_ID: $CI_PIPELINE_ID
  trigger:
    strategy: depend
    include:
    - local: .gitlab-ci.pipe.yml
      inputs:
        cwd: ./node
        container-image-name: cenk1cenk2/pipe-node
        container-matrix:
        - CONTAINER_FILE_NAME: Dockerfile
  ...

feat(go): bump to 1.27, adopt SplitSeq and Cut
  common/gitlab/report.go
  common/report/iac/report_test.go
  go.mod
  node/run/pipe.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

feat(json): adopt encoding/json/v2 across all call sites with RejectUnknownMembers
  node/login/flags.go
  pulumi/preview/report.go
  select-env/setup/flags.go
  terraform/login/flags.go
  terraform/plan/report.go
  update-docker-hub-readme/pipe/flags.go
  update-docker-hub-readme/pipe/tasks.go
Due: pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

ci(pipes): dry trigger jobs with include+inputs, add test stage
  .gitlab-ci.trigger.yml
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

feat(go): detect go.work for vendoring and add workspace lint mode
  go/README.md
  go/install/pipe.go
  go/install/tasks.go
  go/lint/flags.go
  go/lint/pipe.go
  go/lint/tasks.go
Due: bootstrap, pipe-go, update-docker-hub-readme

refactor(internal): extract gitlab and report/iac, add mockery bootstrap
  .gitlab-ci.trigger.yml
  .gitlab-ci.yml
  .golangci.yml
  .mockery.yaml
  .rgignore
  Taskfile.yml
  common/gitlab/upsert_test.go
  go.mod
  go.sum
  internal/ci/flags.go
  internal/ci/flags_test.go
  internal/gitlab/modules.go
  internal/gitlab/notes.go
  internal/gitlab/report.go
  internal/gitlab/report_test.go
  internal/gitlab/suite_test.go
  internal/gitlab/upsert_test.go
  internal/report/iac/assets/mr-report.md.gotmpl
  internal/report/iac/report.go
  internal/report/iac/report_test.go
  internal/report/iac/suite_test.go
  internal/report/iac/summary.go
  internal/report/iac/tasks.go
  internal/test/mocks/gitlab/module_registry.go
  internal/test/mocks/gitlab/notes.go
  pulumi/preview/flags.go
  pulumi/preview/pipe.go
  pulumi/preview/report.go
  pulumi/preview/report_test.go
  pulumi/preview/tasks.go
  terraform/plan/flags.go
  terraform/plan/pipe.go
  terraform/plan/report.go
  terraform/plan/report_test.go
  terraform/plan/tasks.go
  terraform/publish/pipe.go
  terraform/publish/tasks.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

docs(pipes): regenerate readmes for shared setup and login flags
  buildah/README.md
  go/README.md
  helm/README.md
  kustomize/README.md
  pulumi/README.md
  semantic-release/README.md
  terraform/README.md
  update-docker-hub-readme/README.md
Due: bootstrap, pipe-buildah, pipe-go, pipe-helm, pipe-pulumi, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

chore(deps): bump plumber to v6.5.0
  internal/go.mod
  internal/go.sum
  pipes/buildah/go.mod
  pipes/buildah/go.sum
  pipes/go/go.mod
  pipes/go/go.sum
  pipes/helm/go.mod
  pipes/helm/go.sum
  pipes/kustomize/go.mod
  pipes/kustomize/go.sum
  pipes/node/go.mod
  pipes/node/go.sum
  pipes/pulumi/go.mod
  pipes/pulumi/go.sum
  pipes/select-env/go.mod
  pipes/select-env/go.sum
  pipes/semantic-release/go.mod
  pipes/semantic-release/go.sum
  pipes/terraform/go.mod
  pipes/terraform/go.sum
  pipes/update-docker-hub-readme/go.mod
  pipes/update-docker-hub-readme/go.sum
  template/go.mod
  template/go.sum
Due: none

feat(internal): add cli composer and test fixtures
  internal/cli/compose.go
  internal/cli/compose_test.go
  internal/go.sum
  internal/test/fixtures/plumber.go
  internal/test/fixtures/runner.go
  pipes/terraform/go.mod
Due: none

refactor(terraform): apply typed Deps and composer pattern
  terraform/apply/pipe.go
  terraform/apply/tasks.go
  terraform/install/pipe.go
  terraform/install/tasks.go
  terraform/lint/pipe.go
  terraform/lint/tasks.go
  terraform/login/pipe.go
  terraform/login/tasks.go
  terraform/main.go
  terraform/plan/pipe.go
  terraform/plan/tasks.go
  terraform/plan/tasks_test.go
  terraform/publish/pipe.go
  terraform/setup/pipe.go
  terraform/state/pipe.go
  terraform/state/tasks.go
Due: pipe-terraform

refactor(pulumi): apply typed Deps and composer pattern
  pulumi/main.go
  pulumi/preview/pipe.go
  pulumi/preview/tasks.go
  pulumi/preview/tasks_test.go
  pulumi/setup/pipe.go
  pulumi/stack/pipe.go
  pulumi/stack/tasks.go
  pulumi/up/pipe.go
  pulumi/up/tasks.go
Due: pipe-pulumi

refactor(buildah,helm): apply typed Deps and composer pattern
  buildah/build/pipe.go
  buildah/build/suite_test.go
  buildah/build/tasks_tags.go
  buildah/build/tasks_test.go
  buildah/go.mod
  buildah/go.sum
  buildah/login/flags.go
  buildah/login/pipe.go
  buildah/main.go
  buildah/manifest/pipe.go
  buildah/setup/pipe.go
  helm/go.mod
  helm/go.sum
  helm/install/flags.go
  helm/install/pipe.go
  helm/install/tasks.go
  helm/lint/pipe.go
  helm/lint/tasks.go
  helm/login/flags.go
  helm/login/pipe.go
  helm/main.go
  helm/publish/pipe.go
  helm/publish/suite_test.go
  helm/publish/tasks.go
  helm/publish/tasks_test.go
  helm/publish/tasks_versions.go
  helm/setup/pipe.go
  internal/registry/login.go
Due: bootstrap, pipe-buildah, pipe-helm

refactor(go,kustomize): apply typed Deps and composer pattern
  go/build/pipe.go
  go/build/suite_test.go
  go/build/tasks.go
  go/build/tasks_test.go
  go/go.mod
  go/go.sum
  go/install/pipe.go
  go/install/tasks.go
  go/lint/pipe.go
  go/lint/tasks.go
  go/main.go
  go/setup/pipe.go
  go/setup/tasks.go
  go/tool/pipe.go
  go/tool/tasks.go
  kustomize/build/pipe.go
  kustomize/build/tasks.go
  kustomize/go.mod
  kustomize/go.sum
  kustomize/main.go
  kustomize/setup/pipe.go
  kustomize/setup/suite_test.go
  kustomize/setup/tasks_test.go
Due: bootstrap, pipe-go

refactor(node): apply typed Deps and composer pattern
  node/add/pipe.go
  node/add/suite_test.go
  node/add/tasks.go
  node/add/tasks_test.go
  node/build/pipe.go
  node/build/suite_test.go
  node/build/tasks.go
  node/build/tasks_test.go
  node/go.mod
  node/go.sum
  node/install/pipe.go
  node/install/suite_test.go
  node/install/tasks.go
  node/install/tasks_test.go
  node/main.go
  node/run/pipe.go
  node/run/suite_test.go
  node/run/tasks.go
  node/run/tasks_test.go
  node/setup/setup.go
Due: pipe-node, pipe-semantic-release

refactor(select-env,semantic-release,update-docker-hub-readme): apply typed Deps and composer pattern
  .mockery.yaml
  select-env/go.mod
  select-env/go.sum
  select-env/main.go
  select-env/setup/setup.go
  select-env/write/pipe.go
  select-env/write/suite_test.go
  select-env/write/tasks.go
  select-env/write/tasks_test.go
  semantic-release/go.mod
  semantic-release/go.sum
  semantic-release/main.go
  semantic-release/release/pipe.go
  semantic-release/release/suite_test.go
  semantic-release/release/tasks_test.go
  semantic-release/setup/setup.go
  update-docker-hub-readme/go.mod
  update-docker-hub-readme/go.sum
  update-docker-hub-readme/hub/hub.go
  update-docker-hub-readme/hub/hub_test.go
  update-docker-hub-readme/hub/suite_test.go
  update-docker-hub-readme/main.go
  update-docker-hub-readme/pipe/constants.go
  update-docker-hub-readme/pipe/interfaces.go
  update-docker-hub-readme/pipe/tasks.go
  update-docker-hub-readme/pipe/utils.go
  update-docker-hub-readme/test/mocks/hub/client.go
  update-docker-hub-readme/update/flags.go
  update-docker-hub-readme/update/interfaces.go
  update-docker-hub-readme/update/pipe.go
  update-docker-hub-readme/update/suite_test.go
  update-docker-hub-readme/update/tasks.go
  update-docker-hub-readme/update/tasks_test.go
Due: pipe-node, pipe-select-env, pipe-semantic-release, pipe-update-docker-hub-readme

feat(tests): add conformance suite and pipes manifest
  buildah/go.mod
  go.work
  pipes.yaml
  pulumi/go.mod
  semantic-release/go.mod
  terraform/go.mod
  tests/go.mod
  tests/go.sum
  tests/legacy_env.go
  tests/manifest.go
  tests/manifest_test.go
  tests/pipes.go
  tests/pipes_test.go
  tests/readme_test.go
  tests/suite_test.go
Due: bootstrap, pipe-buildah, pipe-pulumi, pipe-semantic-release, pipe-terraform

chore(pipes): final cleanup — Dockerfile rename, stale file removal
  .gitlab-ci.yml
  pulumi/Dockerfile
  template/main.go
  template/version.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(tests): format conformance assertions
  tests/pipes_test.go
  tests/readme_test.go
Due: none

fix(ci): run install and lint with the pipe this branch builds
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(ci): point GOPATH and GOCACHE at the cached directories
  .gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

feat(go): add explicit workspace mode
  go/README.md
  go/app/app.go
  go/app/app_test.go
  go/install/pipe.go
  go/install/suite_test.go
  go/install/tasks.go
  go/install/tasks_test.go
  go/lint/flags.go
  go/lint/pipe.go
  go/lint/suite_test.go
  go/lint/tasks.go
  go/lint/tasks_test.go
  go/setup/flags.go
  go/setup/pipe.go
  go/setup/suite_test.go
  go/setup/tasks.go
  go/setup/tasks_test.go
  tests/legacy_env.go
Due: bootstrap, pipe-go, update-docker-hub-readme

test(terraform): stop the plan specs reading the pipeline they run in
  terraform/app/app_test.go
  terraform/plan/tasks_test.go
Due: pipe-terraform

fix(ci): run tests with ginkgo runner
  .gitignore
  .gitlab-ci.yml
  Taskfile.pipe.yml
  Taskfile.yml
  go/build/tasks_test.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update go all minor dependency updates
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module gitlab.com/gitlab-org/api/client-go/v2 to v2.64.0
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/onsi/ginkgo/v2 to v2.32.2
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

Path conditions:
  bootstrap: (any of: .gitlab-ci.next.yml, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.bootstrap.yml, go/**/*, buildah/**/*) or (any of: go/**, buildah/**, .bootstrap.gitlab-ci.yml)
  go: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, go/
  buildah: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, buildah/
  pipe-template: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, _template/**/*
  pipe-buildah: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, buildah/**/*
  pipe-docker: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, docker/**/*
  pipe-go: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, go/**/*
  pipe-helm: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, helm/**/*
  pipe-markdown-toc: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, markdown-toc/**/*
  pipe-node: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, node/**/*, select-env/**/*
  pipe-pulumi: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, pulumi/**/*
  pipe-select-env: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, select-env/**/*
  pipe-semantic-release: (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**/*, select-env/**/*, node/**/*) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**, select-env/**/*, node/**/*)
  pipe-terraform: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, terraform/**/*
  pipe-update-docker-hub-readme: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, update-docker-hub-readme/**/*
  update-docker-hub-readme: any of: **/README.md
