Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

publish-first-docker:
  stage: publish-first
  before_script:
  - cd $DOCKER_CONTEXT
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  variables:
    DOCKER_CONTEXT: ./docker
  ...

publish-first-gl-artifacts:
  stage: publish-first
  before_script:
  - cd $DOCKER_CONTEXT
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build --pull -t $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE .
  - docker push $CI_REGISTRY_IMAGE/$CONTAINER_IMAGE
  tags:
  - docker
  variables:
  ...

publish-docker:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./docker
    DOCKER_IMAGE_NAME: gitlab-pipes-docker
    IMAGE_TAGS: latest
    PARENT_DOWNLOAD_ARTIFACTS: 'build: [./docker]'

publish-node:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./node
    DOCKER_IMAGE_NAME: gitlab-pipes-node
    PARENT_DOWNLOAD_ARTIFACTS: 'build: [./node]'
  parallel:
    matrix:
  ...

publish-gl-artifacts:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./gl-artifacts
    DOCKER_IMAGE_NAME: gitlab-pipes-gl-artifacts
    IMAGE_TAGS: latest
  ...

publish-gh-release-tracker:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./gh-release-tracker
    DOCKER_IMAGE_NAME: cenk1cenk2/pipe-gh-release-tracker
    IMAGE_TAGS: latest
  ...

publish-markdown-toc:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./markdown-toc
    IMAGE_NAME: cenk1cenk2/pipe-markdown-toc
    IMAGE_TAGS: latest
  ...

publish-update-docker-hub-readme:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./update-docker-hub-readme
    IMAGE_NAME: cenk1cenk2/pipe-update-docker-hub-readme
    IMAGE_TAGS: latest
  ...

publish-semantic-release:
  stage: publish
  trigger:
    include:
    - project: devops/pipes
      file: /templates/docker-build-with-artifacts-dockerhub.gitlab-ci.yml
    strategy: depend
  variables:
    DOCKERFILE_CONTEXT: ./semantic-release
    IMAGE_NAME: cenk1cenk2/pipe-semantic-release
    IMAGE_TAGS: latest
  ...

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.22.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.22.2
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

refactor: use task files instead of makefiles, refactors plumber template injection
  .gitignore
  .tasks.json
  Makefile
  Taskfile.pipe.yml
  Taskfile.yml
  _template/Makefile
  _template/README.md
  common/flags/defaults.go
  common/utils/inline_template.go
  docker/Makefile
  docker/README.md
  docker/pipe/flags.go
  gh-release-tracker/Makefile
  gh-release-tracker/README.md
  gl-artifacts/Makefile
  gl-artifacts/README.md
  go.mod
  go.sum
  markdown-toc/Makefile
  markdown-toc/README.md
  node/Makefile
  node/README.md
  s3-upload/Makefile
  s3-upload/README.md
  select-env/Makefile
  select-env/README.md
  semantic-release/Makefile
  semantic-release/README.md
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-lint.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
  update-docker-hub-readme/Makefile
  update-docker-hub-readme/README.md
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: install script
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-lint.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
Due: none

fix: use posix shell
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-lint.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
Due: none

fix: add back golintci
  templates/go-lint.gitlab-ci.yml
Due: none

fix: update command for wget
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-lint.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
Due: none

perf: update pipes with new build methodology
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: add lint as default
  templates/go-lint.gitlab-ci.yml
Due: none

ci: update ci configuration
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: dont change to the folder
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: plumber bug with exit handlers not initiating early
  Taskfile.pipe.yml
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

build: build issue
  .gitignore
  Taskfile.yml
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

docs: update flag documentation
  common/flags/select_env.go
  common/flags/tags_file.go
  docker/README.md
  docker/pipe/flags.go
  gl-artifacts/README.md
  gl-artifacts/pipe/flags.go
  markdown-toc/README.md
  markdown-toc/pipe/flags.go
  node/README.md
  node/install/flags.go
  select-env/README.md
  select-env/setup/flags.go
  semantic-release/README.md
  semantic-release/pipe/flags.go
  update-docker-hub-readme/README.md
  update-docker-hub-readme/pipe/flags.go
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.25.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.26.1
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: update configuration
  .gitlab-ci.yml
  gl-artifacts/Dockerfile
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: update ci
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

feat: add default to thing
  docker/pipe/flags.go
Due: publish-first-docker, publish-docker

docs: update docs
  docker/README.md
Due: publish-first-docker, publish-docker

ci: use base images without buildkit
  docker/Dockerfile
  gl-artifacts/Dockerfile
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-gl-artifacts

ci: update ci variables
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: update deprecated variables
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix(deps): update module gitlab.kilic.dev/libraries/plumber/v4 to v4.27.3
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update dead variables
  markdown-toc/pipe/flags.go
  semantic-release/README.md
  semantic-release/pipe/flags.go
  semantic-release/pipe/pipe.go
  semantic-release/pipe/tasks.go
  update-docker-hub-readme/README.md
  update-docker-hub-readme/pipe/flags.go
Due: publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: update template issue with internal upload
  templates/docker-build.gitlab-ci.yml
Due: none

ci: add docker build pipe for golang apps
  .gitlab-ci.yml
  docker/pipe/tasks_tags.go
  go.mod
  go.sum
  go/Dockerfile-alpine
  go/README.md
  markdown-toc/pipe/tasks.go
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-lint.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
  templates/go.gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: change the order
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: fix name of container
  docker/pipe/tasks_build.go
  templates/go-build.gitlab-ci.yml
  templates/go-install.gitlab-ci.yml
  templates/go-lint.gitlab-ci.yml
  templates/go-test.gitlab-ci.yml
Due: publish-first-docker, publish-docker

ci: add missing parent pipeline id
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

fix: test command
  templates/go-test.gitlab-ci.yml
Due: none

chore: update
  go.mod
  go.sum
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: try arm64 build
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: update tags
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: update image
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: try to update manifest for go container
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: update pushing manifest
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

ci: update variables
  .gitlab-ci.yml
Due: publish-first-docker, publish-first-gl-artifacts, publish-docker, publish-node, publish-gl-artifacts, publish-gh-release-tracker, publish-markdown-toc, publish-update-docker-hub-readme, publish-semantic-release

Path conditions:
  publish-first-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-first-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-docker: any of: docker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-node: any of: node/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gl-artifacts: any of: gl-artifacts/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-gh-release-tracker: any of: gh-release-tracker/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-markdown-toc: any of: markdown-toc/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-update-docker-hub-readme: any of: update-docker-hub-readme/**/*, go.mod, go.sum, .gitlab-ci.yml
  publish-semantic-release: any of: semantic-release/**/*, node/**/*, go.mod, go.sum, .gitlab-ci.yml
