Repository cenk1cenk2/pipes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bootstrap, go, buildah, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme, update-docker-hub-readme

Path conditions:
  bootstrap: (any of: .gitlab-ci.next.yml, .gitlab-ci.bootstrap.yml, go/, buildah/) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.bootstrap.yml, go/**/*, buildah/**/*) or (any of: go/**, buildah/**, .bootstrap.gitlab-ci.yml)
  go: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, go/
  buildah: any of: .gitlab-ci.next.yml, .gitlab-ci.pipe.yml, buildah/
  pipe-template: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, _template/**/*
  pipe-buildah: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, buildah/**/*
  pipe-docker: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, docker/**/*
  pipe-go: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, go/**/*
  pipe-helm: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, helm/**/*
  pipe-markdown-toc: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, markdown-toc/**/*
  pipe-node: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, node/**/*, select-env/**/*
  pipe-pulumi: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, pulumi/**/*
  pipe-select-env: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, select-env/**/*
  pipe-semantic-release: (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**/*, select-env/**/*, node/**/*) or (any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, semantic-release/**, select-env/**/*, node/**/*)
  pipe-terraform: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, terraform/**/*
  pipe-update-docker-hub-readme: any of: .gitlab-ci.yml, go.mod, go.sum, .gitlab-ci.pipe.yml, update-docker-hub-readme/**/*
  update-docker-hub-readme: any of: **/README.md

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.8
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module gopkg.in/yaml.v2 to v3
  go.mod
  go.sum
  helm/publish/flags.go
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module helm.sh/helm/v4 to v4.0.1
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.9
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module helm.sh/helm/v4 to v4.0.2
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module helm.sh/helm/v4 to v4.0.4
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.10
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: give a path for helm4 to lint
  helm/lint/tasks.go
Due: pipe-helm

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.11
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.12
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.13
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/bmatcuk/doublestar/v4 to v4.9.2
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.14
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: update docker hub readme to use container image name as well
  update-docker-hub-readme/pipe/flags.go
Due: pipe-update-docker-hub-readme

fix: update targeting
  buildah/manifest/tasks.go
Due: bootstrap, pipe-buildah

fix: typo
  buildah/manifest/tasks.go
Due: bootstrap, pipe-buildah

fix: update with manifesting
  buildah/manifest/tasks.go
Due: bootstrap, pipe-buildah

fix: update registry
  buildah/login/pipe.go
Due: bootstrap, pipe-buildah

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.15
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module helm.sh/helm/v4 to v4.0.5
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/sirupsen/logrus to v1.9.4
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.16
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module gitlab.kilic.dev/libraries/go-utils/v2 to v2.2.4
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.17
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/urfave/cli/v3 to v3.6.2
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.18
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update go all minor dependency updates
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/bmatcuk/doublestar/v4 to v4.10.0
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.20
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.21
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.22
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/urfave/cli/v3 to v3.7.0
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/cenk1cenk2/plumber/v6 to v6.3.23
  go.mod
  go.sum
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: update publish mechansim for helm4
  helm/publish/flags.go
  helm/publish/pipe.go
  helm/publish/tasks.go
Due: pipe-helm

fix(deps): update go all minor dependency updates
  go.mod
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix(deps): update module github.com/ekalinin/github-markdown-toc.go to v2
  go.mod
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: remove external dependencies
  .gitlab-ci.bootstrap.yml
  .gitlab-ci.yml
  Taskfile.yml
  buildah/manifest/tasks.go
  docker/build/tasks_tags.go
  docker/manifest/tasks.go
  go.mod
  go.sum
  markdown-toc/pipe/tasks.go
  templates/go.gitlab-ci.yml
Due: bootstrap, pipe-template, pipe-buildah, pipe-docker, pipe-go, pipe-helm, pipe-markdown-toc, pipe-node, pipe-pulumi, pipe-select-env, pipe-semantic-release, pipe-terraform, pipe-update-docker-hub-readme

fix: update variable
  templates/v2/semantic-release.gitlab-ci.yml
Due: none
